data/interop/datatypes/binary/binary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root" >
        <xs:complexType>
            <!-- Built-in Type: Base64 and hexBinary-->
            <xs:sequence>
                <xs:element name="base64value"  type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="hexvalue"  type="xs:hexBinary" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="base64value" type="xs:base64Binary" use="optional"/>
            <xs:attribute name="hexvalue" type="xs:hexBinary" use="optional"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
