data/ASMTF/cssstate/composites.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="asmtf2006:composite" xml:lang="en-US" version="1.1"
 xmlns="asmtf2006:composite"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:f="asmtf2006:field"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="asmtf2006:field" schemaLocation="fields.xsd"/>

  <xsd:complexType name="date.75">
    <xsd:sequence>
      <xsd:element name="year" type="f:year.21.1"/>
      <xsd:element name="month_numeric" type="f:month.numeric.22.1"/>
      <xsd:element name="day" type="f:day.23.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.day.month.year.87">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="month_numeric" type="f:month.numeric.22.1"/>
      <xsd:element name="year" type="f:year.21.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="plan.originator.and.number.102">
    <xsd:sequence>
      <xsd:element name="plan_originator" type="f:plan.originator.146.11"/>
      <xsd:element name="mandatory_space" type="f:mandatory.space.213.4"/>
      <xsd:element name="operation_plan_number" type="f:operation.plan.number.487.168"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="military.day.time.143">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="hour_time" type="f:hour.time.24.1"/>
      <xsd:element name="minute_time" type="f:minute.time.25.1"/>
      <xsd:element name="time_zone" type="f:time.zone.26.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="alphamonth.year.176">
    <xsd:sequence>
      <xsd:element name="month_name" type="f:month.name.580.1"/>
      <xsd:element name="year" type="f:year.21.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.time.group.647">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="hour_time" type="f:hour.time.24.1"/>
      <xsd:element name="minute_time" type="f:minute.time.25.1"/>
      <xsd:element name="time_zone" type="f:time.zone.26.1"/>
      <xsd:element name="month_name" type="f:month.name.580.1"/>
      <xsd:element name="year" type="f:year.21.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.day.alphamonth.year.649">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="month_name" type="f:month.name.580.1"/>
      <xsd:element name="year" type="f:year.21.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="day.time.and.month.2044">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="hour_time" type="f:hour.time.24.1"/>
      <xsd:element name="minute_time" type="f:minute.time.25.1"/>
      <xsd:element name="time_zone" type="f:time.zone.26.1"/>
      <xsd:element name="month_name" type="f:month.name.580.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.time.group.dtg.7069">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="hour_time" type="f:hour.time.24.1"/>
      <xsd:element name="minute_time" type="f:minute.time.25.1"/>
      <xsd:element name="time_zone" type="f:time.zone.26.1"/>
      <xsd:element name="month_name" type="f:month.name.580.1"/>
      <xsd:element name="year" type="f:year.21.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="pol.supply.quantity.litres.7209">
    <xsd:sequence>
      <xsd:element name="packaged_quantity_of_petroleum_litres" type="f:packaged.quantity.of.petroleum.litres.7113.40"/>
      <xsd:element name="hyphen" type="f:hyphen.213.2"/>
      <xsd:element name="percentage_of_petroleum_held" type="f:percentage.of.petroleum.held.7160.13"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ammunition.state.units.7211">
    <xsd:sequence>
      <xsd:element name="target_ammunition_stock_level_percentage" type="f:target.ammunition.stock.level.percentage.7160.14"/>
      <xsd:element name="hyphen" type="f:hyphen.213.2"/>
      <xsd:element name="lines_of_ammunition" type="f:lines.of.ammunition.7212.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ammunition.state.for.formation.and.force.7213">
    <xsd:sequence>
      <xsd:element name="target_ammunition_stock_level_percentage" type="f:target.ammunition.stock.level.percentage.7160.14"/>
      <xsd:element name="hyphen_1" type="f:hyphen.213.2"/>
      <xsd:element name="lines_of_ammunition" type="f:lines.of.ammunition.7212.7"/>
      <xsd:element name="hyphen_2" type="f:hyphen.213.2"/>
      <xsd:element name="ammunition_tonnage" type="f:ammunition.tonnage.7212.2"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="potable.water.state.7214">
    <xsd:sequence>
      <xsd:element name="water_capacity_bulk_expressed_in_litres" type="f:water.capacity.bulk.expressed.in.litres.7212.3"/>
      <xsd:element name="hyphen_1" type="f:hyphen.213.2"/>
      <xsd:element name="water_capacity_packaged" type="f:water.capacity.packaged.7212.4"/>
      <xsd:element name="hyphen_2" type="f:hyphen.213.2"/>
      <xsd:element name="water_capacity_bottled" type="f:water.capacity.bottled.7212.5"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="potable.water.state.percentage.7215">
    <xsd:sequence>
      <xsd:element name="potable_water_held_bulk_percentage" type="f:potable.water.held.bulk.percentage.7160.15"/>
      <xsd:element name="hyphen_1" type="f:hyphen.213.2"/>
      <xsd:element name="potable_water_held_packaged_percentage" type="f:potable.water.held.packaged.percentage.7160.16"/>
      <xsd:element name="hyphen_2" type="f:hyphen.213.2"/>
      <xsd:element name="potable_water_held_bottled_percentage" type="f:potable.water.held.bottled.percentage.7160.17"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="lost.and.destroyed.7227">
    <xsd:sequence>
      <xsd:element name="number_lost" type="f:number.lost.7220.6"/>
      <xsd:element name="hyphen" type="f:hyphen.213.2"/>
      <xsd:element name="number_destroyed" type="f:number.destroyed.7220.7"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="backlog.and.maintenance.capability.7229">
    <xsd:sequence>
      <xsd:element name="current_backlog_in_hours" type="f:current.backlog.in.hours.7169.3"/>
      <xsd:element name="hyphen_1" type="f:hyphen.213.2"/>
      <xsd:element name="daily_miantenance_capacity_in_hours" type="f:daily.miantenance.capacity.in.hours.7169.4"/>
      <xsd:element name="hyphen_2" type="f:hyphen.213.2"/>
      <xsd:element name="approved_backlog_in_hours" type="f:approved.backlog.in.hours.7169.5"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="total.hours.7230">
    <xsd:sequence>
      <xsd:element name="current_backlog_in_hours" type="f:current.backlog.in.hours.7169.3"/>
      <xsd:element name="hyphen" type="f:hyphen.213.2"/>
      <xsd:element name="daily_miantenance_capacity_in_hours" type="f:daily.miantenance.capacity.in.hours.7169.4"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
