data/ASMTF/cssstate/fields.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="asmtf2006:field" xml:lang="en-US" version="1.1"
 xmlns="asmtf2006:field"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>

  <xsd:complexType name="free.text">
    <xsd:simpleContent>
      <xsd:extension base="free.text.base.type">
        <xsd:attribute ref="xml:space"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:simpleType name="free.text.base.type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([:A-Z0-9&#x20;\.,\(\)\?\-!@#$%\^&amp;\*=_\+\[\]\{\}\\&quot;';&gt;&lt;~`\|a-z\t\n]([:A-Z0-9&#x20;\.,\(\)\?\-!@#$%\^&amp;\*=_\+\[\]\{\}\\&quot;';&gt;&lt;~`\|a-z\t\n]|://|/[:A-Z0-9&#x20;\.,\(\)\?\-!@#$%\^&amp;\*=_\+\[\]\{\}\\&quot;';&gt;&lt;~`\|a-z\t\n])*)"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="year.21.1">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0000"/>
      <xsd:maxInclusive value="9999"/>
      <xsd:pattern value="[0-9]{4}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="month.numeric.22.1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="01"/>
      <xsd:enumeration value="02"/>
      <xsd:enumeration value="03"/>
      <xsd:enumeration value="04"/>
      <xsd:enumeration value="05"/>
      <xsd:enumeration value="06"/>
      <xsd:enumeration value="07"/>
      <xsd:enumeration value="08"/>
      <xsd:enumeration value="09"/>
      <xsd:enumeration value="10"/>
      <xsd:enumeration value="11"/>
      <xsd:enumeration value="12"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="day.23.1">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="01"/>
      <xsd:maxInclusive value="31"/>
      <xsd:pattern value="[0-9]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="hour.time.24.1">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="00"/>
      <xsd:maxInclusive value="23"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="minute.time.25.1">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="00"/>
      <xsd:maxInclusive value="59"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="time.zone.26.1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="A"/>
      <xsd:enumeration value="B"/>
      <xsd:enumeration value="C"/>
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="D"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="E"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="F"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="G"/>
      <xsd:enumeration value="H"/>
      <xsd:enumeration value="I"/>
      <xsd:enumeration value="4"/>
      <xsd:enumeration value="K"/>
      <xsd:enumeration value="5"/>
      <xsd:enumeration value="L"/>
      <xsd:enumeration value="6"/>
      <xsd:enumeration value="M"/>
      <xsd:enumeration value="Y"/>
      <xsd:enumeration value="X"/>
      <xsd:enumeration value="W"/>
      <xsd:enumeration value="9"/>
      <xsd:enumeration value="V"/>
      <xsd:enumeration value="8"/>
      <xsd:enumeration value="U"/>
      <xsd:enumeration value="T"/>
      <xsd:enumeration value="S"/>
      <xsd:enumeration value="R"/>
      <xsd:enumeration value="Q"/>
      <xsd:enumeration value="7"/>
      <xsd:enumeration value="P"/>
      <xsd:enumeration value="O"/>
      <xsd:enumeration value="N"/>
      <xsd:enumeration value="Z"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="message.text.format.identifier.50.9">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="2"/>
      <xsd:maxLength value="20"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{2,20}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="originator.146.1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="30"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,30}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="plan.originator.146.11">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="3"/>
      <xsd:maxLength value="20"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{3,20}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="message.serial.number.147.5">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="7"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,7}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="hyphen.213.2">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="-"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="mandatory.space.213.4">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
      <xsd:pattern value="[&#x20;]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="sic.code.332.1">
    <xsd:restriction base="xsd:string">
      <xsd:length value="3"/>
      <xsd:pattern value="[A-Z0-9]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="exercise.nickname.335.1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="56"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,56}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="exercise.message.additional.identifier.335.2">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="16"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,16}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="exercise.additional.identifier.335.7">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CONTROL"/>
      <xsd:enumeration value="UMPIRE EYES ONLY"/>
      <xsd:enumeration value="BLUE"/>
      <xsd:enumeration value="ORANGE"/>
      <xsd:enumeration value="DISTAFF"/>
      <xsd:enumeration value="DRILL"/>
      <xsd:enumeration value="NODUF"/>
      <xsd:enumeration value="NO PLAY"/>
      <xsd:enumeration value="PURPLE"/>
      <xsd:enumeration value="UMPIRE"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="operation.codeword.336.1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="32"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,32}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="gentext.text.indicator.358.2">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="61"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,61}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="heading.information.358.3">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="61"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,61}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="serial.number.of.qualifier.487.17">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="filing.number.487.29">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="10"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,10}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="operation.plan.number.487.168">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="15"/>
      <xsd:pattern value="[A-Z0-9\.,\(\)\?\-]{1,15}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="serial.number.of.reference.487.219">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="10"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,10}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="reference.description.500.85">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="56"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,56}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="qualifier.568.1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AMP"/>
      <xsd:enumeration value="CHG"/>
      <xsd:enumeration value="DEV"/>
      <xsd:enumeration value="PER"/>
      <xsd:enumeration value="REQ"/>
      <xsd:enumeration value="BLK"/>
      <xsd:enumeration value="FIN"/>
      <xsd:enumeration value="FUP"/>
      <xsd:enumeration value="INI"/>
      <xsd:enumeration value="UPD"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="month.name.580.1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="JAN"/>
      <xsd:enumeration value="FEB"/>
      <xsd:enumeration value="MAR"/>
      <xsd:enumeration value="APR"/>
      <xsd:enumeration value="MAY"/>
      <xsd:enumeration value="JUN"/>
      <xsd:enumeration value="JUL"/>
      <xsd:enumeration value="AUG"/>
      <xsd:enumeration value="SEP"/>
      <xsd:enumeration value="OCT"/>
      <xsd:enumeration value="NOV"/>
      <xsd:enumeration value="DEC"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="option.nickname.585.1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="23"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,23}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="secondary.option.nickname.585.2">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="23"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,23}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="serial.identifier.636.1">
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:length value="1"/>
          <xsd:pattern value="[A-Z]"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:length value="2"/>
          <xsd:pattern value="[A-Z][A-Z]"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>

  <xsd:simpleType name="derivative.source.for.classification.679.1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="55"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,55}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="declassification.instructions.679.2">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="61"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,61}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="original.classification.authority.679.4">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="55"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,55}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="reason.for.classification.679.5">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="14B"/>
      <xsd:enumeration value="14D"/>
      <xsd:enumeration value="14C"/>
      <xsd:enumeration value="14A"/>
      <xsd:enumeration value="14E"/>
      <xsd:enumeration value="14F"/>
      <xsd:enumeration value="14G"/>
      <xsd:enumeration value="14H"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="downgrade.instructions.679.6">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="61"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,61}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="special.notation.1042.1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NOTAL"/>
      <xsd:enumeration value="PASEP"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="potable.water.making.capability.comment.7008.22">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="potable.water.state.comment.7008.23">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="perstate.comment.7008.24">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="aircraft.state.comment.7008.25">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="air.delivery.equipment.comment.7008.26">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ration.state.comment.7008.37">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="pol.state.comments.7008.38">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ammunition.comments.7008.39">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="a.vehicle.comments.7008.40">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="b.vehicle.comments.7008.41">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="c.and.d.vehicle.comment.7008.42">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="water.craft.comment.7008.43">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="major.weapon.comment.7008.44">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="bulk.refrigeration.comment.7008.45">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="daily.backlog.and.maintenance.comment.7008.46">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="68"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,68}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="css.state.pol.codes.7025.10">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AVGAS"/>
      <xsd:enumeration value="AVTUR"/>
      <xsd:enumeration value="DIESO"/>
      <xsd:enumeration value="LPG"/>
      <xsd:enumeration value="MSP"/>
      <xsd:enumeration value="ULP"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="other.pol.codes.7025.11">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="5"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,5}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="commanders.assessment.7075.6">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FULLY OPERATIONAL"/>
      <xsd:enumeration value="MARGINALLY OPERATIONAL"/>
      <xsd:enumeration value="NON-OPERATIONAL"/>
      <xsd:enumeration value="SUBSTANTIALLY OPERATIONAL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="packaged.quantity.of.petroleum.litres.7113.40">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="percentage.of.petroleum.held.7160.13">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="target.ammunition.stock.level.percentage.7160.14">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="potable.water.held.bulk.percentage.7160.15">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="potable.water.held.packaged.percentage.7160.16">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="potable.water.held.bottled.percentage.7160.17">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="potable.water.making.capacity.in.percentage.7160.18">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="percentage.of.equipment.available.7160.21">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="percentage.of.aircraft.serviceable.7160.22">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="100"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="current.backlog.in.hours.7169.3">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="daily.miantenance.capacity.in.hours.7169.4">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="approved.backlog.in.hours.7169.5">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="force.composition.element.7203.2">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FORCE"/>
      <xsd:enumeration value="FMN"/>
      <xsd:enumeration value="UNIT"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="number.of.males.7204.2">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="number.of.females.7204.3">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="number.of.military.personnel.7204.4">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="number.of.civilian.personnel.7204.5">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="military.priority.one.personnel.7204.6">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="military.priority.two.personnel.7204.7">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="military.priority.three.personnel.7204.8">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="civilian.priority.one.personnel.7204.9">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="civilian.priority.two.personnel.7204.10">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="civilian.priority.three.personnel.7204.11">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="military.prisoner.of.war.total.7204.12">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="military.prisoner.of.war.casualties.priority.one.7204.13">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="military.prisoner.of.war.casualties.priority.two.7204.14">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="military.prisoner.of.war.casualties.priority.three.7204.15">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="civilian.detainees.total.7204.16">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="civilian.casualty.detainees.priority.one.7204.17">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="civilian.casualty.detainees.priority.two.7204.18">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="civilian.casualty.detainees.priority.three.7204.19">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="total.number.of.personnel.7204.54">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="99999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="prisoner.of.war.7205.2">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CAS"/>
      <xsd:enumeration value="TOTAL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="civilian.detainees.7205.3">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CAS"/>
      <xsd:enumeration value="TOTAL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="personnel.7205.4">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ATT CIV"/>
      <xsd:enumeration value="ATT OFF"/>
      <xsd:enumeration value="ATT OR"/>
      <xsd:enumeration value="ATT WO-SNCO"/>
      <xsd:enumeration value="CIVIL"/>
      <xsd:enumeration value="OFFICER"/>
      <xsd:enumeration value="OR"/>
      <xsd:enumeration value="TOTAL"/>
      <xsd:enumeration value="VISITORS"/>
      <xsd:enumeration value="WO-SNCO"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="own.casualties.7206.1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FNBC"/>
      <xsd:enumeration value="IINBC"/>
      <xsd:enumeration value="KIA"/>
      <xsd:enumeration value="MIA"/>
      <xsd:enumeration value="WIA"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ration.state.indicator.7207.1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="COMBAT RATS"/>
      <xsd:enumeration value="FRESH RATS"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ground.based.ammunition.7210.1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value=".5CAL"/>
      <xsd:enumeration value="105MM"/>
      <xsd:enumeration value="105MM TANK"/>
      <xsd:enumeration value="155MM"/>
      <xsd:enumeration value="25MM"/>
      <xsd:enumeration value="5.56MM"/>
      <xsd:enumeration value="66MM"/>
      <xsd:enumeration value="7.62MM"/>
      <xsd:enumeration value="81MM"/>
      <xsd:enumeration value="84MM"/>
      <xsd:enumeration value="RAPIER"/>
      <xsd:enumeration value="RBS 70"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ground.based.ammunition.other.7210.2">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="10"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,10}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ammunition.tonnage.7212.2">
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="999999"/>
<!--
      <xsd:pattern value="[-0-9]{1,6})|([-0-9{0,5}\."/>
      <xsd:pattern value="[-0-9]{1,6})|([-0-9{0,5}\.[-0-9]{0,4}\.[-0-9]{1}"/>
-->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="water.capacity.bulk.expressed.in.litres.7212.3">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999999999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="water.capacity.packaged.7212.4">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999999999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="water.capacity.bottled.7212.5">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999999999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="potable.water.making.capacity.litres.7212.6">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="9999999999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="lines.of.ammunition.7212.7">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="99"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="potable.water.making.capable.elements.7216.1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CER"/>
      <xsd:enumeration value="FORCE ENGR"/>
      <xsd:enumeration value="HOST NATION"/>
      <xsd:enumeration value="MARITIME"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="b.vehicles.7219.2">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EXC HY (HYMAC) TRACK"/>
      <xsd:enumeration value="FIRE TRUCK GPD"/>
      <xsd:enumeration value="IIMV PIONEER"/>
      <xsd:enumeration value="IIMV"/>
      <xsd:enumeration value="IIMV-MOR"/>
      <xsd:enumeration value="L-CRUISER GPD"/>
      <xsd:enumeration value="MC 600CC"/>
      <xsd:enumeration value="TLR 0.5T"/>
      <xsd:enumeration value="TLR 1T"/>
      <xsd:enumeration value="TLR 20T ISO"/>
      <xsd:enumeration value="TLR BLFT"/>
      <xsd:enumeration value="TLR BLWT"/>
      <xsd:enumeration value="TLR GS 8T"/>
      <xsd:enumeration value="TLR 60T TK-PLT"/>
      <xsd:enumeration value="TLR 20T PLT"/>
      <xsd:enumeration value="6X6 AMB"/>
      <xsd:enumeration value="UNIMOG GS"/>
      <xsd:enumeration value="F-LINER W-C"/>
      <xsd:enumeration value="F-LINER TTF"/>
      <xsd:enumeration value="F-LINER"/>
      <xsd:enumeration value="MACK GS"/>
      <xsd:enumeration value="MACK W-C"/>
      <xsd:enumeration value="MACK W-W"/>
      <xsd:enumeration value="6X6 GS"/>
      <xsd:enumeration value="UNIMOG W-C"/>
      <xsd:enumeration value="UNIMOG TPA"/>
      <xsd:enumeration value="UNIMOG W-W"/>
      <xsd:enumeration value="F-LINER TTW"/>
      <xsd:enumeration value="MACK DUMP"/>
      <xsd:enumeration value="UNIMOG DUMP"/>
      <xsd:enumeration value="MACK REM CAB"/>
      <xsd:enumeration value="6X6 AD FFR"/>
      <xsd:enumeration value="TRUCK COMSEC"/>
      <xsd:enumeration value="LRPV"/>
      <xsd:enumeration value="MACK RECOV"/>
      <xsd:enumeration value="MRV"/>
      <xsd:enumeration value="SRV"/>
      <xsd:enumeration value="TTF"/>
      <xsd:enumeration value="TTW"/>
      <xsd:enumeration value="S LINE"/>
      <xsd:enumeration value="LR GS"/>
      <xsd:enumeration value="LR OTHER"/>
      <xsd:enumeration value="ERV"/>
      <xsd:enumeration value="LR FFR"/>
      <xsd:enumeration value="LR FFR W-W"/>
      <xsd:enumeration value="GMV"/>
      <xsd:enumeration value="LR RCL"/>
      <xsd:enumeration value="LR GS W-W"/>
      <xsd:enumeration value="KFM"/>
      <xsd:enumeration value="W-PURIFIC 2500L (CPC)"/>
      <xsd:enumeration value="W-PURIFIC 7500L (CPC)"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="c.and.d.vehicles.7219.3">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AUGER EARTH TK MTD (PROLINE)"/>
      <xsd:enumeration value="CHUBBY MINE VEH SYS"/>
      <xsd:enumeration value="CET"/>
      <xsd:enumeration value="TADANO"/>
      <xsd:enumeration value="EXC HY (HYMAC) TRACK"/>
      <xsd:enumeration value="F-LIFT 2.5T O-PAV"/>
      <xsd:enumeration value="F-LIFT MERLO"/>
      <xsd:enumeration value="F-LIFT O-PAV TEL-LOAD F-PROOF"/>
      <xsd:enumeration value="F-LIFT R-TERR W-TOP LIFT 20T"/>
      <xsd:enumeration value="F-LIFT R-TERR 2.5T"/>
      <xsd:enumeration value="F-LIFT R-TERR 5T"/>
      <xsd:enumeration value="F-LIFT UP TO 4.9T"/>
      <xsd:enumeration value="GRADER MDM"/>
      <xsd:enumeration value="ROLLER PNEUMATIC TYRED 40000LB"/>
      <xsd:enumeration value="ROLLER TOWED VIB LT 2268LB"/>
      <xsd:enumeration value="SCRAPPER SEMI TRACTOR MDM KOMATSU"/>
      <xsd:enumeration value="TRACK HY DOZER AND RIPPER"/>
      <xsd:enumeration value="TRACT TRUCK HVY ANGLE W-W"/>
      <xsd:enumeration value="TRACT TRACK LT B-HOE AND BKT"/>
      <xsd:enumeration value="TRACT TRACK LT W-DOZER AND RIPPER"/>
      <xsd:enumeration value="TRACT TRACK MDM W-ANGLE DOZER AND WINCH"/>
      <xsd:enumeration value="TRACT TRACK MDM W-DOZER AND RIPPER"/>
      <xsd:enumeration value="TRACT TRACK AB-W HY"/>
      <xsd:enumeration value="TRACT TRACK BD-R HY"/>
      <xsd:enumeration value="TRACT WHEEL LT B-HOE BKT"/>
      <xsd:enumeration value="TRACT WHEEL MDM BKT RIPPER"/>
      <xsd:enumeration value="TRACT DZ CLEARANCE"/>
      <xsd:enumeration value="W-PURIFIC 2000L (CPC)"/>
      <xsd:enumeration value="W-PURIFIC 7500L (CPC)"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="vehicles.other.7219.12">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="39"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,39}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="a.vehicles.7219.14">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ASLAV F"/>
      <xsd:enumeration value="ASLAV 25"/>
      <xsd:enumeration value="ASLAV A"/>
      <xsd:enumeration value="ASLAV C"/>
      <xsd:enumeration value="ASLAV CSV"/>
      <xsd:enumeration value="ASLAV PC"/>
      <xsd:enumeration value="ASLAV S"/>
      <xsd:enumeration value="LR OTHR"/>
      <xsd:enumeration value="ASLAV R"/>
      <xsd:enumeration value="APCA"/>
      <xsd:enumeration value="APC"/>
      <xsd:enumeration value="APCF"/>
      <xsd:enumeration value="APCM"/>
      <xsd:enumeration value="ARVL"/>
      <xsd:enumeration value="TLC"/>
      <xsd:enumeration value="ACV"/>
      <xsd:enumeration value="MBT"/>
      <xsd:enumeration value="MTMC"/>
      <xsd:enumeration value="AVLB"/>
      <xsd:enumeration value="MTD"/>
      <xsd:enumeration value="ARMV"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="number.available.7220.2">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="number.at.unit.repair.7220.3">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="number.at.formation.repair.7220.4">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="number.beyond.formation.repair.7220.5">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="number.lost.7220.6">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="number.destroyed.7220.7">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="total.number.of.entity.7220.8">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="number.of.aircraft.serviceable.7220.9">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="number.in.deeper.maintenance.7220.11">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="css.aircraft.7221.1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="S70A9"/>
      <xsd:enumeration value="C130"/>
      <xsd:enumeration value="CH47D"/>
      <xsd:enumeration value="DHC-4"/>
      <xsd:enumeration value="UH1H"/>
      <xsd:enumeration value="KIOWA"/>
      <xsd:enumeration value="SEA HAWK"/>
      <xsd:enumeration value="SEA KING"/>
      <xsd:enumeration value="B200"/>
      <xsd:enumeration value="DHC-6"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="other.aircraft.7221.2">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="8"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,8}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="css.watercraft.7222.1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LARC5"/>
      <xsd:enumeration value="LCH"/>
      <xsd:enumeration value="LCM8"/>
      <xsd:enumeration value="NT"/>
      <xsd:enumeration value="NLED"/>
      <xsd:enumeration value="NLEP"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="other.watercraft.7222.2">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="10"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,10}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="css.major.weapons.7223.1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MOR 81MM"/>
      <xsd:enumeration value="GUN FD 105MM"/>
      <xsd:enumeration value="GUN MDM 155MM"/>
      <xsd:enumeration value="RAPIER"/>
      <xsd:enumeration value="RBS 70"/>
      <xsd:enumeration value="RAPIER BLINDFIRE"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="other.major.weapons.7223.2">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="4"/>
      <xsd:maxLength value="16"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{4,16}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="css.air.delivery.equipment.ade.7224.1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="15FTEXTLAP"/>
      <xsd:enumeration value="15FTEXTLB"/>
      <xsd:enumeration value="22FTEXT"/>
      <xsd:enumeration value="28FTEXT"/>
      <xsd:enumeration value="68BA"/>
      <xsd:enumeration value="A21BC"/>
      <xsd:enumeration value="A22BC"/>
      <xsd:enumeration value="AAD"/>
      <xsd:enumeration value="ALT111"/>
      <xsd:enumeration value="BL1LOOP"/>
      <xsd:enumeration value="BL3LOOP"/>
      <xsd:enumeration value="C1BA"/>
      <xsd:enumeration value="C1LFLW"/>
      <xsd:enumeration value="C1 NBA"/>
      <xsd:enumeration value="DYTTER"/>
      <xsd:enumeration value="G11A"/>
      <xsd:enumeration value="G11B"/>
      <xsd:enumeration value="G12CAD"/>
      <xsd:enumeration value="G12VBD"/>
      <xsd:enumeration value="MA730"/>
      <xsd:enumeration value="MC1"/>
      <xsd:enumeration value="MC5"/>
      <xsd:enumeration value="RFXC"/>
      <xsd:enumeration value="T100"/>
      <xsd:enumeration value="T10BD"/>
      <xsd:enumeration value="T10R"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="air.delivery.equipment.other.7224.2">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="10"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,10}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="css.bulk.refrigeration.and.generators.7225.1">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="REFRIG PREFAB 28 CUM CAB"/>
      <xsd:enumeration value="REFRIG PREFAB 8.5 CUM CAB"/>
      <xsd:enumeration value="REFRIG UNIT MECH-GAS"/>
      <xsd:enumeration value="REFRIG MECH TRL-MTD 4.2"/>
      <xsd:enumeration value="REFRIG TPT ELEC-POL 4.2"/>
      <xsd:enumeration value="GENSET DIESO 62.5 KVA"/>
      <xsd:enumeration value="GENSET DIESO 125 KVA"/>
      <xsd:enumeration value="GENSET DIESO 500W 24V DC"/>
      <xsd:enumeration value="GENSET GASOLINE 2.5 KVA"/>
      <xsd:enumeration value="GENSET GASOLINE 4.2 KVA"/>
      <xsd:enumeration value="GENSET GASOLINE 10 KVA"/>
      <xsd:enumeration value="GENSET GASOLINE 15 KVA 50 HZ"/>
      <xsd:enumeration value="GENSET GASOLINE 15 KVA 400 HZ"/>
      <xsd:enumeration value="GENSET GASOLINE 20 KVA 415 HZ"/>
      <xsd:enumeration value="GENSET DIESO 30 KVA"/>
      <xsd:enumeration value="PLATFORM DUEL GENSET 10 KVA"/>
      <xsd:enumeration value="PLATFORM DUEL GENSET 15 KVA"/>
      <xsd:enumeration value="PLATFORM DUEL GENSET 20 KVA"/>
      <xsd:enumeration value="GENSET GASOLINE 15 KVA 415 HZ 200V"/>
      <xsd:enumeration value="GENSET GASOLINE 1.6 KW 28V DC"/>
      <xsd:enumeration value="GENSET GASOLINE 7.5 KVA GDCHO"/>
      <xsd:enumeration value="GENSET DIESO 350 KVA"/>
      <xsd:enumeration value="GENSET DIESO 2.5 KVA"/>
      <xsd:enumeration value="GENSET DIESO 1.3 KW 14-28VDC"/>
      <xsd:enumeration value="GENSET DIESO 16 KVA"/>
      <xsd:enumeration value="GENSET DIESO 2.8KW 28V DC REG"/>
      <xsd:enumeration value="GENSET DIESO 2.6 KW 28V DC R"/>
      <xsd:enumeration value="GENSET DIESO 60 KVA"/>
      <xsd:enumeration value="GENSET DIESO 120 KVA"/>
      <xsd:enumeration value="GENSET 4.5 KVA"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="other.refrigeration.and.generators.7225.2">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="34"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,34}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="css.state.divisions.7228.2">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AVEH"/>
      <xsd:enumeration value="ARM"/>
      <xsd:enumeration value="AVN"/>
      <xsd:enumeration value="BVEH"/>
      <xsd:enumeration value="CVEHMHE"/>
      <xsd:enumeration value="ELEC"/>
      <xsd:enumeration value="GEN"/>
      <xsd:enumeration value="INST"/>
      <xsd:enumeration value="MARINE"/>
      <xsd:enumeration value="MEDDEN"/>
      <xsd:enumeration value="RAD"/>
      <xsd:enumeration value="SARMS"/>
      <xsd:enumeration value="TELECOMS"/>
      <xsd:enumeration value="TOTAL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="now.7279.1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="20"/>
      <xsd:pattern value="[A-Z0-9&#x20;\.,\(\)\?\-]{1,20}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="days.of.supply.held.at.formation.level.7355.2">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="days.of.supply.held.at.force.level.7355.3">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="days.of.supply.at.unit.level.7355.4">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="quantity.of.rations.at.formation.level.7356.2">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="999999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="quantity.of.rations.at.force.level.7356.3">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="999999"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="quantity.of.rations.at.unit.level.7356.6">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="999999"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
