data/interop/schemaInformedGrammar/acceptance_imported_hoo.xsd

<?xml version="1.0"?>

<xsd:schema targetNamespace="urn:hoo"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:hoo="urn:hoo">

<xsd:element name="AB" type="xsd:anySimpleType"/>

<xsd:element name="AC" type="xsd:anySimpleType"/>

<xsd:element name="AD" type="xsd:anySimpleType"/>

<xsd:attribute name="aA" />

</xsd:schema>
