data/interop/schemaInformedGrammar/acceptance_imported_goo.xsd

<?xml version="1.0"?>

<xsd:schema targetNamespace="urn:goo"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:goo="urn:goo">

<xsd:element name="AB" type="xsd:anySimpleType"/>

<xsd:element name="AC" type="xsd:anySimpleType"/>

<xsd:element name="AD" type="xsd:anySimpleType"/>

<xsd:element name="AE" type="xsd:anySimpleType"/>

<xsd:element name="AF" type="xsd:date"/>

<xsd:attribute name="aA" />
<xsd:attribute name="aB" />
<xsd:attribute name="aJ" />

</xsd:schema>
