data/interop/emptyBlock/emptyBlock.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">	
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="parent">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="child" type="xsd:unsignedInt"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>