data/ASMTF/enggsreccerep/messages.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="asmtf2006:message" xml:lang="en-US" version="1.1"
 xmlns="asmtf2006:message"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:s="asmtf2006:set"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="asmtf2006:set" schemaLocation="sets.xsd"/>

  <xsd:element name="national_general_engineer_support_reconnaissance_report">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="exercise_identification" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:exercise.identification">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="1"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="operation_identification_data" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:operation.identification.data">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="2"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_identification" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:message.identification">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="3"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="reference" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:reference">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="4"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="date_time_group_of_message_report_created" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:date.time.group.of.message.report.created">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="5"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="organization_designator_of_drafter_releaser" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:organization.designator.of.drafter.releaser">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="6"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="map_data_information" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:map.data.information">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="7"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="task_serial_number" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:task.serial.number">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="8"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_engineering_support_data" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.engineering.support.data">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="9"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_information" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text.information">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="10"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="location_of_task_segment" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="location_of_task" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:location.of.task">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="11"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="near_by_feature" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:near.by.feature">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="12"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="11"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="date_time_group_reconnaissance_completed" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:date.time.group.reconnaissance.completed">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="13"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="existing_facilities" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:existing.facilities">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="14"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="engineer_assembly_area" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:engineer.assembly.area">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="15"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="manpower_data_segment" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="manpower_data" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:manpower.data">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="16"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="equipments_data" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:equipments.data">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="17"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="material_data" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:material.data">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="18"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="item_list" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:item.list">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="19"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="organization_designator_1" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:organization.designator">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="20"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="rendezvous_details" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:rendezvous.details">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="21"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="16"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="explosive_details_segment" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="explosive_details" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:explosive.details">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="22"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="location_and_time_for_mines_and_explosive_dump" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:location.and.time.for.mines.and.explosive.dump">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="23"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="22"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="organisation_function_segment" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="organisation_function" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:organisation.function">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="24"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="organization_designator_2" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:organization.designator">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="25"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="24"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="acknowledgement_requirement" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:acknowledgement.requirement">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="26"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="remarks" type="s:remarks" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="message_downgrading_or_declassification_data" type="s:message.downgrading.or.declassification.data" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    <xsd:attribute name="mtfid" type="xsd:string" fixed="ENGGSRECCEREP"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
