data/Invoice/CoreComponentTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="urn:oasis:names:tc:ubl:CommonLeafTypes:1.0:0.65"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:cct="urn:oasis:names:tc:ubl:CommonLeafTypes:1.0:0.65"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
	    xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="1.0" >

<xsd:annotation>
         <xsd:appinfo>
                <jxb:schemaBindings>
                        <jxb:package name="com.sun.xmltest.genjaxb"/>
                </jxb:schemaBindings>
         </xsd:appinfo>
</xsd:annotation>

	<!--Group of common attributes which be used in all Core Components (aggregate and basic).-->
	<xsd:attributeGroup name="commonAttributes">
		<xsd:attribute name="uid" type="xsd:ID" use="optional"/>
		<xsd:attribute name="uidRef" type="xsd:IDREF" use="optional"/>
		<xsd:attribute name="uidRefs" type="xsd:IDREFS" use="optional"/>
		<xsd:attribute name="language" type="xsd:language" use="optional" default="en"/>
	</xsd:attributeGroup>
	<!-- ##### CORE COMPONENT TYPES (CCT) ##### -->
	<!--All Core Component according the ebXML Core Component Specification V1.8-->
	<!-- ===== CCT: AmountType ===== -->
	<xsd:simpleType name="AmountContent">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="14"/>
			<xsd:totalDigits value="31"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AmountType">
		<xsd:simpleContent>
			<xsd:extension base="cct:AmountContent">
				<xsd:attribute name="currencyId" type="xsd:normalizedString" use="required"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: CodeType ===== -->
	<xsd:simpleType name="CodeContent">
		<xsd:restriction base="xsd:token"/>
	</xsd:simpleType>
	<xsd:complexType name="CodeType">
		<xsd:simpleContent>
			<xsd:extension base="cct:CodeContent">
				<xsd:attribute name="listId" type="xsd:normalizedString" use="required"/>
				<xsd:attribute name="listAgencyId" type="xsd:normalizedString" use="required"/>
				<xsd:attribute name="listVersionId" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="name" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="languageCode" type="xsd:language" use="optional"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: DateTimeType ===== -->
	<xsd:simpleType name="DateTimeContent">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:complexType name="DateTimeType">
		<xsd:simpleContent>
			<xsd:extension base="cct:DateTimeContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: DateType ===== -->
	<xsd:simpleType name="DateContent">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:complexType name="DateType">
		<xsd:simpleContent>
			<xsd:extension base="cct:DateContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: TimeType ===== -->
	<xsd:simpleType name="TimeContent">
		<xsd:restriction base="xsd:time"/>
	</xsd:simpleType>
	<xsd:complexType name="TimeType">
		<xsd:simpleContent>
			<xsd:extension base="cct:TimeContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: GraphicType ===== -->
	<xsd:simpleType name="GraphicContent">
		<xsd:restriction base="xsd:base64Binary"/>
	</xsd:simpleType>
	<xsd:complexType name="GraphicType">
		<xsd:simpleContent>
			<xsd:extension base="cct:GraphicContent">
				<xsd:attribute name="format" type="xsd:normalizedString" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: IdentifierType ===== -->
	<xsd:simpleType name="IdentifierContent">
		<xsd:restriction base="xsd:normalizedString"/>
	</xsd:simpleType>
	<xsd:complexType name="IdentifierType">
		<xsd:simpleContent>
			<xsd:extension base="cct:IdentifierContent">
				<xsd:attribute name="schemeName" type="xsd:normalizedString" use="required"/>
				<xsd:attribute name="schemeAgencyName" type="xsd:normalizedString" use="required"/>
				<xsd:attribute name="languageCode" type="xsd:language" use="optional" default="en"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: IndicatorType ===== -->
	<xsd:simpleType name="IndicatorContent">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:complexType name="IndicatorType">
		<xsd:simpleContent>
			<xsd:extension base="cct:IndicatorContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: MeasureType ===== -->
	<xsd:simpleType name="MeasureContent">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:complexType name="MeasureType">
		<xsd:simpleContent>
			<xsd:extension base="cct:MeasureContent">
				<xsd:attribute name="unitCode" type="xsd:token" use="required"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: NumericType ===== -->
	<xsd:simpleType name="NumericContent">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:complexType name="NumericType">
		<xsd:simpleContent>
			<xsd:extension base="cct:NumericContent">
				<xsd:attribute name="format" type="xsd:normalizedString" use="optional"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: PictureType ===== -->
	<xsd:simpleType name="PictureContent">
		<xsd:restriction base="xsd:base64Binary"/>
	</xsd:simpleType>
	<xsd:complexType name="PictureType">
		<xsd:simpleContent>
			<xsd:extension base="cct:PictureContent">
				<xsd:attribute name="format" type="xsd:normalizedString" use="required"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: QuantityType ===== -->
	<xsd:simpleType name="QuantityContent">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:complexType name="QuantityType">
		<xsd:simpleContent>
			<xsd:extension base="cct:QuantityContent">
				<xsd:attribute name="unitCode" type="xsd:token" use="required"/>
				<xsd:attribute name="unitCodeListId" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="unitCodeListAgencyId" type="xsd:normalizedString" use="optional"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== CCT: TextType ===== -->
	<xsd:simpleType name="TextContent">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="TextType">
		<xsd:simpleContent>
			<xsd:extension base="cct:TextContent">
				<xsd:attribute name="languageCode" use="optional" default="en">
					<xsd:simpleType>
						<xsd:restriction base="xsd:language">
							<xsd:maxLength value="5"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- #####  BASIC CORE COMPONENTS (BCC) ##### -->
	<!-- ===== BCC: DurationType ===== -->
	<xsd:simpleType name="DurationContent">
		<xsd:restriction base="xsd:duration"/>
	</xsd:simpleType>
	<xsd:complexType name="DurationType">
		<xsd:simpleContent>
			<xsd:extension base="cct:DurationContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== BCC: ValueType ===== -->
	<xsd:simpleType name="ValueContent">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:complexType name="ValueType">
		<xsd:simpleContent>
			<xsd:extension base="cct:ValueContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== BCC: PercentType ===== -->
	<xsd:simpleType name="PercentContent">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:complexType name="PercentType">
		<xsd:simpleContent>
			<xsd:extension base="cct:PercentContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== BCC: NameType ===== -->
	<xsd:simpleType name="NameContent">
		<xsd:restriction base="xsd:normalizedString"/>
	</xsd:simpleType>
	<xsd:complexType name="NameType">
		<xsd:simpleContent>
			<xsd:extension base="cct:NameContent">
				<xsd:attribute name="languageCode" type="xsd:language" use="optional" default="en"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== BCC: RateType ===== -->
	<xsd:simpleType name="RateContent">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:complexType name="RateType">
		<xsd:simpleContent>
			<xsd:extension base="cct:RateContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== BCC: DimensionType ===== -->
	<xsd:simpleType name="DimensionContent">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:complexType name="DimensionType">
		<xsd:simpleContent>
			<xsd:extension base="cct:DimensionContent">
				<xsd:attribute name="unitCode" type="xsd:string" use="required"/>
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== BCC: YearType ===== -->
	<xsd:simpleType name="YearContent">
		<xsd:restriction base="xsd:gYear"/>
	</xsd:simpleType>
	<xsd:complexType name="YearType">
		<xsd:simpleContent>
			<xsd:extension base="cct:YearContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== BCC: YearMonthType ===== -->
	<xsd:simpleType name="YearMonthContent">
		<xsd:restriction base="xsd:gYearMonth"/>
	</xsd:simpleType>
	<xsd:complexType name="YearMonthType">
		<xsd:simpleContent>
			<xsd:extension base="cct:YearMonthContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== BCC: MonthType ===== -->
	<xsd:simpleType name="MonthContent">
		<xsd:restriction base="xsd:gMonth"/>
	</xsd:simpleType>
	<xsd:complexType name="MonthType">
		<xsd:simpleContent>
			<xsd:extension base="cct:MonthContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== BCC: MonthDayType ===== -->
	<xsd:simpleType name="MonthDayContent">
		<xsd:restriction base="xsd:gMonthDay"/>
	</xsd:simpleType>
	<xsd:complexType name="MonthDayType">
		<xsd:simpleContent>
			<xsd:extension base="cct:MonthDayContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== BCC: DayType ===== -->
	<xsd:simpleType name="DayContent">
		<xsd:restriction base="xsd:gDay"/>
	</xsd:simpleType>
	<xsd:complexType name="DayType">
		<xsd:simpleContent>
			<xsd:extension base="cct:DayContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== BCC: FrequencyType ===== -->
	<xsd:simpleType name="FrequencyContent">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:complexType name="FrequencyType">
		<xsd:simpleContent>
			<xsd:extension base="cct:FrequencyContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== BCC: LanguageCodeType ===== -->
	<xsd:simpleType name="LanguageCodeContent">
		<xsd:restriction base="xsd:language"/>
	</xsd:simpleType>
	<xsd:complexType name="LanguageCodeType">
		<xsd:simpleContent>
			<xsd:extension base="cct:LanguageCodeContent">
				<xsd:attributeGroup ref="cct:commonAttributes"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ElectronicAddressType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:anyURI">
				<xsd:attribute name="resourceId" type="xsd:normalizedString" use="required"/>
				<xsd:attribute name="contentId" type="xsd:normalizedString" use="required"/>
				<xsd:attribute name="fileName" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="languageCode" type="xsd:language" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ###### MODEL GROUP DEFINITIONS (MGD) ##### -->
	<!-- ===== MGD: PeriodGroup ===== -->
	<xsd:group name="PeriodGroup">
		<xsd:choice>
			<xsd:sequence minOccurs="0">
				<xsd:element name="StartTime" type="cct:TimeType"/>
				<xsd:element name="EndTime" type="cct:TimeType"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:element name="StartDate" type="cct:DateType"/>
				<xsd:element name="EndDate" type="cct:DateType"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:element name="StartDateTime" type="cct:DateTimeType"/>
				<xsd:element name="EndDateTime" type="cct:DateTimeType"/>
			</xsd:sequence>
		</xsd:choice>
	</xsd:group>
	<!-- ===== MGD: RecurrenceGroup ===== -->
	<xsd:group name="RecurrenceGroup">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:sequence minOccurs="0">
					<xsd:element name="StartTime" type="cct:TimeType" minOccurs="0"/>
					<xsd:element name="EndTime" type="cct:TimeType" minOccurs="0"/>
				</xsd:sequence>
				<xsd:sequence minOccurs="0">
					<xsd:element name="StartDate" type="cct:DateType" minOccurs="0"/>
					<xsd:element name="EndDate" type="cct:DateType" minOccurs="0"/>
				</xsd:sequence>
				<xsd:sequence minOccurs="0">
					<xsd:element name="StartDateTime" type="cct:DateTimeType" minOccurs="0"/>
					<xsd:element name="EndDateTime" type="cct:DateTimeType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:sequence>
			<xsd:element name="RecurrenceValue" type="cct:ValueType" minOccurs="0"/>
			<xsd:sequence>
				<xsd:element name="FrequencyDuration" type="cct:DurationType"/>
				<xsd:element name="FrequencyYear" type="xsd:gYear"/>
				<xsd:element name="FrequencyYearMonth" type="xsd:gYearMonth"/>
				<xsd:element name="FrequencyMonth" type="xsd:gMonth"/>
				<xsd:element name="FrequencyMonthDay" type="xsd:gMonthDay"/>
				<xsd:element name="FrequencyDay" type="xsd:gDay"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>

