data/Invoice/sm-common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	targetNamespace="http://www.sun.com/schema/spidermarkexpress/sm-common"
	xmlns="http://www.sun.com/schema/spidermarkexpress/sm-common" 
	xmlns:cct="urn:oasis:names:tc:ubl:CommonLeafTypes:1.0:0.65" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="1.0" >

            <xsd:annotation>
             <xsd:documentation xml:lang="en">
              Spidermark Express XML Schema - Common Types
             </xsd:documentation>

	        <xsd:appinfo>
        	  <jxb:schemaBindings>
                   <jxb:package name="com.sun.xmltest.genjaxb"/>
                  </jxb:schemaBindings>
         	</xsd:appinfo> 
            </xsd:annotation>

<xsd:import namespace="urn:oasis:names:tc:ubl:CommonLeafTypes:1.0:0.65" schemaLocation="CoreComponentTypes.xsd"/>

<xsd:complexType name="QuoteType">
	<xsd:annotation>
		<xsd:documentation>
			information directly relating to a quotation.
		</xsd:documentation>
	</xsd:annotation>

	<xsd:sequence>
		<xsd:element name="Identifier" type="cct:IdentifierType">
			<xsd:annotation>
				<xsd:documentation>
					identifies a quote - random id generated by supplier.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="IssueDateTime" type="cct:DateTimeType">
			<xsd:annotation>
				<xsd:documentation>
					datetime when the quote was issued.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ContractType">
	<xsd:annotation>
		<xsd:documentation>
			information that directly relates to a formal and legally binding agreement between parties.
		</xsd:documentation>
	</xsd:annotation>

	<xsd:sequence>
		<xsd:element name="Identifier" type="cct:IdentifierType">
			<xsd:annotation>
				<xsd:documentation>
					identifies a contract by a unique and single identifier known to all the parties concerned.			
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="ValidityPeriod" type="PeriodType">
			<xsd:annotation>
				<xsd:documentation>
					specifies the dates or duration for which the Contract is valid.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="LanguageType">
	<xsd:annotation>
		<xsd:documentation>
			information directly relating to a language.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>

		<xsd:element name="IdentificationCode" type="cct:CodeType">
			<xsd:annotation>
				<xsd:documentation>
					identifies the language by a code.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="Name" type="cct:TextType">
			<xsd:annotation>
				<xsd:documentation>
					the common name of the language.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="PeriodType">
	<xsd:annotation>
		<xsd:documentation>
			information directly relating to a period, a length of time between two known date/time points.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>

		<xsd:element name="StartDateTime" type="cct:DateTimeType">
			<xsd:annotation>
				<xsd:documentation>
					specifies the first point in date/time for a period.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="EndDateTime" type="cct:DateTimeType">
			<xsd:annotation>
				<xsd:documentation>
					specifies the last point in date/time of a period.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="PartyType">
	<xsd:annotation>
		<xsd:documentation>
			details of an individual, or an entity - only for SellerParty, BuyerParty data is static
		</xsd:documentation>
	</xsd:annotation>

	<xsd:sequence>
		<xsd:element name="PartyID" type="cct:IdentifierType">
			<xsd:annotation>
				<xsd:documentation>
					an identification of an entity doing business  - supp_id from DB
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="Name" type="cct:TextType">
			<xsd:annotation>
				<xsd:documentation>
					the name of a party - supp_name from DB
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="Address" type="AddressType">
			<xsd:annotation>
				<xsd:documentation>
					the particulars that identify and locate the place of a particular party - supplier's address.
				</xsd:documentation>
			</xsd:annotation>

		</xsd:element>

		<xsd:element name="Contact" type="ContactType">
			<xsd:annotation>
				<xsd:documentation>
					information that identifies a contact person, together with information about how they can be contacted - supp_contact* fields from DB.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="AddressType">
	<xsd:annotation>
		<xsd:documentation>
			the particulars that identify and locate the place where someone lives or is situated, or where an organisation is situated.
		</xsd:documentation>
	</xsd:annotation>

	<xsd:sequence>
	  <xsd:choice>
	    <xsd:element name="PostboxID" type="cct:IdentifierType">
		<xsd:annotation>
			<xsd:documentation>
				a post office box number or a numbered post box in a post office assigned to a person or organization where letters for them are kept until called for, used as part of an address - NOT USED.
			</xsd:documentation>
		</xsd:annotation>
	    </xsd:element>

	    <xsd:sequence>
		<xsd:element name="Street" type="cct:TextType">
			<xsd:annotation>
				<xsd:documentation>
					identifies the street by name - addr_street2 from DB
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="HouseID" type="cct:IdentifierType">
			<xsd:annotation>
				<xsd:documentation>
					Identifies the house by number - addr_street1 for supplier
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="RoomID" type="cct:IdentifierType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					identifies the room, suite or apartment as part of an address - addr_room for supplier
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	     </xsd:sequence>

	  </xsd:choice>

		<xsd:element name="CityName" type="cct:TextType">
			<xsd:annotation>
				<xsd:documentation>
					the name of the city, town, village, or a built up area and used as part of an address - addr_city for supplier
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="PostalZoneID" type="cct:IdentifierType">
			<xsd:annotation>
				<xsd:documentation>
					a group of letters and/or numbers added to the postal address to assist in the sorting of mail - addr_zip for supplier
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="StateName" type="StateType">
			<xsd:annotation>
				<xsd:documentation>
					the name that identifies the territorial division (a  chief unit of local administration) of a country, as part of an address - addr_state for supplier
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="CountryIdentificationCode" type="cct:CodeType">
			<xsd:annotation>
				<xsd:documentation>
					country part of an address using a code.  ISO3166 alpha codes are recommended - addr_country for supplier
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ContactType">
	<xsd:annotation>
		<xsd:documentation>
			information that identifies a contact person or department together with information about how they can be contacted.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="Name" type="cct:TextType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					identifies the department or employee name given as a contact.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="Communication" type="CommunicationType" maxOccurs="unbounded">
			<xsd:annotation>
				<xsd:documentation>
					information directly relating to the means of sending or receiving information with a specific contact - 3 elements for email/phone/fax.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="CommunicationType">
	<xsd:annotation>
		<xsd:documentation>
			information directly relating to the means of sending or receiving information.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="Value" type="cct:TextType">
			<xsd:annotation>
				<xsd:documentation>
					the number or virtual 'address' of a communication point in a communication system - supp_contact_email/phone/fax
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="ChannelID" type="cct:IdentifierType">
			<xsd:annotation>
				<xsd:documentation>
					identifies the channel (or medium) by which communication is made - "email", "phone" or "fax"
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ShipmentType">
	<xsd:annotation>
		<xsd:documentation>
			information directly relating to a shipment.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="ShipDate" type="cct:DateTimeType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					The date the articles were shipped - current datetime for invoice, NOT USED for PO
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="TransportModeID" type="cct:IdentifierType">
			<xsd:annotation>
				<xsd:documentation>
					The method of transport used for the conveyance of goods - one of "air", "ground", "sea"
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="CarrierID" type="cct:IdentifierType">
			<xsd:annotation>
				<xsd:documentation>
					the identifier assigned by the agency to the carrier - one of "FedEx", "UPS", "USPS", "DHL" 
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="ServiceLevelID" type="cct:IdentifierType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					identifies the level of service required for a shipment - NOT USED
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="Instructions" type="cct:TextType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
						free form text for special shipping instructions - NOT USED
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="PaymentMeansType">
	<xsd:annotation>
		<xsd:documentation>
			information directly relating to the means of payment.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="PaymentDate" type="cct:DateType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					The point in time at which the payment is to be made - random for invoice only.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="PayerFinancialAccount" type="FinancialAccountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					information directly relating to tha bank account of the Payer - In PO only, static from SUTConfig.xml
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="PayeeFinancialAccount" type="FinancialAccountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					information directly relating to tha bank account of the Payee - In invoice only, randomly generated by emulator
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="FinancialAccountType">
	<xsd:annotation>
		<xsd:documentation>
			Information directly relating to an account, which is a service through a bank or a similar organisation  by which funds are held on behalf of a client
		</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="Identifier" type="cct:IdentifierType">
			<xsd:annotation>
				<xsd:documentation>
					the account number or identifier for the account - random for invoice, static for PO.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="FinancialInstitution" type="FinancialInstitutionType">
			<xsd:annotation>
				<xsd:documentation>
					information that directly relates to a bank or financial institution - static 
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="TypeID" type="cct:IdentifierType">
			<xsd:annotation>
				<xsd:documentation>
					a code qualifying the type of account - static.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="AccountName" type="cct:TextType">
			<xsd:annotation>
				<xsd:documentation>
					the identifying name of the account given by the account holder - BuyerParty name/SellerParty name for PO/Invoice respectively
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="FinancialInstitutionType">
	<xsd:annotation>
		<xsd:documentation>
			information that directly relates to a bank or financial institution.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="Identifier" type="cct:IdentifierType">
			<xsd:annotation>
				<xsd:documentation>
					identifies the financial institution by code. ISO xxxx BIC (Bank Identification Code) is recommended - static
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Name" type="cct:TextType">
			<xsd:annotation>
				<xsd:documentation>
					the name of the financial institution - "XYZ Bank".
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="Address" type="AddressType">
			<xsd:annotation>
				<xsd:documentation>
					the address of the financial institution - static.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="PricingVariationType">
	<xsd:annotation>
		<xsd:documentation>
			identifies a service, promotion, allowance, or charge and specifies the amount or percentage for the service, promotion, allowance, or charge.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="ServiceID" type="cct:IdentifierType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					identifies the reason for the price variation allowance or charge using a code - "discount" for lineitems, "shipping and handling" in summary.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Service" type="cct:TextType"  minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					describes the reason for the price variation allowance or charge using free text - NOT USED.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="ConditionID" type="cct:IdentifierType">
			<xsd:annotation>
				<xsd:documentation>
					identifies whether this pricing variation is an allowance or a charge, using a standard codelist - "allowance" for lineitems, "charge" for summary. 
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="ValidityPeriod" type="PeriodType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						information directly relating to the validity of a pricing variation - NOT USED
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<xsd:element name="Rate" type="cct:NumericType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
						the rate where the discount is based on a %rate - from PriceAndAvailability for lineitems, NOT USED for summary
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="LumpSumAmount" type="cct:AmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					the monetary amount of the pricing variation allowance or charge when specified as a lump sum - NOT USED for lineitems,  shipping and handling charges for summary
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="PricingType">
	<xsd:annotation>
		<xsd:documentation>
			information directly relating to pricing.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="GrossUnitPriceAmount" type="cct:AmountType">
			<xsd:annotation>
				<xsd:documentation>
					contains the gross value of the unit price, i.e. the price before any discount is applied - from PriceAndAvailability.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="NetUnitPriceAmount" type="cct:AmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					contains the net value of the unit price, i.e. the price after trade discount has been deducted, but before any other charges or allowances are made - (1 - discount) * gross
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>



<xsd:complexType name="ItemType">
	<xsd:annotation>
		<xsd:documentation>
			information directly relating to an item (article, product, goods item or service).
		</xsd:documentation>
	</xsd:annotation>

	<xsd:sequence>

		<xsd:element name="StandardItemIdentifier" type="cct:IdentifierType">
			<xsd:annotation>
				<xsd:documentation>
					information directly relating to the identification of a product or service by a commonly accepted identification that is assigned by a standards agency - article_id from Driver
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Description" type="cct:TextType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					a free form field that can be used to give a text description of the item - article_name from DB
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="Quantity" type="cct:QuantityType">
			<xsd:annotation>
				<xsd:documentation>
					the quantity of the item on this line item - passed by Driver.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>


<xsd:complexType name="NoteType">
	<xsd:annotation>
		<xsd:documentation>
			information directly relating to a note.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="Text" type="cct:TextType">
			<xsd:annotation>
				<xsd:documentation>
					a note in free text form.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TaxType">
	<xsd:annotation>
		<xsd:documentation>
			information directly relating to tax.
			</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="TypeCode" type="cct:CodeType">
			<xsd:annotation>
				<xsd:documentation>
					identifies the type of tax.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="RatePercent" type="cct:NumericType">
			<xsd:annotation>
				<xsd:documentation>
					the tax rate as a percentage.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="TaxAmount" type="TaxAmountType">
			<xsd:annotation>
				<xsd:documentation>
					information directly relating to the tax amounts in the currency of the tax regime.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TaxAmountType">
	<xsd:annotation>
		<xsd:documentation>
			information directly relating to tax amounts.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="TaxableAmount" type="cct:AmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					the taxable amount (ie what tax rate is applied to).
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="TaxAmount" type="cct:AmountType">
			<xsd:annotation>
				<xsd:documentation>
					the amount of tax (ie what amount of tax is due).
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
	</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="StateType">
	<xsd:restriction base="xsd:string">
                   <xsd:enumeration value="AL"/>
                   <xsd:enumeration value="AK"/>
                   <xsd:enumeration value="AR"/>
                   <xsd:enumeration value="AZ"/>
                   <xsd:enumeration value="CA"/>
                   <xsd:enumeration value="CO"/>
                   <xsd:enumeration value="CT"/>
                   <xsd:enumeration value="DE"/>
                   <xsd:enumeration value="FL"/>
                   <xsd:enumeration value="GA"/>
                   <xsd:enumeration value="HI"/>
                   <xsd:enumeration value="ID"/>
                   <xsd:enumeration value="IL"/>
                   <xsd:enumeration value="IN"/>
                   <xsd:enumeration value="IA"/>
                   <xsd:enumeration value="KS"/>
                   <xsd:enumeration value="KY"/>
                   <xsd:enumeration value="LA"/>
                   <xsd:enumeration value="ME"/>
                   <xsd:enumeration value="MD"/>
                   <xsd:enumeration value="MA"/>
                   <xsd:enumeration value="MI"/>
                   <xsd:enumeration value="MN"/>
                   <xsd:enumeration value="MS"/>
                   <xsd:enumeration value="MO"/>
                   <xsd:enumeration value="MT"/>
                   <xsd:enumeration value="NE"/>
                   <xsd:enumeration value="NV"/>
                   <xsd:enumeration value="NH"/>
                   <xsd:enumeration value="NJ"/>
                   <xsd:enumeration value="NM"/>
                   <xsd:enumeration value="NC"/>
                   <xsd:enumeration value="ND"/>
                   <xsd:enumeration value="OH"/>
                   <xsd:enumeration value="OK"/>
                   <xsd:enumeration value="OR"/>
                   <xsd:enumeration value="PA"/>
                   <xsd:enumeration value="RI"/>
                   <xsd:enumeration value="SC"/>
                   <xsd:enumeration value="SD"/>
                   <xsd:enumeration value="TN"/>
                   <xsd:enumeration value="TX"/>
                   <xsd:enumeration value="UT"/>
                   <xsd:enumeration value="VT"/>
                   <xsd:enumeration value="VA"/>
                   <xsd:enumeration value="WA"/>
                   <xsd:enumeration value="WV"/>
                   <xsd:enumeration value="WI"/>
                   <xsd:enumeration value="WY"/>
        </xsd:restriction>
</xsd:simpleType>

</xsd:schema>
