data/FpML/fpml-eqd-4-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="http://www.fpml.org/2003/FpML-4-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fpml.org/2003/FpML-4-0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--
  == Copyright (c) 2002-2003. All rights reserved.
  == Financial Products Markup Language is subject to the FpML public license.
  == A copy of this license is available at http://www.fpml.org/documents/license
  -->
	<xsd:include schemaLocation="fpml-asset-4-0.xsd"/>
	<xsd:complexType name="EquityValuation">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Typ, mit dem Zeitpunkt und Art der Bewertung einer Aktienoption bestimmt wird.</xsd:documentation>
			<xsd:documentation xml:lang="en">A type for defining how and when an equity option is to be valued.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="valuationDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">"Bewertungstag" im Sinne der ISDA-Definitionen zu Aktienderivaten von 2002.</xsd:documentation>
					<xsd:documentation xml:lang="en">The term "Valuation Date" is assumed to have the meaning as defined in the ISDA 2002 Equity Derivatives Definitions.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valuationTimeType" type="TimeTypeEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Tageszeit, zu der die Berechnungsstelle den Basiswert bewertet, zum Beispiel der offizielle Börsenschluss.</xsd:documentation>
					<xsd:documentation xml:lang="en">The time of day at which the calculation agent values the underlying, for example the official closing time of the exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valuationTime" type="BusinessCenterTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Genaue Tageszeit, zu der die Bewertungsstelle den Basiswert bewertet.</xsd:documentation>
					<xsd:documentation xml:lang="en">The specific time of day at which the calculation agent values the underlying.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="futuresPriceValuationApplicable" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Es gilt der von der relevanten Börse veröffentlichte offizielle Abrechnungspreis im Sinne der ISDA-Definitionen von 2002.</xsd:documentation>
					<xsd:documentation xml:lang="en">The official settlement price as announced by the related exchange is applicable, in accordance with the ISDA 2002 definitions.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="ExtraordinaryEvents">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Ist der Basiswert eine Aktie, werden hiermit Marktereignisse angegeben, die den Emittenten der Aktie betreffen und die eine Anpassung der Transaktionsbedingungen erfordern können.</xsd:documentation>
			<xsd:documentation xml:lang="en">Where the underlying is shares, defines market events affecting the issuer of those shares that may require the terms of the transaction to be adjusted.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mergerEvents" type="MergerEvents">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Dieses Element ist relevant, wenn der Basiswert nach einer Fusion zwischen dem Emittenten und einer anderen Gesellschaft nicht mehr existiert.</xsd:documentation>
					<xsd:documentation xml:lang="en">Occurs when the underlying ceases to exist following a merger between the Issuer and another company.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nationalisationOrInsolvency" type="NationalisationOrInsolvencyOrDelistingEventEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">"Verstaatlichung" und "Insolvenz" im Sinne der ISDA-Definitionen zu Aktienderivaten von 2002.</xsd:documentation>
					<xsd:documentation xml:lang="en">The terms "Nationalisation" and "Insolvency" have the meaning as defined in the ISDA 2002 Equity Derivatives Definitions.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="delisting" type="NationalisationOrInsolvencyOrDelistingEventEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">"Delisting" im Sinne der ISDA-Definitionen zu Aktienderivaten von 2002.</xsd:documentation>
					<xsd:documentation xml:lang="en">The term "Delisting" has the meaning defined in the ISDA 2002 Equity Derivatives Definitions.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FeaturePayment">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Nach Eintritt des Trigger-Ereignisses erfolgende Zahlung.</xsd:documentation>
			<xsd:documentation xml:lang="en">Payment made following trigger occurence.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PayerReceiver.model"/>
			<xsd:choice>
				<xsd:element name="levelPercentage" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation xml:lang="de">Triggerniveau, ausgedrückt als Prozentsatz.</xsd:documentation>
						<xsd:documentation xml:lang="en">The trigger level percentage.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="amount" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The monetary quantity in currency units.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="time" type="TimeTypeEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Zeitpunkt der aus dem Optionsmerkmal resultierenden Zahlung.</xsd:documentation>
					<xsd:documentation xml:lang="en">The feature payment time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="Currency" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The currency in which an amount is denominated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="featurePaymentDate" type="AdjustableOrRelativeDate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Datum der aus dem Optionsmerkmal resultierenden Zahlung.</xsd:documentation>
					<xsd:documentation xml:lang="en">The feature payment date.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FXFeature">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Typ zur Definition von Devisenbestandteilen.</xsd:documentation>
			<xsd:documentation xml:lang="en">A type for defining FX features.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fxFeatureType">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Art des Devisenbestandteils.</xsd:documentation>
					<xsd:documentation xml:lang="en">The type of FX feature</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="fxFeatureTypeScheme" type="xsd:anyURI" default="http://www.fpml.org/spec/2003/fxFeatureType-1-0"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="fxRate" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Wechselkurs.</xsd:documentation>
					<xsd:documentation xml:lang="en">The rate of exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fxSource" type="FxSpotRateSource" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Quelle des Wechselkurses.</xsd:documentation>
					<xsd:documentation xml:lang="en">The source of the rate of exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Knock">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">"Knock-in" bedeutet, dass eine Option durch das Überschreiten aktiviert wird. "Knock-out" bedeutet, dass eine Option nach dem Überschreiten erlischt.</xsd:documentation>
			<xsd:documentation xml:lang="en">Knock In means option to exercise comes into existence. Knock Out means option to exercise goes out of existence</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="knockIn" type="TriggerEvent" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Knock-In.</xsd:documentation>
					<xsd:documentation xml:lang="en">The knock in.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="knockOut" type="TriggerEvent" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Knock-Out.</xsd:documentation>
					<xsd:documentation xml:lang="en">The knock out.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MergerEvents">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Typ zur Definition von Fusionen und deren Behandlung.</xsd:documentation>
			<xsd:documentation xml:lang="en">A type for defining the merger events and their treatment.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="shareForShare" type="ShareExtraordinaryEventEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Einstandspreis für die ursprünglichen Aktien nach Fusion beinhaltet ausschließlich neue Aktien.</xsd:documentation>
					<xsd:documentation xml:lang="en">The consideration paid for the original shares following the Merger Event consists wholly of new shares.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shareForOther" type="ShareExtraordinaryEventEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Einstandspreis für die ursprünglichen Aktien nach Fusion beinhaltet ausschließlich Barmittel/Wertpapiere (keine neuen Aktien).</xsd:documentation>
					<xsd:documentation xml:lang="en">The consideration paid for the original shares following the Merger Event consists wholly of cash/securities other than new shares.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shareForCombined" type="ShareExtraordinaryEventEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Einstandspreis für die ursprünglichen Aktien nach Fusion beinhaltet sowohl Barmittel/Wertpapiere als auch neue Aktien.</xsd:documentation>
					<xsd:documentation xml:lang="en">The consideration paid for the original shares following the Merger Event consists of both cash/securities and new shares.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Trigger">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Trigger-Niveau, bei dem bestimmte Merkmale einsetzen.</xsd:documentation>
			<xsd:documentation xml:lang="en">Trigger point at which feature is effective</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="level" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation xml:lang="de">Trigger-Niveau.</xsd:documentation>
						<xsd:documentation xml:lang="en">The trigger level.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="levelPercentage" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation xml:lang="de">Triggerniveau, ausgedrückt als Prozentsatz.</xsd:documentation>
						<xsd:documentation xml:lang="en">The trigger level percentage.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TriggerEvent">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Beobachtungspunkt für das Trigger-Ereignis.</xsd:documentation>
			<xsd:documentation xml:lang="en">Observation point for trigger</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="schedule" type="EquitySchedule" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Zeitplan für Aktienderivate.</xsd:documentation>
					<xsd:documentation xml:lang="en">A Equity Derivative schedule.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="triggerDates" type="DateList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Trigger-Tage.</xsd:documentation>
					<xsd:documentation xml:lang="en">The trigger Dates</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="trigger" type="Trigger">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Trigger-Niveau.</xsd:documentation>
					<xsd:documentation xml:lang="en">The trigger level.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="featurePayment" type="FeaturePayment" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Aus dem Optionsmerkmal resultierende Zahlung.</xsd:documentation>
					<xsd:documentation xml:lang="en">The feature payment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="equityOption" type="EquityOption" substitutionGroup="product">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Komponente zur Beschreibung einer Aktienoption.</xsd:documentation>
			<xsd:documentation xml:lang="en">A component describing an Equity Option product.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="Asian">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Im Sinne der ISDA-Definitionen von 2002.</xsd:documentation>
			<xsd:documentation xml:lang="en">As per ISDA 2002 Definitions</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="averagingInOut" type="AveragingInOutEnum"/>
			<xsd:element name="strikeFactor" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Strike-Faktor.</xsd:documentation>
					<xsd:documentation xml:lang="en">The factor of strike.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averagingPeriodIn" type="EquityAveragingPeriod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Averaging-In-Zeitraum.</xsd:documentation>
					<xsd:documentation xml:lang="en">The averaging in period.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averagingPeriodOut" type="EquityAveragingPeriod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Averaging-Out-Zeitraum.</xsd:documentation>
					<xsd:documentation xml:lang="en">The averaging out period.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Barrier">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Im Sinne der ISDA-Definitionen von 2002.</xsd:documentation>
			<xsd:documentation xml:lang="en">As per ISDA 2002 Definitions.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="barrierCap" type="TriggerEvent" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Von unten ausgelöstes Trigger-Niveau.</xsd:documentation>
					<xsd:documentation xml:lang="en">A trigger level approached from beneath.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="barrierFloor" type="TriggerEvent" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Von oben ausgelöstes Trigger-Niveau.</xsd:documentation>
					<xsd:documentation xml:lang="en">A trigger level approached from above.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DateList">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Liste von Daten.</xsd:documentation>
			<xsd:documentation xml:lang="en">List of Dates</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="date" type="xsd:date" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DateTimeList">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Liste von Daten und Zeitpunkten.</xsd:documentation>
			<xsd:documentation xml:lang="en">List of DateTimes</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dateTime" type="xsd:dateTime" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Equity">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Typ zur Definition eines Aktien-Basiswerts.</xsd:documentation>
			<xsd:documentation xml:lang="en">A type for defining an equity underlier.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Vollständige Wertpapierbezeichnung.</xsd:documentation>
					<xsd:documentation xml:lang="en">The long name of a security.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="instrumentId" type="InstrumentId" maxOccurs="unbounded"/>
			<xsd:element name="currency" type="Currency" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The currency in which an amount is denominated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="exchangeId" type="ExchangeId" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="relatedExchangeId" type="ExchangeId" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="clearanceSystem" type="ClearanceSystem" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EquityAmericanExercise">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Typ zur Definition der Ausübungsprozesse bei einer amerikanischen Aktienoption. Diese Einheit leitet sich ab vom Typ "SharedAmericanExercise".</xsd:documentation>
			<xsd:documentation xml:lang="en">A type for defining exercise procedures associated with an American style exercise of an equity option. This entity inherits from the type SharedAmericanExercise.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SharedAmericanExercise">
				<xsd:sequence>
					<xsd:element name="latestExerciseTimeType" type="TimeTypeEnum">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Tageszeit der letztmöglichen Ausübung der Aktienoption, zum Beispiel der offizielle Börsenschluss.</xsd:documentation>
							<xsd:documentation xml:lang="en">The latest time of day at which the equity option can be exercised, for example the official closing time of the exchange.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="equityExpirationTimeType" type="TimeTypeEnum">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Tageszeit, zu der die Aktienoption verfällt, zum Beispiel der offizielle Börsenschluss.</xsd:documentation>
							<xsd:documentation xml:lang="en">The time of day at which the equity option expires, for example the official closing time of the exchange.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="equityExpirationTime" type="BusinessCenterTime" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Genaue Tageszeit, an der die Aktienoption verfällt.</xsd:documentation>
							<xsd:documentation xml:lang="en">The specific time of day at which the equity option expires.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="equityMultipleExercise" type="EquityMultipleExercise" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Ist dieses Element vorhanden, kann die Option an unterschiedlichen Tagen ausgeübt werden. Nicht zulässig bei europäischen Optionen.</xsd:documentation>
							<xsd:documentation xml:lang="en">The presence of this element indicates that the option may be exercised on different days. It is not applicable to European options.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EquityAveragingPeriod">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Typ zur Definition der Ausübungsprozesse bei einer amerikanischen Aktienoption. Diese Einheit leitet sich ab vom Typ "SharedAmericanExercise".</xsd:documentation>
			<xsd:documentation xml:lang="en">Period over which an average value is taken</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="schedule" type="EquitySchedule" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Zeitplan für Aktienderivate.</xsd:documentation>
					<xsd:documentation xml:lang="en">A Equity Derivative schedule.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="averagingDateTimes" type="DateTimeList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Für die Durchschnittsbildung herangezogene Daten und Zeiten.</xsd:documentation>
					<xsd:documentation xml:lang="en">Averaging DateTimes</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="marketDisruption">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Marktunterbrechung im Sinne der ISDA-Definitionen von 2002.</xsd:documentation>
					<xsd:documentation xml:lang="en">The market disruption event as defined by ISDA 2002 Definitions</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:normalizedString">
							<xsd:attribute name="marketDisruptionScheme" type="xsd:anyURI" default="http://www.fpml.org/spec/2003/marketDisruption-1-0"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EquityEuropeanExercise">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Typ zur Definition der Ausübungsprozesse bei einer europäischen Aktienoption.</xsd:documentation>
			<xsd:documentation xml:lang="en">A type for defining exercise procedures associated with a European style exercise of an equity option.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Exercise">
				<xsd:sequence>
					<xsd:element name="expirationDate" type="AdjustableOrRelativeDate">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The last day within an exercise period for an American style option. For a European style option it is the only day within the exercise period.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="equityExpirationTimeType" type="TimeTypeEnum">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Tageszeit, zu der die Aktienoption verfällt, zum Beispiel der offizielle Börsenschluss.</xsd:documentation>
							<xsd:documentation xml:lang="en">The time of day at which the equity option expires, for example the official closing time of the exchange.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="equityExpirationTime" type="BusinessCenterTime" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Genaue Tageszeit, an der die Aktienoption verfällt.</xsd:documentation>
							<xsd:documentation xml:lang="en">The specific time of day at which the equity option expires.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EquityBermudanExercise">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Typ zur Definition der Ausübungprozesse bei einer Bermuda-Aktienoption.</xsd:documentation>
			<xsd:documentation xml:lang="en">A type for defining exercise procedures associated with a Bermudan style exercise of an equity option.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="commencementDate" type="AdjustableOrRelativeDate">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The first day of the exercise period for an American style option.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="expirationDate" type="AdjustableOrRelativeDate">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The last day within an exercise period for an American style option. For a European style option it is the only day within the exercise period.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="latestExerciseTime" type="BusinessCenterTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">For a Bermudan or American style option, the latest time on an exercise business day (excluding the expiration date) within the exercise period that notice can be given by the buyer to the seller or seller's agent. Notice of exercise given after this time will be deemed to have been given on the next exercise business day.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bermudanExerciseDates" type="DateList">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Liste der Ausübungstage einer Bermuda-Option.</xsd:documentation>
					<xsd:documentation xml:lang="en">List of Exercise Dates for a Bermudan option</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="latestExerciseTimeType" type="TimeTypeEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Tageszeit der letztmöglichen Ausübung der Aktienoption, zum Beispiel der offizielle Börsenschluss.</xsd:documentation>
					<xsd:documentation xml:lang="en">The latest time of day at which the equity option can be exercised, for example the official closing time of the exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="equityExpirationTimeType" type="TimeTypeEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Tageszeit, zu der die Aktienoption verfällt, zum Beispiel der offizielle Börsenschluss.</xsd:documentation>
					<xsd:documentation xml:lang="en">The time of day at which the equity option expires, for example the official closing time of the exchange.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="equityExpirationTime" type="BusinessCenterTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Genaue Tageszeit, an der die Aktienoption verfällt.</xsd:documentation>
					<xsd:documentation xml:lang="en">The specific time of day at which the equity option expires.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="equityMultipleExercise" type="EquityMultipleExercise" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Ist dieses Element vorhanden, kann die Option an unterschiedlichen Tagen ausgeübt werden. Nicht zulässig bei europäischen Optionen.</xsd:documentation>
					<xsd:documentation xml:lang="en">The presence of this element indicates that the option may be exercised on different days. It is not applicable to European options.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EquityExercise">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Typ zur Definition von Ausübungsprozessen für Aktienoptionen.</xsd:documentation>
			<xsd:documentation xml:lang="en">A type for defining exercise procedures for equity options.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="equityEuropeanExercise" type="EquityEuropeanExercise">
					<xsd:annotation>
						<xsd:documentation xml:lang="de">Parameter zur Definition von Verfalltag und -zeitpunkt für eine europäische Aktienoption.</xsd:documentation>
						<xsd:documentation xml:lang="en">The parameters for defining the expiration date and time for a European style equity option</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="equityAmericanExercise" type="EquityAmericanExercise">
					<xsd:annotation>
						<xsd:documentation xml:lang="de">Parameter zur Definition des Ausübungszeitraums für eine amerikanische Aktienoption sowie die Regeln zur Festlegung der an einem beliebigen Ausübungstermin ausübbaren Basiswert-Stückzahl.</xsd:documentation>
						<xsd:documentation xml:lang="en">The parameters for defining the exercise period for an American style equity option together with the rules governing the quantity of the underlying that can be exercised on any given exercise date.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="equityBermudanExercise" type="EquityBermudanExercise">
					<xsd:annotation>
						<xsd:documentation xml:lang="de">Parameter zur Definition des Ausübungszeitraums für eine Bermuda-Aktienoption sowie die Regeln zur Festlegung der an einem beliebigen Ausübungstermin ausübbaren Basiswert-Stückzahl.</xsd:documentation>
						<xsd:documentation xml:lang="en">The parameters for defining the exercise period for an Bermudan style equity option together with the rules governing the quantity of the underlying that can be exercised on any given exercise date.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="automaticExerciseApplicable" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Ist dieser Wert "wahr", wird jede noch nicht ausgeübte Option zum Verfallzeitpunkt am Verfalldatum ohne weitere Ankündigung als ausgeübt angesehen, sofern der Optionskäufer nicht anzeigt, dass er eine automatische Ausübung nicht wünscht.</xsd:documentation>
					<xsd:documentation xml:lang="en">If true then each option not previously exercised will be deemed to be exercised at the expiration time on the expiration date without service of notice unless the buyer notifies the seller that it no longer wishes this to occur.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="equityValuation" type="EquityValuation">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Parameter zur Definition des Bewertungszeitpunktes für den Basiswert.</xsd:documentation>
					<xsd:documentation xml:lang="en">The parameters for defining when valuation of the underlying takes place.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="settlementDate" type="AdjustableOrRelativeDate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Erfüllungstag für die Optionsprämie.</xsd:documentation>
					<xsd:documentation xml:lang="en">Date on which settlement of option premiums will occur.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="settlementCurrency" type="Currency">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The currency in which a cash settlement for non-deliverable forward and non-deliverable options.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="settlementPriceSource" type="SettlementPriceSource" minOccurs="0"/>
			<xsd:element name="settlementType" type="SettlementTypeEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Abrechnungsmodus der Option.</xsd:documentation>
					<xsd:documentation xml:lang="en">How the option will be settled.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="failureToDeliverApplicable" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Ist der Basiswert eine Aktie und wird die Transaktion effektiv beliefert, stellt die Nichtlieferung von Aktien am Abrechnungstag keinen Kündigungsgrund im Sinne des Rahmenvertrags dar, wenn der Wert "wahr" lautet.</xsd:documentation>
					<xsd:documentation xml:lang="en">Where the underlying is shares and the transaction is physically settled, then, if true, a failure to deliver the shares on the settlement date will not be an event of default for the purposes of the master agreement.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EquityMultipleExercise">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Typ zur Definition der Prozesse bei Mehrfachausübung einer amerikanischen oder einer Bermuda-Aktienoption.</xsd:documentation>
			<xsd:documentation xml:lang="en">A type for defining the multiple exercise provisions of an American or Bermudan style equity option.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="integralMultipleExercise" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Ist Mehrfachausübung anwendbar und dieses Element vorhanden, muss die Anzahl der an einem bestimmten Ausübungstag ausübbaren Optionen entweder dem Wert dieses Elements oder einem ganzzahligen Vielfachen davon entsprechen.</xsd:documentation>
					<xsd:documentation xml:lang="en">When multiple exercise is applicable and this element is present it specifies that the number of options that can be exercised on a given exercise date must either be equal to the value of this element or be an integral multiple of it.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="minimumNumberOfOptions" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Bei Mehrfachausübung bestimmt dieses Element die Mindestanzahl der an einem bestimmten Ausübungstag ausübbaren Optionen. Ist dieses Element nicht vorhanden, gilt als Mindestanzahl 1.</xsd:documentation>
					<xsd:documentation xml:lang="en">When multiple exercise is applicable this element specifies the minimum number of options that can be exercised on a given exercise date. If this element is not present then the minimum number is deemed to be 1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maximumNumberOfOptions" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Bei Mehrfachausübung bestimmt dieses Element die maximale Anzahl der an einem bestimmten Ausübungstag ausübbaren Optionen. Ist dieses Element nicht vorhanden, gilt die Anzahl der Optionen als Maximalwert.</xsd:documentation>
					<xsd:documentation xml:lang="en">When multiple exercise is applicable this element specifies the maximum number of options that can be exercised on a given exercise date. If this element is not present then the maximum number is deemed to be the same as the number of options.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EquityOption">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Typ zur Definition von Aktienoptionen.</xsd:documentation>
			<xsd:documentation xml:lang="en">A type for defining equity options.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Product">
				<xsd:sequence>
					<xsd:group ref="BuyerSeller.model"/>
					<xsd:element name="optionType" type="OptionTypeEnum">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Art der Optionstransaktion.</xsd:documentation>
							<xsd:documentation xml:lang="en">The type of option transaction.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="equityEffectiveDate" type="xsd:date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Stichtag für eine Forward-Starting-Option.</xsd:documentation>
							<xsd:documentation xml:lang="en">Effective date for a forward starting option</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="underlyer" type="Underlyer">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Specifies the underlying component of the equity swap, which can be either one or many and consists in either equity, index or convertible bond component, or a combination of these.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="strike" type="EquityStrike" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Definiert, ob ein Preis oder Niveau als Strike-Preis für die Option gilt bzw. gelten wird.</xsd:documentation>
							<xsd:documentation xml:lang="en">Defines whether it is a price or level at which the option has been, or will be, struck.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="spotPrice" type="xsd:decimal" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Preis je Aktie, Index oder Korb am Handelstag oder Stichtag.</xsd:documentation>
							<xsd:documentation xml:lang="en">The price per share, index or basket observed on the trade or effective date.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="notional" type="Money" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The notional amount.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="numberOfOptions" type="xsd:decimal" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Anzahl von Optionen der Optionstransaktion.</xsd:documentation>
							<xsd:documentation xml:lang="en">The number of options comprised in the option transaction.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="optionEntitlement" type="xsd:decimal">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Stückzahl Aktien je Option der Optionstransaktion.</xsd:documentation>
							<xsd:documentation xml:lang="en">The number of shares per option comprised in the option transaction.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="equityExercise" type="EquityExercise">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Parameter zur Definition von Ausübung, Bewertung und Regulierung der Aktienoption.</xsd:documentation>
							<xsd:documentation xml:lang="en">The parameters for defining how the equity option can be exercised, how it is valued and how it is settled.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fxFeature" type="FXFeature" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Quanto- oder Komposit-Devisenbestandteil.</xsd:documentation>
							<xsd:documentation xml:lang="en">A quanto or composite FX feature.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="equityOptionFeatures" type="EquityOptionFeatures" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Quanto- oder Komposit-Devisenbestandteil.</xsd:documentation>
							<xsd:documentation xml:lang="en">A quanto or composite FX feature.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="equityPremium" type="EquityPremium">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Vom Käufer an den Verkäufer zahlbare Aktienoptionsprämie.</xsd:documentation>
							<xsd:documentation xml:lang="en">The equity option premium payable by the buyer to the seller.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="methodOfAdjustment" type="MethodOfAdjustmentEnum" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Definiert die Anpassung des Kontrakts im Falle eines oder mehrerer außerordentlicher Ereignisse.</xsd:documentation>
							<xsd:documentation xml:lang="en">Defines how adjustments will be made to the contract should one or more of the extraordinary events occur.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="extraordinaryEvents" type="ExtraordinaryEvents" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="de">Ist der Basiswert eine Aktie, werden hiermit Ereignisse angegeben, die den Emittenten der Aktie betreffen und die eine Anpassung der Transaktionsbedingungen erfordern können.</xsd:documentation>
							<xsd:documentation xml:lang="en">Where the underlying is shares, specifies events affecting the issuer of those shares that may require the terms of the transaction to be adjusted.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EquityOptionFeatures">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Typ zur Definition von Optionsbestandteilen.</xsd:documentation>
			<xsd:documentation xml:lang="en">A type for defining option features.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="asian" type="Asian" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Option, deren Bewertung auf einem Durchschnittspreis basiert.</xsd:documentation>
					<xsd:documentation xml:lang="en">An option where and average price is taken on valuation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="barrier" type="Barrier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Option mit Barrier-Merkmal.</xsd:documentation>
					<xsd:documentation xml:lang="en">An option with a barrier feature.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="knock" type="Knock" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Knock-Spezifikation.</xsd:documentation>
					<xsd:documentation xml:lang="en">A knock feature.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EquityPremium">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Typ zur Beschreibung des für eine Aktienoption gezahlten Betrages.</xsd:documentation>
			<xsd:documentation xml:lang="en">A type used to describe the amount paid for an equity option.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PayerReceiver.model"/>
			<xsd:element name="paymentAmount" type="Money" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The currency amount of the payment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentDate" type="AdjustableDate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The payment date. This date is subject to adjustment in accordance with any applicable business day convention.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swapPremium" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Gibt die Zahlbarkeit der Prämie in Form von Zinsswap-Zahlungsströmen an.</xsd:documentation>
					<xsd:documentation xml:lang="en">Specifies whether or not the premium is to be paid in the style of payments under an interest rate swap contract.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pricePerOption" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Zahlbare Prämie in Abhängigkeit von der Anzahl der Optionen.</xsd:documentation>
					<xsd:documentation xml:lang="en">The amount of premium to be paid expressed as a function of the number of options.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="percentageOfNotional" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Zahlbare Prämie, ausgedrückt als Prozentsatz des Nennwerts der Transaktion. (Ein Prozentsatz von 5 % wird als 0,05 dargestellt.)</xsd:documentation>
					<xsd:documentation xml:lang="en">The amount of premium to be paid expressed as a percentage of the notional value of the transaction. A percentage of 5% would be expressed as 0.05.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EquitySchedule">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Methode zur Generierung einer Reihe von Terminen.</xsd:documentation>
			<xsd:documentation xml:lang="en">Method of generating a series of dates.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="startDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The averaging period start date.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="endDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Letzter Tag eines Durchschnittszeitraums.</xsd:documentation>
					<xsd:documentation xml:lang="en">The averaging period end date.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="frequency" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Zahlungsfrequenz laut Zeitplan.</xsd:documentation>
					<xsd:documentation xml:lang="en">The schedule frequency.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="frequencyType" type="FrequencyTypeEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Art der Zahlungsfrequenz laut Zeitplan.</xsd:documentation>
					<xsd:documentation xml:lang="en">The schedule frequency type</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="weekNumber" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="de">Wochenzahl im Zeitplan.</xsd:documentation>
					<xsd:documentation xml:lang="en">The schedule week number.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dayOfWeek" type="WeeklyRollConventionEnum" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EquityStrike">
		<xsd:annotation>
			<xsd:documentation xml:lang="de">Typ zur Definition des Strike-Preises für eine Aktienoption. Der Strike-Preis ist: (i) bei Indexoptionen der Stand des jeweils spezifizierten oder anderweitig in der Transaktion bestimmten Index oder (ii) bei Aktienoptionen der Preis jeder spezifizierten oder anderweitig in der Transaktion bestimmten Aktie. Der Strike-Preis kann entweder als Prozentsatz des Nennwertes oder als absoluter Wert angegeben werden.</xsd:documentation>
			<xsd:documentation xml:lang="en">A type for defining the strike price for an equity option. The strike price is either: (i) in respect of an index option transaction, the level of the relevant index specified or otherwise determined in the transaction; or (ii) in respect of a share option transaction, the price per share specified or otherwise determined in the transaction. This can be expressed either as a percentage of notional amount or as an absolute value.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="strikePrice" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation xml:lang="de">Preis oder Niveau als Strike-Preis der Option.</xsd:documentation>
						<xsd:documentation xml:lang="en">The price or level at which the option has been struck.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="strikePercentage" type="xsd:decimal">
					<xsd:annotation>
						<xsd:documentation xml:lang="de">Preis oder Niveau, ausgedrückt als Prozentsatz des für einen künftigen Zeitpunkt ermittelten Spotpreises.</xsd:documentation>
						<xsd:documentation xml:lang="en">The price or level expressed as a percentage of the forward starting spot price.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="currency" type="Currency" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The currency in which an amount is denominated.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
