data/FpML/fpml-doc-4-0.xsd

<?xml version = "1.0" encoding = "utf-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.fpml.org/2003/FpML-4-0"
	 targetNamespace = "http://www.fpml.org/2003/FpML-4-0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">

	<xsd:include schemaLocation = "fpml-shared-4-0.xsd"/>

	<xsd:attributeGroup name = "StandardAttributes.atts">
		<xsd:attribute name = "version" use = "required">
			<xsd:simpleType>
				<xsd:restriction base = "xsd:token">
					<xsd:enumeration value = "4-0"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>
	
	<!--
  == Copyright (c) 2002-2003. All rights reserved.
  == Financial Products Markup Language is subject to the FpML public license.
  == A copy of this license is available at http://www.fpml.org/documents/license
  -->
	
	<xsd:element name = "strategy" type = "Strategy" substitutionGroup = "product">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">A strategy product.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name = "DataDocument">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">A type defining a content model that is backwards compatible with older FpML releases and which can be used to contain sets of data without expressing any processing intention.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base = "Document">
				<xsd:sequence>
					<xsd:group ref = "Validation.model"/>
					<xsd:element name = "trade" type = "Trade" minOccurs = "0" maxOccurs = "unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang = "en">The root element in an FpML trade document.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name = "portfolio" type = "Portfolio" minOccurs = "0" maxOccurs = "unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang = "en">An arbitary grouping of trade references (and possibly other portfolios).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name = "party" type = "Party" minOccurs = "0" maxOccurs = "unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang = "en">The parties obligated to make payments from time to time during the term of the trade. This will include, at a minimum, the principal parties involved in the swap or forward rate agreement. Other parties paying or receiving fees, commissions etc. must also be specified if referenced in other party payments.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Document" abstract = "true">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">The abstract base type from which all FpML compliant messages and documents must be derived.</xsd:documentation>
		</xsd:annotation>
		<xsd:attributeGroup ref = "StandardAttributes.atts"/>
	</xsd:complexType>
	<xsd:complexType name = "PartyId">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">The data type used for party identifiers.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base = "xsd:normalizedString">
				<xsd:attribute name = "partyIdScheme" default = "http://www.fpml.org/ext/iso9362" type = "xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name = "Party">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">A type defining party identifier information.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "partyId" type = "PartyId">
				<xsd:annotation>
					<xsd:documentation xml:lang = "en">A party identifier, e.g. a S.W.I.F.T. bank identifier code (BIC).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "partyName" type = "xsd:string" minOccurs = "0">
				<xsd:annotation>
					<xsd:documentation xml:lang = "en">The name of the party. A free format string. FpML does not define usage rules for this element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name = "id" use = "required" type = "xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name = "PartyPortfolioName">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">A type to represent a portfolio name for a particular party.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "partyReference" type = "PartyReference">
				<xsd:annotation>
					<xsd:documentation xml:lang = "en">A pointer style reference to a party identifier defined elsewhere in the document. The party referenced has allocated the trade identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "portfolioName" type = "PortfolioName" maxOccurs = "unbounded"/>
		</xsd:sequence>
		<xsd:attribute name = "id" type = "xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name = "PartyTradeIdentifier">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">A type defining one or more trade identifiers allocated to the trade by a party. A link identifier allows the trade to be associated with other related trades, e.g. trades forming part of a larger structured transaction. It is expected that for external communication of trade there will be only one tradeId sent in the document per party.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base = "TradeIdentifier">
				<xsd:sequence>
					<xsd:element name = "linkId" minOccurs = "0" maxOccurs = "unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang = "en">A link identifier allowing the trade to be associated with other related trades, e.g. the linkId may contain a tradeId for an associated trade or several related trades may be given the same linkId. FpML does not define the domain values associated with this element. Note that the domain values for this element are not strictly an enumerated list.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:extension base = "LinkId">
									<xsd:attribute name = "id" type = "xsd:ID"/>
									<xsd:attribute name = "linkIdScheme" use = "required" type = "xsd:anyURI"/>
								</xsd:extension>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Portfolio">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">A type representing an arbitary grouping of trade references.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "partyPortfolioName" type = "PartyPortfolioName" minOccurs = "0">
				<xsd:annotation>
					<xsd:documentation xml:lang = "en">The name of the portfolio together with the party that gave the name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "tradeId" type = "TradeId" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element name = "portfolio" type = "Portfolio" minOccurs = "0" maxOccurs = "unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang = "en">An arbitary grouping of trade references (and possibly other portfolios).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name = "id" type = "xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name = "PortfolioName">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">The data type used for portfolio names.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base = "xsd:string">
				<xsd:attribute name = "id" type = "xsd:ID"/>
				<xsd:attribute name = "portfolioNameScheme" type = "xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name = "Strategy">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">A type defining a group of products making up a single trade.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base = "Product">
				<xsd:sequence>
					<xsd:element name = "premiumProductReference" type = "ProductReference" minOccurs = "0">
						<xsd:annotation>
							<xsd:documentation xml:lang = "en">Indicates which product within a strategy represents the premium payment.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref = "product" maxOccurs = "unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "TradeId">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">A trade reference identifier allocated by a party. FpML does not define the domain values associated with this element. Note that the domain values for this element are not strictly an enumerated list.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base = "xsd:normalizedString">
				<xsd:attribute name = "tradeIdScheme" use = "required" type = "xsd:anyURI"/>
				<xsd:attribute name = "id" type = "xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name = "Trade">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">A type definiting an FpML trade.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "tradeHeader" type = "TradeHeader">
				<xsd:annotation>
					<xsd:documentation xml:lang = "en">The information on the trade which is not product specific, e.g. trade date.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref = "product"/>
			<xsd:element name = "otherPartyPayment" type = "Payment" minOccurs = "0" maxOccurs = "unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang = "en">Other fees or additional payments associated with the trade, e.g. broker commissions, where one or more of the parties involved are not principal parties involved in the trade.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "brokerPartyReference" type = "PartyReference" minOccurs = "0" maxOccurs = "unbounded">
				<xsd:annotation>
					<xsd:documentation>Identifies that party (or parties) that brokered this trade.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "calculationAgent" type = "CalculationAgent" minOccurs = "0">
				<xsd:annotation>
					<xsd:documentation xml:lang = "en">The ISDA Calculation Agent responsible for performing duties associated with an optional early termination.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "calculationAgentBusinessCenter" type = "BusinessCenter" minOccurs = "0">
				<xsd:annotation>
					<xsd:documentation xml:lang = "en">The city in which the office through which ISDA Calculation Agent is acting for purposes of the transaction is located.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "documentation" type = "Documentation" minOccurs = "0">
				<xsd:annotation>
					<xsd:documentation xml:lang = "en">Defines the definitions that govern the document and should include the year and type of definitions referenced, along with any relevant documentation (such as master agreement) and the date it was signed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "governingLaw" type = "GoverningLaw" minOccurs = "0">
				<xsd:annotation>
					<xsd:documentation xml:lang = "en">TBA</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name = "id" type = "xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name = "TradeDate">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">The type used to define the trade date for a transaction.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base = "xsd:date">
				<xsd:attribute name = "id" type = "xsd:ID"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name = "TradeHeader">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">A type defining trade related information which is not product specific.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "partyTradeIdentifier" type = "PartyTradeIdentifier" maxOccurs = "unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang = "en">The trade reference identifier(s) allocated to the trade by the parties involved.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "partyTradeInformation" type = "PartyTradeInformation" minOccurs = "0" maxOccurs = "unbounded">
				<xsd:annotation>
					<xsd:documentation>Additional trade information that may be provided by each involved party.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "tradeDate" type = "TradeDate">
				<xsd:annotation>
					<xsd:documentation xml:lang = "en">The trade date.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "TradeIdentifier">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">A type defining a trade identifier issued by the indicated party.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "partyReference" type = "PartyReference">
				<xsd:annotation>
					<xsd:documentation xml:lang = "en">A pointer style reference to a party identifier defined elsewhere in the document. The party referenced has allocated the trade identifier.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "tradeId" type = "TradeId" maxOccurs = "unbounded"/>
		</xsd:sequence>
		<xsd:attribute name = "id" type = "xsd:ID"/>
	</xsd:complexType>
	<xsd:simpleType name = "LinkId">
		<xsd:annotation>
			<xsd:documentation xml:lang = "en">The data type used for link identifiers.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base = "xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name = "PartyTradeInformation">
		<xsd:annotation>
			<xsd:documentation>A type defining additional information that may be recorded against a trade. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name = "partyReference" type = "PartyReference">
				<xsd:annotation>
					<xsd:documentation>Identifies that party that has ownership of this information.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name = "trader" type = "xsd:normalizedString" minOccurs = "0" maxOccurs = "unbounded">
				<xsd:annotation>
					<xsd:documentation>Identifies the person or persons who assumed the role of trader for this trade.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name = "Validation">
		<xsd:attribute name = "validationScheme" use = "required" type = "xsd:anyURI"/>
	</xsd:complexType>

	<xsd:group name = "Validation.model">
		<xsd:sequence>
			<xsd:element name = "validation" type = "Validation" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:group>

	<xsd:simpleType name = "ValidationRuleId">
		<xsd:restriction base = "xsd:string"/>
	</xsd:simpleType>

</xsd:schema>
