data/interop/schemaInformedGrammar/declaredProductions/substitutionGroup_foo.xsd

<?xml version="1.0" ?>

<xsd:schema targetNamespace="urn:foo"
  xmlns:foo="urn:foo"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="Z">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element ref="foo:C" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

<xsd:element name="C" type="foo:tC" abstract="true" />
<xsd:element name="D" type="foo:tD" substitutionGroup="foo:C" />

<xsd:complexType name="tC" />

<xsd:complexType name="tD">
  <xsd:complexContent>
    <xsd:extension base="foo:tC" />
  </xsd:complexContent>
</xsd:complexType>

</xsd:schema>
