data/interop-profile/builtInElementGrammars/builtInElement.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a" type="xs:string" />
                <xs:element name="b" type="xs:int" />
                <xs:element name="c" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="globalA" type="xs:boolean" />

    <!-- <xs:attribute name="at1" type="xs:float"/>-->

</xs:schema>
