data/ASMTF/optaskdive/composites.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="asmtf2006:composite" xml:lang="en-US" version="1.1"
 xmlns="asmtf2006:composite"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:f="asmtf2006:field"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="asmtf2006:field" schemaLocation="fields.xsd"/>

  <xsd:complexType name="geographic.location.mgrs.10.meter.12">
    <xsd:sequence>
      <xsd:element name="utm_grid_zone_column" type="f:utm.grid.zone.column.162.1"/>
      <xsd:element name="utm_grid_zone_row" type="f:utm.grid.zone.row.163.1"/>
      <xsd:element name="_100_000_meter_square_column" type="f:_100.000.meter.square.column.164.1"/>
      <xsd:element name="_100_000_meter_square_row" type="f:_100.000.meter.square.row.165.1"/>
      <xsd:element name="utm_10_meter_easting" type="f:utm.10.meter.easting.166.1"/>
      <xsd:element name="utm_10_meter_northing" type="f:utm.10.meter.northing.167.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.75">
    <xsd:sequence>
      <xsd:element name="year" type="f:year.21.1"/>
      <xsd:element name="month_numeric" type="f:month.numeric.22.1"/>
      <xsd:element name="day" type="f:day.23.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.day.month.year.87">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="month_numeric" type="f:month.numeric.22.1"/>
      <xsd:element name="year" type="f:year.21.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="plan.originator.and.number.102">
    <xsd:sequence>
      <xsd:element name="plan_originator" type="f:plan.originator.146.11"/>
      <xsd:element name="mandatory_space" type="f:mandatory.space.213.4"/>
      <xsd:element name="operation_plan_number" type="f:operation.plan.number.487.168"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="military.day.time.143">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="hour_time" type="f:hour.time.24.1"/>
      <xsd:element name="minute_time" type="f:minute.time.25.1"/>
      <xsd:element name="time_zone" type="f:time.zone.26.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="alphamonth.year.176">
    <xsd:sequence>
      <xsd:element name="month_name" type="f:month.name.580.1"/>
      <xsd:element name="year" type="f:year.21.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="location.abbrev.georef.centiminute.194">
    <xsd:sequence>
      <xsd:element name="one_degree_quadrilateral_georef" type="f:one.degree.quadrilateral.georef.536.1"/>
      <xsd:element name="minute_easting_georef" type="f:minute.easting.georef.535.1"/>
      <xsd:element name="centiminute_angular_1" type="f:centiminute.angular.685.1"/>
      <xsd:element name="minute_northing_georef" type="f:minute.northing.georef.534.1"/>
      <xsd:element name="centiminute_angular_2" type="f:centiminute.angular.685.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.location.lat.long.deciseconds.329">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.17.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.156.2"/>
      <xsd:element name="latitude_second_angular" type="f:latitude.second.angular.157.2"/>
      <xsd:element name="latitude_decisecond_angular" type="f:latitude.decisecond.angular.300.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.158.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.18.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.156.3"/>
      <xsd:element name="longitude_second_angular" type="f:longitude.second.angular.157.3"/>
      <xsd:element name="longitude_decisecond_angular" type="f:longitude.decisecond.angular.300.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.158.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="location.mgrs.1.meter.330">
    <xsd:sequence>
      <xsd:element name="utm_grid_zone_column" type="f:utm.grid.zone.column.162.1"/>
      <xsd:element name="utm_grid_zone_row" type="f:utm.grid.zone.row.163.1"/>
      <xsd:element name="_100_000_meter_square_column" type="f:_100.000.meter.square.column.164.1"/>
      <xsd:element name="_100_000_meter_square_row" type="f:_100.000.meter.square.row.165.1"/>
      <xsd:element name="utm_1_meter_easting" type="f:utm.1.meter.easting.342.1"/>
      <xsd:element name="utm_1_meter_northing" type="f:utm.1.meter.northing.343.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.location.lat.long.centiseconds.442">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.17.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.156.2"/>
      <xsd:element name="latitude_second_angular" type="f:latitude.second.angular.157.2"/>
      <xsd:element name="latitude_centisecond_angular" type="f:latitude.centisecond.angular.441.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.158.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.18.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.156.3"/>
      <xsd:element name="longitude_second_angular" type="f:longitude.second.angular.157.3"/>
      <xsd:element name="longitude_centisecond_angular" type="f:longitude.centisecond.angular.441.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.158.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="length.of.object.in.feet.or.meters.466">
    <xsd:sequence>
      <xsd:element name="context_quantity_decimal_pt_permitted_5_character_max" type="f:context.quantity.decimal.pt.permitted.5.character.max.951.3"/>
      <xsd:element name="unit_of_linear_measurement_meters_or_feet" type="f:unit.of.linear.measurement.meters.or.feet.29.51"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.location.lat.long.minutes.469">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.17.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.156.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.158.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.18.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.156.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.158.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="specific.radio.frequency.566">
    <xsd:sequence>
      <xsd:element name="context_quantity_decimal_pt_permitted_11_character_max" type="f:context.quantity.decimal.pt.permitted.11.character.max.951.15"/>
      <xsd:element name="radio_frequency_unit_of_measurement" type="f:radio.frequency.unit.of.measurement.29.21"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="true.bearing.and.distance.in.nm.from.reference.point.620">
    <xsd:sequence>
      <xsd:element name="true_bearing_in_degrees" type="f:true.bearing.in.degrees.493.25"/>
      <xsd:element name="reference_point_name_abbreviated" type="f:reference.point.name.abbreviated.500.120"/>
      <xsd:element name="distance_nautical_miles" type="f:distance.nautical.miles.624.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.time.group.647">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="hour_time" type="f:hour.time.24.1"/>
      <xsd:element name="minute_time" type="f:minute.time.25.1"/>
      <xsd:element name="time_zone" type="f:time.zone.26.1"/>
      <xsd:element name="month_name" type="f:month.name.580.1"/>
      <xsd:element name="year" type="f:year.21.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.day.alphamonth.year.649">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="month_name" type="f:month.name.580.1"/>
      <xsd:element name="year" type="f:year.21.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="georef.location.centiminute.683">
    <xsd:sequence>
      <xsd:element name="fifteen_degree_quadrilateral_georef" type="f:fifteen.degree.quadrilateral.georef.537.1"/>
      <xsd:element name="one_degree_quadrilateral_georef" type="f:one.degree.quadrilateral.georef.536.1"/>
      <xsd:element name="minute_easting_georef" type="f:minute.easting.georef.535.1"/>
      <xsd:element name="centiminute_angular_1" type="f:centiminute.angular.685.1"/>
      <xsd:element name="minute_northing_georef" type="f:minute.northing.georef.534.1"/>
      <xsd:element name="centiminute_angular_2" type="f:centiminute.angular.685.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="distance.in.nautical.miles.yards.or.kiloyards.755">
    <xsd:sequence>
      <xsd:element name="context_quantity_decimal_pt_permitted_5_character_max" type="f:context.quantity.decimal.pt.permitted.5.character.max.951.3"/>
      <xsd:element name="unit_of_linear_measurement_nm_yd_kyd" type="f:unit.of.linear.measurement.nm.yd.kyd.29.6"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="draft.822">
    <xsd:sequence>
      <xsd:element name="context_quantity_dec_pt_for_tenths_permitted_4_char_max" type="f:context.quantity.dec.pt.for.tenths.permitted.4.char.max.951.22"/>
      <xsd:element name="unit_of_linear_measurement_meters_or_feet" type="f:unit.of.linear.measurement.meters.or.feet.29.51"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tonnage.823">
    <xsd:sequence>
      <xsd:element name="context_quantity_decimal_pt_permitted_8_char_max" type="f:context.quantity.decimal.pt.permitted.8.char.max.951.35"/>
      <xsd:element name="unit_of_weight_measurement_tonnage" type="f:unit.of.weight.measurement.tonnage.29.79"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="width.in.feet.or.meters.827">
    <xsd:sequence>
      <xsd:element name="context_quantity_decimal_pt_permitted" type="f:context.quantity.decimal.pt.permitted.951.33"/>
      <xsd:element name="unit_of_linear_measurement_meters_or_feet" type="f:unit.of.linear.measurement.meters.or.feet.29.51"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="location.lat.long.thousandths.of.minute.833">
    <xsd:sequence>
      <xsd:element name="latitude_degrees" type="f:latitude.degrees.17.1"/>
      <xsd:element name="latitude_minute_angular" type="f:latitude.minute.angular.156.2"/>
      <xsd:element name="decimal_1" type="f:decimal.213.5"/>
      <xsd:element name="thousandth_of_minute_of_latitude" type="f:thousandth.of.minute.of.latitude.2377.2"/>
      <xsd:element name="latitudinal_hemisphere" type="f:latitudinal.hemisphere.158.2"/>
      <xsd:element name="longitude_degrees" type="f:longitude.degrees.18.1"/>
      <xsd:element name="longitude_minute_angular" type="f:longitude.minute.angular.156.3"/>
      <xsd:element name="decimal_2" type="f:decimal.213.5"/>
      <xsd:element name="thousandth_of_minute_of_longitude" type="f:thousandth.of.minute.of.longitude.2377.3"/>
      <xsd:element name="longitudinal_hemisphere" type="f:longitudinal.hemisphere.158.3"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="day.time.and.month.2044">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="hour_time" type="f:hour.time.24.1"/>
      <xsd:element name="minute_time" type="f:minute.time.25.1"/>
      <xsd:element name="time_zone" type="f:time.zone.26.1"/>
      <xsd:element name="month_name" type="f:month.name.580.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="organization.designator.2254">
    <xsd:sequence>
      <xsd:element name="naval_level_of_echelon" type="f:naval.level.of.echelon.98.4"/>
      <xsd:element name="naval_organization_numerical_designator" type="f:naval.organization.numerical.designator.488.2"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="communications.channel.number.2270">
    <xsd:sequence>
      <xsd:element name="channel_qualifier" type="f:channel.qualifier.639.3"/>
      <xsd:element name="unique_communications_channel_number" type="f:unique.communications.channel.number.487.211"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
