data/ASMTF/optaskdive/messages.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="asmtf2006:message" xml:lang="en-US" version="1.1"
 xmlns="asmtf2006:message"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:s="asmtf2006:set"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="asmtf2006:set" schemaLocation="sets.xsd"/>

  <xsd:element name="national_operational_tasking_dive">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="exercise_identification" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:exercise.identification">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="1"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="operation_identification_data" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:operation.identification.data">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="2"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_identification" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:message.identification">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="3"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="reference" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:reference">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="4"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="geodetic_datum" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:geodetic.datum">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="5"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="operation_type_and_duration" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:operation.type.and.duration">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="6"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="diving_platform" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:diving.platform">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="7"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="distressed_vessel" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:distressed.vessel">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="8"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="communications" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:communications">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="9"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="diving_area" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:diving.area">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="10"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="diving_circular_area" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:diving.circular.area">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="11"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="map_data_without_geodetic_datum" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:map.data.without.geodetic.datum">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="12"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="primary_recompression_chamber" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:primary.recompression.chamber">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="13"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="medical_assistance_available_1" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:medical.assistance.available">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="14"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="secondary_recompression_chamber" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:secondary.recompression.chamber">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="15"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="medical_assistance_available_2" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:medical.assistance.available">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="16"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_information_1" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text.information">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="17"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_information_2" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text.information">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="18"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_information_3" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text.information">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="19"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="general_text_information_4" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:general.text.information">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="20"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="acknowledgement_requirement" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:acknowledgement.requirement">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="21"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="remarks" type="s:remarks" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="message_downgrading_or_declassification_data" type="s:message.downgrading.or.declassification.data" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    <xsd:attribute name="mtfid" type="xsd:string" fixed="OPTASK DIVE"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
