data/ASMTF/optaskdive/sets.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="asmtf2006:set" xml:lang="en-US" version="1.1"
 xmlns="asmtf2006:set"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:c="asmtf2006:composite"
 xmlns:f="asmtf2006:field"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="asmtf2006:composite" schemaLocation="composites.xsd"/>
  <xsd:import namespace="asmtf2006:field" schemaLocation="fields.xsd"/>

  <xsd:complexType name="set.base.type">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="narrative_information" type="narrative.information" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="acknowledgement.requirement">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="acknowledgement_requirement_indicator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:acknowledgement.requirement.indicator.241.17">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="instructions_or_unit" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="instructions_for_acknowledging">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:instructions.for.acknowledging.150.93">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="150-93"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="force_or_unit_required_to_acknowledge">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:force.or.unit.required.to.acknowledge.987.64">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="987-64"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="AKNLDG"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="amplification">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="AMPN"/>
  </xsd:complexType>

  <xsd:complexType name="communications">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="unit_designator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="unit">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:unit.987.73">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="987-73"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="specific_unit_designator">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:organization.designator.2254">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2254-3"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="specific_call_sign" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:specific.call.sign.2.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="communications_identifier" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="specific_radio_frequency">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:specific.radio.frequency.566">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="566-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="communications_channel_number">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:communications.channel.number.2270">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2270-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="communications_code">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:communications.code.1153.1">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="1153-1"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="communication_priority" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:communication.priority.992.1">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="transmission_mode" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:transmission.mode.1084.1">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="COMMS"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="message.downgrading.or.declassification.data">
    <xsd:sequence>
      <xsd:element name="source_for_classification" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="derivative_source_for_classification">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:derivative.source.for.classification.679.1">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="679-1"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="original_classification_authority">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:original.classification.authority.679.4">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="679-4"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="reason_for_classification" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:reason.for.classification.679.5">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="declassification_requirements" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="declassification_instructions">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:declassification.instructions.679.2">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="679-2"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="declassification_date_day_alphamonth_year">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="c:date.day.alphamonth.year.649">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="649-16"/>
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="downgrade_requirements" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="downgrade_instructions">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:downgrade.instructions.679.6">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="679-6"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="downgrade_date_day_alphamonth_year">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="c:date.day.alphamonth.year.649">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="649-31"/>
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="DECL"/>
  </xsd:complexType>

  <xsd:complexType name="distressed.vessel">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="ship_type_category" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:ship.type.category.137.6">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="ship_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:ship.name.198.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="flag" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:flag.59.13">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="international_radio_call_sign" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:international.radio.call.sign.2.11">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="length_of_ship" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:length.of.object.in.feet.or.meters.466">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="beam" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:width.in.feet.or.meters.827">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="draft" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:draft.822">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="displacement" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:tonnage.823">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="8"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="minimum_speed_knots" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:minimum.speed.knots.7014.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="9"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="maximum_speed_knots" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:maximum.speed.knots.7014.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="10"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="cargo_name_type_or_nomenclature" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:cargo.name.type.or.nomenclature.1030.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="11"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="DISVESL"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="diving.area">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="dive_area_position" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="point_name">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:point.name.500.124">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="500-124"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_abbrev_georef_centiminute">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:location.abbrev.georef.centiminute.194">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="194-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_georef_centiminute">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:georef.location.centiminute.683">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="683-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="geographic_location_utm_10_meter">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.location.mgrs.10.meter.12">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="12-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_utm_1_meter">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:location.mgrs.1.meter.330">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="330-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_lat_long_thousandths_of_minute">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:location.lat.long.thousandths.of.minute.833">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="833-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="geographic_location_lat_long_centiseconds">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.location.lat.long.centiseconds.442">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="442-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="geographic_location_lat_long_deciseconds">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.location.lat.long.deciseconds.329">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="329-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="DIVEAREA"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="diving.circular.area">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="position" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="point_name">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:point.name.500.124">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="500-124"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_location_utm_10_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.mgrs.10.meter.12">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="12-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_georef_centiminute">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:georef.location.centiminute.683">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="683-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_utm_1_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.1.meter.330">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="330-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_abbrev_georef_centiminute">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.abbrev.georef.centiminute.194">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="194-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_location_lat_long_deciseconds">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.lat.long.deciseconds.329">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="329-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_lat_long_thousandths_of_minute">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.lat.long.thousandths.of.minute.833">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="833-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_location_lat_long_centiseconds">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.lat.long.centiseconds.442">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="442-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="circle_radius" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:distance.in.nautical.miles.yards.or.kiloyards.755">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="DIVECIRC"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="diving.platform">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="platform_type" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="diving_platform_type">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:diving.platform.type.7121.2">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="7121-2"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ship_type_category">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:ship.type.category.137.6">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="137-6"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="platform_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:platform.name.500.320">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="nationality" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:nationality.59.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="international_radio_call_sign" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:international.radio.call.sign.2.11">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="length_of_ship" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:length.of.object.in.feet.or.meters.466">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="beam" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:width.in.feet.or.meters.827">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="draft" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:draft.822">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="displacement" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:tonnage.823">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="8"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="minimum_speed_knots" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:minimum.speed.knots.7014.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="9"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="maximum_speed_knots" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:maximum.speed.knots.7014.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="10"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="DIVEPLAT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="exercise.identification">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="exercise_nickname" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:exercise.nickname.335.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exercise_additional_identifier" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="exercise_message_additional_identifier">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:exercise.message.additional.identifier.335.2">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="335-2"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="exercise_additional_identifier">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:exercise.additional.identifier.335.7">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="335-7"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="EXER"/>
  </xsd:complexType>

  <xsd:complexType name="general.text.information">
    <xsd:sequence>
      <xsd:element name="narrative_information" type="narrative.information" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="gentext_text_indicator" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:gentext.text.indicator.358.2">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="GENTEXT"/>
  </xsd:complexType>

  <xsd:complexType name="geodetic.datum">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="geodetic_datum" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geodetic.datum.112.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="GEODATUM"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="map.data.without.geodetic.datum">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="map_or_chart_series_designator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:map.or.chart.series.designator.117.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="map_or_chart_suffix_number" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:map.or.chart.suffix.number.487.119">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="map_or_chart_sheet_number" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:map.or.chart.sheet.number.487.118">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="map_or_chart_edition_number" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:map.or.chart.edition.number.487.121">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="MAPNOGD"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="medical.assistance.available">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="medical_assistance" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:medical.assistance.7123.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="evacuation_conveyance" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:evacuation.conveyance.7124.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="reaction_time_in_hours" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:reaction.time.in.hours.39.28">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="MEDASST"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="message.identification">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="message_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:message.text.format.identifier.50.9">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="originator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:originator.146.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="message_serial_number" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:message.serial.number.147.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="month_name" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:month.name.580.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="qualifier" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:qualifier.568.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="serial_number_of_qualifier" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.number.of.qualifier.487.17">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="MSGID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="narrative.information">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="NARR"/>
  </xsd:complexType>

  <xsd:complexType name="operation.identification.data">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="operation_codeword" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:operation.codeword.336.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="plan_originator_and_number" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="c:plan.originator.and.number.102">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="option_nickname" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:option.nickname.585.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="secondary_option_nickname" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:secondary.option.nickname.585.2">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="OPER"/>
  </xsd:complexType>

  <xsd:complexType name="operation.type.and.duration">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="type_of_diving_operation" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:type.of.diving.operation.7001.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="diving_operation_hours" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:diving.operation.hours.7169.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="OPTYPDUR"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="primary.recompression.chamber">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="recompression_chamber_patient_capacity_1" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:recompression.chamber.type.7122.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="recompression_chamber_gas_composition" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:recompression.chamber.gas.composition.7125.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="recompression_chamber_patient_capacity_2" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:recompression.chamber.patient.capacity.7253.13">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="chamber_location" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="geographic_location_lat_long_minutes">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.lat.long.minutes.469">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="469-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="place_name">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:place.name.500.57">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="500-57"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_location_utm_10_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.mgrs.10.meter.12">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="12-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_georef_centiminute">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:georef.location.centiminute.683">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="683-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="true_bearing_and_distance_in_nm_from_reference_point">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:true.bearing.and.distance.in.nm.from.reference.point.620">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="620-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ship_name">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:ship.name.198.3">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="198-3"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="reaction_time_in_hours" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:reaction.time.in.hours.39.28">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="oxygen_percentage" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:oxygen.percentage.7160.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="nitrogen_percentage" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:nitrogen.percentage.7160.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="helium_percentage" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:helium.percentage.7160.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="8"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="PRIRCC"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="reference">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="serial_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.identifier.636.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="type_of_reference" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="message_text_format_identifier">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:message.text.format.identifier.50.9">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="50-9"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="reference_description">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:reference.description.500.85">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="500-85"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="originator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:originator.146.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="date_and_or_time_of_reference" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="date_of_reference_year_month_day">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.75">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="75-10"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="reference_day_time">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:military.day.time.143">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="143-5"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="reference_date_time_group">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.time.group.647">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="647-16"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_day_alphamonth_year">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.day.alphamonth.year.649">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="649-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.and.month.2044">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2044-4"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_day_month_year">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.day.month.year.87">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="87-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="alphamonth_year">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:alphamonth.year.176">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="176-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="serial_number_of_reference" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.number.of.reference.487.219">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="special_notation" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:special.notation.1042.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="sic_code_or_filing_number" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="sic_code">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:sic.code.332.1">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="332-1"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="filing_number">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:filing.number.487.29">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="487-29"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="REF"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="remarks">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="RMKS"/>
  </xsd:complexType>

  <xsd:complexType name="secondary.recompression.chamber">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="recompression_chamber_type" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:recompression.chamber.type.7122.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="recompression_chamber_gas_composition" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:recompression.chamber.gas.composition.7125.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="recompression_chamber_patient_capacity" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:recompression.chamber.patient.capacity.7253.13">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="location" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="geographic_location_lat_long_minutes">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.lat.long.minutes.469">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="469-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="place_name">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:place.name.500.57">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="500-57"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_location_utm_10_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.mgrs.10.meter.12">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="12-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_georef_centiminute">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:georef.location.centiminute.683">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="683-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="true_bearing_and_distance_in_nm_from_reference_point">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:true.bearing.and.distance.in.nm.from.reference.point.620">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="620-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ship_name">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:ship.name.198.3">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="198-3"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="reaction_time_in_hours" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:reaction.time.in.hours.39.28">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="oxygen_percentage" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:oxygen.percentage.7160.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="nitrogen_percentage" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:nitrogen.percentage.7160.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="helium_percentage" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:helium.percentage.7160.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="8"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="SECRCC"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
