data/ASMTF/commgatewayreq/messages.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="asmtf2006:message" xml:lang="en-US" version="1.1"
 xmlns="asmtf2006:message"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:s="asmtf2006:set"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="asmtf2006:set" schemaLocation="sets.xsd"/>

  <xsd:element name="national_communications_gateway_request">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="exercise_identification" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:exercise.identification">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="1"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="operation_identification_data" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:operation.identification.data">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="2"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_identification" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:message.identification">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="3"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="reference" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:reference">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="4"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="date_time_group_of_message_report_created" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:date.time.group.of.message.report.created">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="5"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="organization_designator_of_drafter_releaser" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:organization.designator.of.drafter.releaser">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="6"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="gateway_request_data" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:gateway.request.data">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="7"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="communications_gateway_type" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:communications.gateway.type">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="8"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="gateway_planning_time" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:gateway.planning.time">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="9"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="gateway_status" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:gateway.status">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="10"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="gateway_node_data" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:gateway.node.data">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="11"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="accessible_national_identifier_and_area_codes" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:accessible.national.identifier.and.area.codes">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="12"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="remarks" type="s:remarks" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="message_downgrading_or_declassification_data" type="s:message.downgrading.or.declassification.data" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    <xsd:attribute name="mtfid" type="xsd:string" fixed="COMMGATEWAYREQ"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
