data/ASMTF/commgatewayreq/sets.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="asmtf2006:set" xml:lang="en-US" version="1.1"
 xmlns="asmtf2006:set"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:c="asmtf2006:composite"
 xmlns:f="asmtf2006:field"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="asmtf2006:composite" schemaLocation="composites.xsd"/>
  <xsd:import namespace="asmtf2006:field" schemaLocation="fields.xsd"/>

  <xsd:complexType name="set.base.type">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="narrative_information" type="narrative.information" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="amplification">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="AMPN"/>
  </xsd:complexType>

  <xsd:complexType name="message.downgrading.or.declassification.data">
    <xsd:sequence>
      <xsd:element name="source_for_classification" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="derivative_source_for_classification">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:derivative.source.for.classification.679.1">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="679-1"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="original_classification_authority">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:original.classification.authority.679.4">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="679-4"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="reason_for_classification" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:reason.for.classification.679.5">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="declassification_requirements" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="declassification_instructions">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:declassification.instructions.679.2">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="679-2"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="declassification_date_day_alphamonth_year">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="c:date.day.alphamonth.year.649">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="649-16"/>
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="downgrade_requirements" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="downgrade_instructions">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:downgrade.instructions.679.6">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="679-6"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="downgrade_date_day_alphamonth_year">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="c:date.day.alphamonth.year.649">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="649-31"/>
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="DECL"/>
  </xsd:complexType>

  <xsd:complexType name="date.time.group.of.message.report.created">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="date_time_group" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:date.time.group.647">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="DTG"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="exercise.identification">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="exercise_nickname" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:exercise.nickname.335.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exercise_additional_identifier" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="exercise_message_additional_identifier">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:exercise.message.additional.identifier.335.2">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="335-2"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="exercise_additional_identifier">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:exercise.additional.identifier.335.7">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="335-7"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="EXER"/>
  </xsd:complexType>

  <xsd:complexType name="gateway.node.data">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="gateway_switch_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:gateway.switch.identifier.7062.7">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographic_location_utm_100_meter_1" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:geographic.location.mgrs.100.meter.542">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="gateway_retransmission_cycle_length" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:gateway.retransmission.cycle.length.7010.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="gateway_installation_name" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:gateway.installation.name.7062.2">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_location_utm_100_meter_2" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.mgrs.100.meter.542">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="gateway_limiting_factor" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:gateway.limiting.factor.7010.4">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="other_comments" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:other.comments.7008.1">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="GATENODE"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="gateway.request.data">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="gateway_request_number" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:gateway.request.number.7066.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="dtg_of_gateway_request" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:date.time.group.dtg.7069">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="gateway_requesting_unit_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:gateway.requesting.unit.identifier.7028.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="gateway_receiving_unit_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:gateway.receiving.unit.identifier.7028.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="GATEREQ"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="gateway.status">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="gateway_controlling_side_unit_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:gateway.controlling.side.unit.identifier.7028.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="gateway_security_status" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:gateway.security.status.7075.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="gateway_operational_status_number_one_code" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:gateway.operational.status.number.one.code.7075.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="gateway_operational_status_number_two" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:gateway.operational.status.number.two.7075.3">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="gateway_special_facility_requirement_comment" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:gateway.special.facility.requirement.comment.7008.10">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="GATESTAT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="gateway.planning.time">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="dtg_of_gateway_to_plan_status_one" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:date.time.group.dtg.7069">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="dtg_of_gateway_closure" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:date.time.group.dtg.7069">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="dtg_of_gateway_conversion_to_plan_status_two" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:date.time.group.dtg.7069">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="GATETIME"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="communications.gateway.type">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="communication_gateway_type_codes" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:communication.gateway.type.codes.7010.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="GATETYPE"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="message.identification">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="message_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:message.text.format.identifier.50.9">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="originator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:originator.146.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="message_serial_number" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:message.serial.number.147.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="month_name" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:month.name.580.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="qualifier" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:qualifier.568.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="serial_number_of_qualifier" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.number.of.qualifier.487.17">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="MSGID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="narrative.information">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="NARR"/>
  </xsd:complexType>

  <xsd:complexType name="accessible.national.identifier.and.area.codes">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="own_national_identifier_and_area_code" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:national.identifier.and.area.code.niac.7076">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="accessible_national_identifier_and_area_code" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:national.identifier.and.area.code.niac.7076">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="NIACS"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="operation.identification.data">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="operation_codeword" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:operation.codeword.336.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="plan_originator_and_number" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="c:plan.originator.and.number.102">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="option_nickname" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:option.nickname.585.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="secondary_option_nickname" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:secondary.option.nickname.585.2">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="OPER"/>
  </xsd:complexType>

  <xsd:complexType name="organization.designator.of.drafter.releaser">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="unit_designation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.designation.name.500.70">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_size_indicator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.size.indicator.653.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographical_entity" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographical.entity.59.12">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_a" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.a.97.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_b" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.b.97.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_c" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.c.97.6">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_d" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.d.97.7">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="higher_formation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:higher.formation.name.500.95">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="8"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="organization_code" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="armed_service">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:armed.service.170.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="170-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="civilian_agency_code">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:civilian.agency.code.311.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="311-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="9"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_identification_code_uic" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:unit.identification.code.uic.961">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="10"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ORGIDDFT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="reference">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="serial_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.identifier.636.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="type_of_reference" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="message_text_format_identifier">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:message.text.format.identifier.50.9">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="50-9"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="reference_description">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:reference.description.500.85">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="500-85"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="originator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:originator.146.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="date_and_or_time_of_reference" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="date_of_reference_year_month_day">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.75">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="75-10"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="reference_day_time">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:military.day.time.143">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="143-5"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="reference_date_time_group">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.time.group.647">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="647-16"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_day_alphamonth_year">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.day.alphamonth.year.649">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="649-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.and.month.2044">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2044-4"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_day_month_year">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.day.month.year.87">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="87-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="alphamonth_year">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:alphamonth.year.176">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="176-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="serial_number_of_reference" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.number.of.reference.487.219">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="special_notation" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:special.notation.1042.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="sic_code_or_filing_number" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="sic_code">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:sic.code.332.1">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="332-1"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="filing_number">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:filing.number.487.29">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="487-29"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="REF"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="remarks">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="RMKS"/>
  </xsd:complexType>

</xsd:schema>
