data/ASMTF/brdmlrecceord/composites.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="asmtf2006:composite" xml:lang="en-US" version="1.1"
 xmlns="asmtf2006:composite"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:f="asmtf2006:field"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="asmtf2006:field" schemaLocation="fields.xsd"/>

  <xsd:complexType name="geographic.location.mgrs.10.meter.12">
    <xsd:sequence>
      <xsd:element name="utm_grid_zone_column" type="f:utm.grid.zone.column.162.1"/>
      <xsd:element name="utm_grid_zone_row" type="f:utm.grid.zone.row.163.1"/>
      <xsd:element name="_100_000_meter_square_column" type="f:_100.000.meter.square.column.164.1"/>
      <xsd:element name="_100_000_meter_square_row" type="f:_100.000.meter.square.row.165.1"/>
      <xsd:element name="utm_10_meter_easting" type="f:utm.10.meter.easting.166.1"/>
      <xsd:element name="utm_10_meter_northing" type="f:utm.10.meter.northing.167.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.75">
    <xsd:sequence>
      <xsd:element name="year" type="f:year.21.1"/>
      <xsd:element name="month_numeric" type="f:month.numeric.22.1"/>
      <xsd:element name="day" type="f:day.23.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.day.month.year.87">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="month_numeric" type="f:month.numeric.22.1"/>
      <xsd:element name="year" type="f:year.21.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="plan.originator.and.number.102">
    <xsd:sequence>
      <xsd:element name="plan_originator" type="f:plan.originator.146.11"/>
      <xsd:element name="mandatory_space" type="f:mandatory.space.213.4"/>
      <xsd:element name="operation_plan_number" type="f:operation.plan.number.487.168"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="military.day.time.143">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="hour_time" type="f:hour.time.24.1"/>
      <xsd:element name="minute_time" type="f:minute.time.25.1"/>
      <xsd:element name="time_zone" type="f:time.zone.26.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="alphamonth.year.176">
    <xsd:sequence>
      <xsd:element name="month_name" type="f:month.name.580.1"/>
      <xsd:element name="year" type="f:year.21.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="location.mgrs.1.meter.330">
    <xsd:sequence>
      <xsd:element name="utm_grid_zone_column" type="f:utm.grid.zone.column.162.1"/>
      <xsd:element name="utm_grid_zone_row" type="f:utm.grid.zone.row.163.1"/>
      <xsd:element name="_100_000_meter_square_column" type="f:_100.000.meter.square.column.164.1"/>
      <xsd:element name="_100_000_meter_square_row" type="f:_100.000.meter.square.row.165.1"/>
      <xsd:element name="utm_1_meter_easting" type="f:utm.1.meter.easting.342.1"/>
      <xsd:element name="utm_1_meter_northing" type="f:utm.1.meter.northing.343.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="location.mgrs.1000.meter.462">
    <xsd:sequence>
      <xsd:element name="utm_grid_zone_column" type="f:utm.grid.zone.column.162.1"/>
      <xsd:element name="utm_grid_zone_row" type="f:utm.grid.zone.row.163.1"/>
      <xsd:element name="_100_000_meter_square_column" type="f:_100.000.meter.square.column.164.1"/>
      <xsd:element name="_100_000_meter_square_row" type="f:_100.000.meter.square.row.165.1"/>
      <xsd:element name="utm_1000_meter_easting" type="f:utm.1000.meter.easting.470.1"/>
      <xsd:element name="utm_1000_meter_northing" type="f:utm.1000.meter.northing.545.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="geographic.location.mgrs.100.meter.542">
    <xsd:sequence>
      <xsd:element name="utm_grid_zone_column" type="f:utm.grid.zone.column.162.1"/>
      <xsd:element name="utm_grid_zone_row" type="f:utm.grid.zone.row.163.1"/>
      <xsd:element name="_100_000_meter_square_column" type="f:_100.000.meter.square.column.164.1"/>
      <xsd:element name="_100_000_meter_square_row" type="f:_100.000.meter.square.row.165.1"/>
      <xsd:element name="utm_100_meter_easting" type="f:utm.100.meter.easting.631.1"/>
      <xsd:element name="utm_100_meter_northing" type="f:utm.100.meter.northing.632.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="location.mgrs.abbreviated.10.meter.597">
    <xsd:sequence>
      <xsd:element name="_100_000_meter_square_column" type="f:_100.000.meter.square.column.164.1"/>
      <xsd:element name="_100_000_meter_square_row" type="f:_100.000.meter.square.row.165.1"/>
      <xsd:element name="utm_10_meter_easting" type="f:utm.10.meter.easting.166.1"/>
      <xsd:element name="utm_10_meter_northing" type="f:utm.10.meter.northing.167.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="location.mgrs.abbreviated.100.meter.598">
    <xsd:sequence>
      <xsd:element name="_100_000_meter_square_column" type="f:_100.000.meter.square.column.164.1"/>
      <xsd:element name="_100_000_meter_square_row" type="f:_100.000.meter.square.row.165.1"/>
      <xsd:element name="utm_100_meter_easting" type="f:utm.100.meter.easting.631.1"/>
      <xsd:element name="utm_100_meter_northing" type="f:utm.100.meter.northing.632.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.time.group.647">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="hour_time" type="f:hour.time.24.1"/>
      <xsd:element name="minute_time" type="f:minute.time.25.1"/>
      <xsd:element name="time_zone" type="f:time.zone.26.1"/>
      <xsd:element name="month_name" type="f:month.name.580.1"/>
      <xsd:element name="year" type="f:year.21.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.day.alphamonth.year.649">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="month_name" type="f:month.name.580.1"/>
      <xsd:element name="year" type="f:year.21.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="unit.identification.code.uic.961">
    <xsd:sequence>
      <xsd:element name="nationality" type="f:nationality.59.3"/>
      <xsd:element name="armed_service" type="f:armed.service.170.1"/>
      <xsd:element name="file_sequential_location_number" type="f:file.sequential.location.number.487.207"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="day.time.and.month.2044">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="hour_time" type="f:hour.time.24.1"/>
      <xsd:element name="minute_time" type="f:minute.time.25.1"/>
      <xsd:element name="time_zone" type="f:time.zone.26.1"/>
      <xsd:element name="month_name" type="f:month.name.580.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="date.time.group.dtg.7069">
    <xsd:sequence>
      <xsd:element name="day" type="f:day.23.1"/>
      <xsd:element name="hour_time" type="f:hour.time.24.1"/>
      <xsd:element name="minute_time" type="f:minute.time.25.1"/>
      <xsd:element name="time_zone" type="f:time.zone.26.1"/>
      <xsd:element name="month_name" type="f:month.name.580.1"/>
      <xsd:element name="year" type="f:year.21.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="call.sign.and.frequency.7152">
    <xsd:sequence>
      <xsd:element name="specific_call_sign" type="f:specific.call.sign.2.3"/>
      <xsd:element name="mandatory_space" type="f:mandatory.space.213.4"/>
      <xsd:element name="context_quantity_one_decimal_pt_permitted_8_char_max" type="f:context.quantity.one.decimal.pt.permitted.8.char.max.951.24"/>
      <xsd:element name="radio_frequency_unit_of_measurement" type="f:radio.frequency.unit.of.measurement.29.21"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="location.utm.abbreviated.1.metre.7283">
    <xsd:sequence>
      <xsd:element name="_100_000_meter_square_column" type="f:_100.000.meter.square.column.164.1"/>
      <xsd:element name="_100_000_meter_square_row" type="f:_100.000.meter.square.row.165.1"/>
      <xsd:element name="utm_1_meter_easting" type="f:utm.1.meter.easting.342.1"/>
      <xsd:element name="utm_1_meter_northing" type="f:utm.1.meter.northing.343.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="obstacle.number.7293">
    <xsd:sequence>
      <xsd:element name="regional_identifier" type="f:regional.identifier.7052.14"/>
      <xsd:element name="corps_troops_or_unit_designator" type="f:corps.troops.or.unit.designator.7292.3"/>
      <xsd:element name="division_troops_or_brigade_designator" type="f:division.troops.or.brigade.designator.7292.2"/>
      <xsd:element name="tactical_obstacle_identifier" type="f:tactical.obstacle.identifier.7052.15"/>
      <xsd:element name="tactical_obstacle_number" type="f:tactical.obstacle.number.7066.43"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="quantity.authorised.with.unit.of.measurement.7298">
    <xsd:sequence>
      <xsd:element name="quantity_authorized" type="f:quantity.authorized.31.12"/>
      <xsd:element name="unit_of_measurement_combat_engineers" type="f:unit.of.measurement.combat.engineers.7299.1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="quantity.required.and.unit.of.measurement.7300">
    <xsd:sequence>
      <xsd:element name="quantity_required" type="f:quantity.required.31.24"/>
      <xsd:element name="unit_of_measurement_combat_engineers" type="f:unit.of.measurement.combat.engineers.7299.1"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
