data/ASMTF/brdmlrecceord/messages.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="asmtf2006:message" xml:lang="en-US" version="1.1"
 xmlns="asmtf2006:message"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:s="asmtf2006:set"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="asmtf2006:set" schemaLocation="sets.xsd"/>

  <xsd:element name="national_bridge_demolition_reconnaissance_order">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="exercise_identification" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:exercise.identification">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="1"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="operation_identification_data" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:operation.identification.data">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="2"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="message_identification" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:message.identification">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="3"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="reference" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:reference">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="4"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="geodetic_datum" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:geodetic.datum">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="5"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="date_time_group_of_message_report_created" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:date.time.group.of.message.report.created">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="6"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="organization_designator_of_drafter_releaser" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:organization.designator.of.drafter.releaser">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="7"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="map_data_without_geodetic_datum" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:map.data.without.geodetic.datum">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="8"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="task_serial_number" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:task.serial.number">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="9"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="obstacle_identifier" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:obstacle.identifier">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="10"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="obstacle_zone_belt_name_or_number" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:obstacle.zone.belt.name.or.number">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="11"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="location_and_nearest_feature" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:location.and.nearest.feature">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="12"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="trafficable_when_prepared_for_demolition" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:trafficable.when.prepared.for.demolition">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="13"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="bridge_demolition_status" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:bridge.demolition.status">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="14"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="reconnaissance_timing" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:reconnaissance.timing">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="15"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="to_be_mined" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:to.be.mined">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="16"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="is_mined" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:is.mined">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="17"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="to_be_marked" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:to.be.marked">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="18"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="is_marked" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:is.marked">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="19"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="bridge_identification" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:bridge.identification">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="20"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="name_of_waterway_or_feature" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:name.of.waterway.or.feature">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="21"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="bridge_function" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:bridge.function">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="22"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="name_of_route_to_task_site_road_or_river_segment" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="name_of_route_to_task_site_road_or_river" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:name.of.route.to.task.site.road.or.river">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="23"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="route_start_point" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:route.start.point">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="24"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="route_intermediate_point" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:route.intermediate.point">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="25"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="route_release_point" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:route.release.point">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="26"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="23"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="equipments_data_segment" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="equipments_data" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:equipments.data">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="27"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="material_data" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:material.data">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="28"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="organization_designator_1" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:organization.designator">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="29"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="rendezvous_details_1" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:rendezvous.details">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="30"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="27"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="organisation_function_segment" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="organisation_function" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:organisation.function">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="31"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="organization_designator_2" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:organization.designator">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="32"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="communication_radio_frequency_and_call_sign" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:communication.radio.frequency.and.call.sign">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="33"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="rendezvous_details_2" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                  <xsd:complexContent>
                    <xsd:extension base="s:rendezvous.details">
                      <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="34"/>
                    </xsd:extension>
                  </xsd:complexContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          <xsd:attribute name="seg-seq" type="xsd:unsignedShort" fixed="31"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="acknowledgement_requirement" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="s:acknowledgement.requirement">
                <xsd:attribute name="set-seq" type="xsd:unsignedShort" fixed="35"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="remarks" type="s:remarks" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="message_downgrading_or_declassification_data" type="s:message.downgrading.or.declassification.data" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    <xsd:attribute name="mtfid" type="xsd:string" fixed="BRDMLRECCEORD"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
