data/ASMTF/brdmlrecceord/sets.xsd

<?xml version="1.0" ?>
<!-- Generated by IRIS/DEF XML-MTF Schema Generator               -->
<!-- For more information, contact xml-schema@systematic.co.uk    -->

<xsd:schema targetNamespace="asmtf2006:set" xml:lang="en-US" version="1.1"
 xmlns="asmtf2006:set"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:c="asmtf2006:composite"
 xmlns:f="asmtf2006:field"
 elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xsd:import namespace="asmtf2006:composite" schemaLocation="composites.xsd"/>
  <xsd:import namespace="asmtf2006:field" schemaLocation="fields.xsd"/>

  <xsd:complexType name="set.base.type">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="narrative_information" type="narrative.information" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="acknowledgement.requirement">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="acknowledgement_requirement_indicator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:acknowledgement.requirement.indicator.241.17">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="instructions_or_unit" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="instructions_for_acknowledging">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:instructions.for.acknowledging.150.93">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="150-93"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="force_or_unit_required_to_acknowledge">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:force.or.unit.required.to.acknowledge.987.64">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="987-64"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="AKNLDG"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="amplification">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="AMPN"/>
  </xsd:complexType>

  <xsd:complexType name="bridge.demolition.status">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="demolition_status" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:demolition.status.7075.7">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="BDMLSTAT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="bridge.function">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="road_type" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:road.type.7296.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="BRFUNC"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="bridge.identification">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="bridge_identification_military" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:bridge.identification.military.7295.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="bridge_identification_civilian" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:bridge.identification.civilian.7295.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="BRIDGEID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="communication.radio.frequency.and.call.sign">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="call_sign_and_frequency" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:call.sign.and.frequency.7152">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="own_call_sign_on_all_arms_net" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:own.call.sign.on.all.arms.net.7067.6">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="COMM"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="message.downgrading.or.declassification.data">
    <xsd:sequence>
      <xsd:element name="source_for_classification" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="derivative_source_for_classification">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:derivative.source.for.classification.679.1">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="679-1"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="original_classification_authority">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:original.classification.authority.679.4">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="679-4"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="reason_for_classification" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:reason.for.classification.679.5">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="declassification_requirements" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="declassification_instructions">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:declassification.instructions.679.2">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="679-2"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="declassification_date_day_alphamonth_year">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="c:date.day.alphamonth.year.649">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="649-16"/>
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="downgrade_requirements" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="downgrade_instructions">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:downgrade.instructions.679.6">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="679-6"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="downgrade_date_day_alphamonth_year">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="c:date.day.alphamonth.year.649">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="649-31"/>
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="DECL"/>
  </xsd:complexType>

  <xsd:complexType name="date.time.group.of.message.report.created">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="date_time_group" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:date.time.group.647">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="DTG"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="equipments.data">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="equipment_type" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:equipment.type.66.11">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="equipment_allocation" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:equipment.allocation.7113.58">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="quantity_required" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:quantity.required.31.24">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="duration_required_in_hours" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:duration.required.in.hours.7169.7">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="EQUIPM"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="exercise.identification">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="exercise_nickname" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:exercise.nickname.335.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="exercise_additional_identifier" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="exercise_message_additional_identifier">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:exercise.message.additional.identifier.335.2">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="335-2"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="exercise_additional_identifier">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="f:exercise.additional.identifier.335.7">
                    <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="335-7"/>
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="EXER"/>
  </xsd:complexType>

  <xsd:complexType name="geodetic.datum">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="geodetic_datum" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geodetic.datum.112.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="GEODATUM"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="is.marked">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="is_marked" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:is.marked.7102.22">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ISMARKED"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="is.mined">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="is_mined" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:is.mined.7102.20">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ISMINED"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="location.and.nearest.feature">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="geographic_place_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographic.place.name.500.233">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="utm_grid_reference" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="location_utm_1_meter">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:location.mgrs.1.meter.330">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="330-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="geographic_location_utm_10_meter">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.location.mgrs.10.meter.12">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="12-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="geographic_location_utm_100_meter">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:geographic.location.mgrs.100.meter.542">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="542-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_utm_1000_meter">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:location.mgrs.1000.meter.462">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="462-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="here">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:here.7278.1">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="7278-1"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_utm_abbreviated_1_metre">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:location.utm.abbreviated.1.metre.7283">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="7283-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_utm_abbreviated_10_meter">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:location.mgrs.abbreviated.10.meter.597">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="597-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="location_utm_abbreviated_100_meter">
                        <xsd:complexType>
                          <xsd:complexContent>
                            <xsd:extension base="c:location.mgrs.abbreviated.100.meter.598">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="598-1"/>
                            </xsd:extension>
                          </xsd:complexContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="LOCNF"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="map.data.without.geodetic.datum">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="map_or_chart_series_designator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:map.or.chart.series.designator.117.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="map_or_chart_suffix_number" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:map.or.chart.suffix.number.487.119">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="map_or_chart_sheet_number" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:map.or.chart.sheet.number.487.118">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="map_or_chart_edition_number" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:map.or.chart.edition.number.487.121">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="MAPNOGD"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="material.data">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="group_of_fields" minOccurs="1" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="type_of_material" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:type.of.material.7297.12">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="quantity_authorised_with_unit_of_measure" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:quantity.authorised.with.unit.of.measurement.7298">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="quantity_required_and_unit_of_measurement" minOccurs="1" maxOccurs="1" nillable="true">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:quantity.required.and.unit.of.measurement.7300">
                        <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="MATERIAL"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="message.identification">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="message_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:message.text.format.identifier.50.9">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="originator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:originator.146.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="message_serial_number" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:message.serial.number.147.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="month_name" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:month.name.580.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="qualifier" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:qualifier.568.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="serial_number_of_qualifier" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.number.of.qualifier.487.17">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="MSGID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="narrative.information">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="NARR"/>
  </xsd:complexType>

  <xsd:complexType name="obstacle.identifier">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="obstacle_identification" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="obstacle_number">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:obstacle.number.7293">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="7293-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="obstacle_nickname">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:obstacle.nickname.7062.38">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="7062-38"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="OBSID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="obstacle.zone.belt.name.or.number">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="obstacle_zone_belt_number_or_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="obstacle_zone_belt_number">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:obstacle.zone.belt.number.7066.44">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="7066-44"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="obstacle_zone_belt_name">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:obstacle.zone.belt.name.7062.39">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="7062-39"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="OBSZONE"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="operation.identification.data">
    <xsd:sequence>
      <xsd:element name="amplification" type="amplification" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="operation_codeword" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:operation.codeword.336.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="plan_originator_and_number" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="c:plan.originator.and.number.102">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="option_nickname" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:option.nickname.585.1">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="secondary_option_nickname" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:secondary.option.nickname.585.2">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="OPER"/>
  </xsd:complexType>

  <xsd:complexType name="organisation.function">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="organization_function" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:organization.function.7092.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ORGFUNC"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="organization.designator">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="unit_designation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.designation.name.500.70">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_size_indicator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.size.indicator.653.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="country_of_the_world" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:country.of.the.world.59.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_a" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.a.97.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_b" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.b.97.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_c" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.c.97.6">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_d" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.d.97.7">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="higher_formation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:higher.formation.name.500.95">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="8"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="organization_code" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="armed_service">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:armed.service.170.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="170-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="civilian_agency_code">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:civilian.agency.code.311.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="311-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="9"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_identification_code_uic" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:unit.identification.code.uic.961">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="10"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ORGID"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="organization.designator.of.drafter.releaser">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="unit_designation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.designation.name.500.70">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_size_indicator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.size.indicator.653.2">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographical_entity" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographical.entity.59.12">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_a" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.a.97.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_b" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.b.97.5">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_c" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.c.97.6">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_role_indicator_code_d" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:unit.role.indicator.code.d.97.7">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="higher_formation_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:higher.formation.name.500.95">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="8"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="organization_code" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="armed_service">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:armed.service.170.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="170-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="civilian_agency_code">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:civilian.agency.code.311.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="311-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="9"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="unit_identification_code_uic" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:unit.identification.code.uic.961">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="10"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ORGIDDFT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="reconnaissance.timing">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="dtg_to_submit_report_by" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:date.time.group.dtg.7069">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="no_earlier_than_dtg_for_recon_to_begin" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:date.time.group.dtg.7069">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="dtg_for_recon_to_be_completed" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:date.time.group.dtg.7069">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="RECTIMES"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="reference">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="serial_identifier" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.identifier.636.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="type_of_reference" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="message_text_format_identifier">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:message.text.format.identifier.50.9">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="50-9"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="reference_description">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:reference.description.500.85">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="500-85"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="originator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:originator.146.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="date_and_or_time_of_reference" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="date_of_reference_year_month_day">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.75">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="75-10"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="reference_day_time">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:military.day.time.143">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="143-5"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="reference_date_time_group">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.time.group.647">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="647-16"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_day_alphamonth_year">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.day.alphamonth.year.649">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="649-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="day_time_and_month_of_reference">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:day.time.and.month.2044">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="2044-4"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="date_of_reference_day_month_year">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:date.day.month.year.87">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="87-2"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="alphamonth_year">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:alphamonth.year.176">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="176-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="4"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="serial_number_of_reference" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:serial.number.of.reference.487.219">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="5"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="special_notation" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:special.notation.1042.1">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="6"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="group_of_fields" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="sic_code_or_filing_number" minOccurs="0" maxOccurs="1">
                  <xsd:complexType>
                    <xsd:choice>
                      <xsd:element name="sic_code">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:sic.code.332.1">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="332-1"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="filing_number">
                        <xsd:complexType>
                          <xsd:simpleContent>
                            <xsd:extension base="f:filing.number.487.29">
                              <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="487-29"/>
                            </xsd:extension>
                          </xsd:simpleContent>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:choice>
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="7"/>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="REF"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="remarks">
    <xsd:sequence>
      <xsd:element name="free_text" minOccurs="1" maxOccurs="1" nillable="true">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="f:free.text">
              <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  <xsd:attribute name="setid" type="xsd:string" fixed="RMKS"/>
  </xsd:complexType>

  <xsd:complexType name="route.intermediate.point">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="intermediate_point_number" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:intermediate.point.number.7066.14">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="grid_reference_utm" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="location_utm_1_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.1.meter.330">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="330-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_location_utm_10_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.mgrs.10.meter.12">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="12-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_location_utm_100_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.mgrs.100.meter.542">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="542-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_utm_1000_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.1000.meter.462">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="462-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_utm_abbreviated_1_metre">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.utm.abbreviated.1.metre.7283">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="7283-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_utm_abbreviated_10_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.abbreviated.10.meter.597">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="597-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_utm_abbreviated_100_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.abbreviated.100.meter.598">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="598-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographic_place_name" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographic.place.name.500.233">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="3"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ROUTEIP"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="route.release.point">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="grid_reference_utm" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="location_utm_1_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.1.meter.330">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="330-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_location_utm_10_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.mgrs.10.meter.12">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="12-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_location_utm_100_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.mgrs.100.meter.542">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="542-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_utm_1000_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.1000.meter.462">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="462-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_utm_abbreviated_1_metre">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.utm.abbreviated.1.metre.7283">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="7283-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_utm_abbreviated_10_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.abbreviated.10.meter.597">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="597-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_utm_abbreviated_100_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.abbreviated.100.meter.598">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="598-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographic_place_name" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographic.place.name.500.233">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ROUTERP"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="route.start.point">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="grid_reference_utm" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="location_utm_1_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.1.meter.330">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="330-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_location_utm_10_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.mgrs.10.meter.12">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="12-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="geographic_location_utm_100_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.mgrs.100.meter.542">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="542-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_utm_1000_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.1000.meter.462">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="462-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="here">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:here.7278.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="7278-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_utm_abbreviated_1_metre">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.utm.abbreviated.1.metre.7283">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="7283-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_utm_abbreviated_10_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.abbreviated.10.meter.597">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="597-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="location_utm_abbreviated_100_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.abbreviated.100.meter.598">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="598-1"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="geographic_place_name" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:geographic.place.name.500.233">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ROUTESP"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="name.of.route.to.task.site.road.or.river">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="name_of_route" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:name.of.route.7062.31">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="ROUTNAME"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="rendezvous.details">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="rendezvous_location" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:choice>
                <xsd:element name="rendezvous_position_utm_1_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.1.meter.330">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="330-19"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="rendezvous_position_utm_10_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.mgrs.10.meter.12">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="12-87"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="rendezvous_location_utm_100_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:geographic.location.mgrs.100.meter.542">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="542-3"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="rendezvous_position_utm_1000_meter">
                  <xsd:complexType>
                    <xsd:complexContent>
                      <xsd:extension base="c:location.mgrs.1000.meter.462">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="462-23"/>
                      </xsd:extension>
                    </xsd:complexContent>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="here">
                  <xsd:complexType>
                    <xsd:simpleContent>
                      <xsd:extension base="f:here.7278.1">
                        <xsd:attribute name="ffirn-fudn" type="xsd:string" fixed="7278-1"/>
                      </xsd:extension>
                    </xsd:simpleContent>
                  </xsd:complexType>
                </xsd:element>
              </xsd:choice>
            <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="rendezvous_dtg" minOccurs="0" maxOccurs="1">
            <xsd:complexType>
              <xsd:complexContent>
                <xsd:extension base="c:date.time.group.dtg.7069">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="2"/>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="RVDETAIL"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="to.be.marked">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="to_be_marked" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:to.be.marked.7102.21">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="TOBEMARK"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="to.be.mined">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="mining_indicator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:mining.indicator.7102.19">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="TOBEMINE"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="trafficable.when.prepared.for.demolition">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="trafficable_indicator" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:trafficable.indicator.7102.18">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="TRAFCBLE"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="task.serial.number">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="task_serial_number" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:task.serial.number.7247.4">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="TSKSERNO"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="name.of.waterway.or.feature">
    <xsd:complexContent>
      <xsd:extension base="set.base.type">
        <xsd:sequence>
          <xsd:element name="waterway_or_feature_name" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="f:waterway.or.feature.name.7062.41">
                  <xsd:attribute name="ff-seq" type="xsd:unsignedShort" fixed="1"/>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="setid" type="xsd:string" fixed="WATRFEAT"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
