data/interop/datatypes/dtrm/unionDTRM.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="urn:foo"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:foo="urn:foo">

<xsd:simpleType name="unionTypeDerived">
  <xsd:restriction base="foo:unionType">
    <xsd:enumeration value="12345"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="unionType">
  <xsd:union memberTypes="xsd:int"/>
</xsd:simpleType>

<xsd:element name="A" type="xsd:anySimpleType"/>

</xsd:schema>
