data/OpenOffice/schema/ns11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" xmlns:ns1="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" xmlns:ns2="urn:oasis:names:tc:opendocument:xmlns:config:1.0" xmlns:ns3="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ns4="urn:oasis:names:tc:opendocument:xmlns:form:1.0" xmlns:ns5="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" xmlns:ns6="urn:oasis:names:tc:opendocument:xmlns:script:1.0" xmlns:ns7="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:ns8="urn:oasis:names:tc:opendocument:xmlns:style:1.0" xmlns:ns9="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xmlns:ns10="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" xmlns:ns11="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:ns12="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" xmlns:ns13="urn:oasis:names:tc:opendocument:xmlns:office:1.0" xmlns:ns14="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" xmlns:ns15="urn:oasis:names:tc:opendocument:xmlns:table:1.0" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:ns17="urn:oasis:names:tc:opendocument:xmlns:text:1.0" xmlns:ns16="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" xmlns:elements="http://purl.org/dc/elements/1.1/">
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="elements.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="mathml.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/xforms" schemaLocation="xforms.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" schemaLocation="ns9.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" schemaLocation="ns5.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:config:1.0" schemaLocation="ns2.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" schemaLocation="ns14.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" schemaLocation="ns7.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" schemaLocation="ns3.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:form:1.0" schemaLocation="ns4.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" schemaLocation="ns16.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:office:1.0" schemaLocation="ns13.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" schemaLocation="ns10.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:script:1.0" schemaLocation="ns6.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0" schemaLocation="ns8.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" schemaLocation="ns12.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0" schemaLocation="ns15.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0" schemaLocation="odf.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" schemaLocation="ns1.xsd"/>
  <xs:attribute name="targetElement" type="xs:IDREF"/>
  <xs:attribute name="attributeName" type="xs:string"/>
  <xs:attribute name="values" type="xs:string"/>
  <xs:attribute name="to" type="xs:string"/>
  <xs:attribute name="from" type="xs:string"/>
  <xs:attribute name="by" type="xs:string"/>
  <xs:attribute name="calcMode">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="discrete"/>
        <xs:enumeration value="linear"/>
        <xs:enumeration value="paced"/>
        <xs:enumeration value="spline"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="keyTimes" type="xs:string"/>
  <xs:attribute name="keySplines" type="xs:string"/>
  <xs:attribute name="repeatDur" type="xs:string"/>
  <xs:attribute name="repeatCount" type="xs:nonNegativeInteger"/>
  <xs:attribute name="fill">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="remove"/>
        <xs:enumeration value="freeze"/>
        <xs:enumeration value="hold"/>
        <xs:enumeration value="auto"/>
        <xs:enumeration value="default"/>
        <xs:enumeration value="transition"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="accumulate">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="none"/>
        <xs:enumeration value="sum"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="additive">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="replace"/>
        <xs:enumeration value="sum"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="type" type="xs:string"/>
  <xs:attribute name="subtype" type="xs:string"/>
  <xs:attribute name="direction">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="forward"/>
        <xs:enumeration value="reverse"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="fadeColor">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="forward"/>
        <xs:enumeration value="reverse"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="mode">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="in"/>
        <xs:enumeration value="out"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="begin" type="xs:string"/>
  <xs:attribute name="end" type="xs:string"/>
  <xs:attribute name="dur" type="xs:string"/>
  <xs:attribute name="restart">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="never"/>
        <xs:enumeration value="always"/>
        <xs:enumeration value="whenNotActive"/>
        <xs:enumeration value="default"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="restartDefault">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="never"/>
        <xs:enumeration value="always"/>
        <xs:enumeration value="whenNotActive"/>
        <xs:enumeration value="inherit"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="fillDefault">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="remove"/>
        <xs:enumeration value="freeze"/>
        <xs:enumeration value="hold"/>
        <xs:enumeration value="transition"/>
        <xs:enumeration value="auto"/>
        <xs:enumeration value="inherit"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="accelerate" type="xs:double"/>
  <xs:attribute name="decelerate" type="xs:double"/>
  <xs:attribute name="autoReverse">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="endsync">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="first"/>
        <xs:enumeration value="last"/>
        <xs:enumeration value="all"/>
        <xs:enumeration value="media"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
</xs:schema>
