data/OpenOffice/schema/ns5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" xmlns:ns1="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" xmlns:ns2="urn:oasis:names:tc:opendocument:xmlns:config:1.0" xmlns:ns3="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ns4="urn:oasis:names:tc:opendocument:xmlns:form:1.0" xmlns:ns5="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" xmlns:ns6="urn:oasis:names:tc:opendocument:xmlns:script:1.0" xmlns:ns7="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:ns8="urn:oasis:names:tc:opendocument:xmlns:style:1.0" xmlns:ns9="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xmlns:ns10="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" xmlns:ns11="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:ns12="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" xmlns:ns13="urn:oasis:names:tc:opendocument:xmlns:office:1.0" xmlns:ns14="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" xmlns:ns15="urn:oasis:names:tc:opendocument:xmlns:table:1.0" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:ns17="urn:oasis:names:tc:opendocument:xmlns:text:1.0" xmlns:ns16="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" xmlns:elements="http://purl.org/dc/elements/1.1/">
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="elements.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="mathml.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/xforms" schemaLocation="xforms.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" schemaLocation="ns9.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:config:1.0" schemaLocation="ns2.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" schemaLocation="ns14.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" schemaLocation="ns7.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" schemaLocation="ns3.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:form:1.0" schemaLocation="ns4.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" schemaLocation="ns16.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:office:1.0" schemaLocation="ns13.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" schemaLocation="ns10.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:script:1.0" schemaLocation="ns6.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" schemaLocation="ns11.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0" schemaLocation="ns8.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" schemaLocation="ns12.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0" schemaLocation="ns15.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0" schemaLocation="odf.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" schemaLocation="ns1.xsd"/>
  <xs:element name="chart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns5:title"/>
        <xs:element minOccurs="0" ref="ns5:subtitle"/>
        <xs:element minOccurs="0" ref="ns5:footer"/>
        <xs:element minOccurs="0" ref="ns5:legend"/>
        <xs:element ref="ns5:plot-area"/>
        <xs:element minOccurs="0" ref="ns15:table"/>
      </xs:sequence>
      <xs:attribute name="class" use="required" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z_]+:[0-9a-zA-Z._\-]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="ns12:width"/>
      <xs:attributeGroup ref="ns12:height"/>
      <xs:attribute name="column-mapping" form="qualified" type="xs:string"/>
      <xs:attribute name="row-mapping" form="qualified" type="xs:string"/>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns17:p"/>
      </xs:sequence>
      <xs:attribute ref="ns15:cell-range"/>
      <xs:attributeGroup ref="ns12:x"/>
      <xs:attributeGroup ref="ns12:y"/>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="subtitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns17:p"/>
      </xs:sequence>
      <xs:attribute ref="ns15:cell-range"/>
      <xs:attributeGroup ref="ns12:x"/>
      <xs:attributeGroup ref="ns12:y"/>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="footer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns17:p"/>
      </xs:sequence>
      <xs:attribute ref="ns15:cell-range"/>
      <xs:attributeGroup ref="ns12:x"/>
      <xs:attributeGroup ref="ns12:y"/>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="legend">
    <xs:complexType>
      <xs:attribute name="legend-position" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="start"/>
            <xs:enumeration value="end"/>
            <xs:enumeration value="top"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="top-start"/>
            <xs:enumeration value="bottom-start"/>
            <xs:enumeration value="top-end"/>
            <xs:enumeration value="bottom-end"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="legend-align" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="start"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="end"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="ns12:x"/>
      <xs:attributeGroup ref="ns12:y"/>
      <xs:attribute ref="ns8:legend-expansion"/>
      <xs:attribute ref="ns8:legend-expansion-aspect-ratio"/>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="plot-area">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns7:light"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns5:axis"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns5:series"/>
        <xs:element minOccurs="0" ref="ns5:stock-gain-marker"/>
        <xs:element minOccurs="0" ref="ns5:stock-loss-marker"/>
        <xs:element minOccurs="0" ref="ns5:stock-range-line"/>
        <xs:element minOccurs="0" ref="ns5:wall"/>
        <xs:element minOccurs="0" ref="ns5:floor"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns12:x"/>
      <xs:attributeGroup ref="ns12:y"/>
      <xs:attributeGroup ref="ns12:width"/>
      <xs:attributeGroup ref="ns12:height"/>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="ns15:cell-range-address"/>
      <xs:attribute name="data-source-has-labels" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="none"/>
            <xs:enumeration value="row"/>
            <xs:enumeration value="column"/>
            <xs:enumeration value="both"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="ns7:vrp"/>
      <xs:attribute ref="ns7:vpn"/>
      <xs:attribute ref="ns7:vup"/>
      <xs:attribute ref="ns7:projection"/>
      <xs:attribute ref="ns7:distance"/>
      <xs:attribute ref="ns7:focal-length"/>
      <xs:attribute ref="ns7:shadow-slant"/>
      <xs:attribute ref="ns7:shade-mode"/>
      <xs:attribute ref="ns7:ambient-color"/>
      <xs:attribute ref="ns7:lighting-mode"/>
      <xs:attribute ref="ns7:transform"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="axis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns5:title"/>
        <xs:element minOccurs="0" ref="ns5:categories"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns5:grid"/>
      </xs:sequence>
      <xs:attribute name="dimension" use="required" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="x"/>
            <xs:enumeration value="y"/>
            <xs:enumeration value="z"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="name" form="qualified" type="xs:string"/>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="series">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns5:domain"/>
        <xs:element minOccurs="0" ref="ns5:mean-value"/>
        <xs:element minOccurs="0" ref="ns5:regression-curve"/>
        <xs:element minOccurs="0" ref="ns5:error-indicator"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns5:data-point"/>
      </xs:sequence>
      <xs:attribute name="values-cell-range-address" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([$]?([^\. ']+|'[^']+'))?\.[$]?[A-Z]+[$]?[0-9]+(:([$]?([^\. ']+|'[^']+'))?\.[$]?[A-Z]+[$]?[0-9]+)?"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="label-cell-address" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="([$]?([^\. ']+|'[^']+'))?\.[$]?[A-Z]+[$]?[0-9]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="class" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z_]+:[0-9a-zA-Z._\-]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="attached-axis" form="qualified" type="xs:string"/>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="stock-gain-marker">
    <xs:complexType>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="stock-loss-marker">
    <xs:complexType>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="stock-range-line">
    <xs:complexType>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="wall">
    <xs:complexType>
      <xs:attributeGroup ref="ns12:width"/>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="floor">
    <xs:complexType>
      <xs:attributeGroup ref="ns12:width"/>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="categories">
    <xs:complexType>
      <xs:attribute ref="ns15:cell-range-address"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="grid">
    <xs:complexType>
      <xs:attribute name="class" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="major"/>
            <xs:enumeration value="minor"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="domain">
    <xs:complexType>
      <xs:attribute ref="ns15:cell-range-address"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mean-value">
    <xs:complexType>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="regression-curve">
    <xs:complexType>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="error-indicator">
    <xs:complexType>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="data-point">
    <xs:complexType>
      <xs:attribute name="repeated" form="qualified" type="xs:nonNegativeInteger"/>
      <xs:attribute name="style-name" form="qualified">
        <xs:simpleType>
          <xs:union memberTypes="xs:NCName">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:length value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
