data/OpenOffice/schema/ns7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:ns1="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" xmlns:ns2="urn:oasis:names:tc:opendocument:xmlns:config:1.0" xmlns:ns3="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ns4="urn:oasis:names:tc:opendocument:xmlns:form:1.0" xmlns:ns5="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" xmlns:ns6="urn:oasis:names:tc:opendocument:xmlns:script:1.0" xmlns:ns7="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:ns8="urn:oasis:names:tc:opendocument:xmlns:style:1.0" xmlns:ns9="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xmlns:ns10="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" xmlns:ns11="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:ns12="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" xmlns:ns13="urn:oasis:names:tc:opendocument:xmlns:office:1.0" xmlns:ns14="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" xmlns:ns15="urn:oasis:names:tc:opendocument:xmlns:table:1.0" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:ns17="urn:oasis:names:tc:opendocument:xmlns:text:1.0" xmlns:ns16="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" xmlns:elements="http://purl.org/dc/elements/1.1/">
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="elements.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="mathml.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/xforms" schemaLocation="xforms.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" schemaLocation="ns9.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" schemaLocation="ns5.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:config:1.0" schemaLocation="ns2.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" schemaLocation="ns14.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" schemaLocation="ns3.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:form:1.0" schemaLocation="ns4.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" schemaLocation="ns16.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:office:1.0" schemaLocation="ns13.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" schemaLocation="ns10.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:script:1.0" schemaLocation="ns6.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" schemaLocation="ns11.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0" schemaLocation="ns8.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" schemaLocation="ns12.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0" schemaLocation="ns15.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0" schemaLocation="odf.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" schemaLocation="ns1.xsd"/>
  <xs:element name="scene">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns7:light"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="ns7:scene"/>
          <xs:element ref="ns7:extrude"/>
          <xs:element ref="ns7:sphere"/>
          <xs:element ref="ns7:rotate"/>
          <xs:element ref="ns7:cube"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute ref="ns7:vrp"/>
      <xs:attribute ref="ns7:vpn"/>
      <xs:attribute ref="ns7:vup"/>
      <xs:attribute ref="ns7:projection"/>
      <xs:attribute ref="ns7:distance"/>
      <xs:attribute ref="ns7:focal-length"/>
      <xs:attribute ref="ns7:shadow-slant"/>
      <xs:attribute ref="ns7:shade-mode"/>
      <xs:attribute ref="ns7:ambient-color"/>
      <xs:attribute ref="ns7:lighting-mode"/>
      <xs:attributeGroup ref="ns12:x"/>
      <xs:attributeGroup ref="ns12:y"/>
      <xs:attributeGroup ref="ns12:width"/>
      <xs:attributeGroup ref="ns12:height"/>
      <xs:attribute ref="ns3:style-name"/>
      <xs:attribute ref="ns3:class-names"/>
      <xs:attribute ref="ns10:style-name"/>
      <xs:attribute ref="ns10:class-names"/>
      <xs:attribute ref="ns3:z-index"/>
      <xs:attribute ref="ns3:id"/>
      <xs:attribute ref="ns3:layer"/>
      <xs:attribute ref="ns15:end-cell-address"/>
      <xs:attribute ref="ns15:end-x"/>
      <xs:attribute ref="ns15:end-y"/>
      <xs:attribute ref="ns15:table-background"/>
      <xs:attribute ref="ns17:anchor-type"/>
      <xs:attribute ref="ns17:anchor-page-number"/>
      <xs:attribute ref="ns7:transform"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="light">
    <xs:complexType>
      <xs:attribute name="diffuse-color" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="#[0-9a-fA-F]{6}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="direction" use="required" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\([ ]*-?([0-9]+(\.[0-9]*)?|\.[0-9]+)([ ]+-?([0-9]+(\.[0-9]*)?|\.[0-9]+)){2}[ ]*\)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="enabled" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="specular" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="extrude">
    <xs:complexType>
      <xs:attribute ref="ns12:d" use="required"/>
      <xs:attribute ref="ns12:viewBox" use="required"/>
      <xs:attribute ref="ns3:id"/>
      <xs:attribute ref="ns3:z-index"/>
      <xs:attribute ref="ns3:layer"/>
      <xs:attribute ref="ns3:style-name"/>
      <xs:attribute ref="ns3:class-names"/>
      <xs:attribute ref="ns10:style-name"/>
      <xs:attribute ref="ns10:class-names"/>
      <xs:attribute ref="ns7:transform"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sphere">
    <xs:complexType>
      <xs:attribute name="center" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\([ ]*-?([0-9]+(\.[0-9]*)?|\.[0-9]+)([ ]+-?([0-9]+(\.[0-9]*)?|\.[0-9]+)){2}[ ]*\)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="size" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\([ ]*-?([0-9]+(\.[0-9]*)?|\.[0-9]+)([ ]+-?([0-9]+(\.[0-9]*)?|\.[0-9]+)){2}[ ]*\)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="ns3:z-index"/>
      <xs:attribute ref="ns3:id"/>
      <xs:attribute ref="ns3:layer"/>
      <xs:attribute ref="ns3:style-name"/>
      <xs:attribute ref="ns3:class-names"/>
      <xs:attribute ref="ns10:style-name"/>
      <xs:attribute ref="ns10:class-names"/>
      <xs:attribute ref="ns7:transform"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="rotate">
    <xs:complexType>
      <xs:attribute ref="ns12:viewBox" use="required"/>
      <xs:attribute ref="ns12:d" use="required"/>
      <xs:attribute ref="ns3:z-index"/>
      <xs:attribute ref="ns3:id"/>
      <xs:attribute ref="ns3:layer"/>
      <xs:attribute ref="ns3:style-name"/>
      <xs:attribute ref="ns3:class-names"/>
      <xs:attribute ref="ns10:style-name"/>
      <xs:attribute ref="ns10:class-names"/>
      <xs:attribute ref="ns7:transform"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cube">
    <xs:complexType>
      <xs:attribute name="min-edge" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\([ ]*-?([0-9]+(\.[0-9]*)?|\.[0-9]+)([ ]+-?([0-9]+(\.[0-9]*)?|\.[0-9]+)){2}[ ]*\)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="max-edge" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\([ ]*-?([0-9]+(\.[0-9]*)?|\.[0-9]+)([ ]+-?([0-9]+(\.[0-9]*)?|\.[0-9]+)){2}[ ]*\)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="ns3:z-index"/>
      <xs:attribute ref="ns3:id"/>
      <xs:attribute ref="ns3:layer"/>
      <xs:attribute ref="ns3:style-name"/>
      <xs:attribute ref="ns3:class-names"/>
      <xs:attribute ref="ns10:style-name"/>
      <xs:attribute ref="ns10:class-names"/>
      <xs:attribute ref="ns7:transform"/>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="shade-mode">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="flat"/>
        <xs:enumeration value="phong"/>
        <xs:enumeration value="gouraud"/>
        <xs:enumeration value="draft"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="projection">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="parallel"/>
        <xs:enumeration value="perspective"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="vrp">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\([ ]*-?([0-9]+(\.[0-9]*)?|\.[0-9]+)([ ]+-?([0-9]+(\.[0-9]*)?|\.[0-9]+)){2}[ ]*\)"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="vpn">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\([ ]*-?([0-9]+(\.[0-9]*)?|\.[0-9]+)([ ]+-?([0-9]+(\.[0-9]*)?|\.[0-9]+)){2}[ ]*\)"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="vup">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\([ ]*-?([0-9]+(\.[0-9]*)?|\.[0-9]+)([ ]+-?([0-9]+(\.[0-9]*)?|\.[0-9]+)){2}[ ]*\)"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="distance">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="-?([0-9]+(\.[0-9]*)?|\.[0-9]+)((cm)|(mm)|(in)|(pt)|(pc)|(px))"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="focal-length">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="-?([0-9]+(\.[0-9]*)?|\.[0-9]+)((cm)|(mm)|(in)|(pt)|(pc)|(px))"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="shadow-slant" type="xs:nonNegativeInteger"/>
  <xs:attribute name="ambient-color">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="#[0-9a-fA-F]{6}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="lighting-mode">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="transform"/>
</xs:schema>
