data/OpenOffice/schema/ns9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xmlns:ns1="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" xmlns:ns2="urn:oasis:names:tc:opendocument:xmlns:config:1.0" xmlns:ns3="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ns4="urn:oasis:names:tc:opendocument:xmlns:form:1.0" xmlns:ns5="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" xmlns:ns6="urn:oasis:names:tc:opendocument:xmlns:script:1.0" xmlns:ns7="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" xmlns:ns8="urn:oasis:names:tc:opendocument:xmlns:style:1.0" xmlns:ns9="urn:oasis:names:tc:opendocument:xmlns:animation:1.0" xmlns:ns10="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" xmlns:ns11="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" xmlns:xforms="http://www.w3.org/2002/xforms" xmlns:ns12="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" xmlns:ns13="urn:oasis:names:tc:opendocument:xmlns:office:1.0" xmlns:ns14="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" xmlns:ns15="urn:oasis:names:tc:opendocument:xmlns:table:1.0" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:ns17="urn:oasis:names:tc:opendocument:xmlns:text:1.0" xmlns:ns16="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" xmlns:elements="http://purl.org/dc/elements/1.1/">
  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="elements.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="mathml.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/xforms" schemaLocation="xforms.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:chart:1.0" schemaLocation="ns5.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:config:1.0" schemaLocation="ns2.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:datastyle:1.0" schemaLocation="ns14.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:dr3d:1.0" schemaLocation="ns7.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:drawing:1.0" schemaLocation="ns3.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:form:1.0" schemaLocation="ns4.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:meta:1.0" schemaLocation="ns16.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:office:1.0" schemaLocation="ns13.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:presentation:1.0" schemaLocation="ns10.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:script:1.0" schemaLocation="ns6.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:smil-compatible:1.0" schemaLocation="ns11.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:style:1.0" schemaLocation="ns8.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:svg-compatible:1.0" schemaLocation="ns12.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:table:1.0" schemaLocation="ns15.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:text:1.0" schemaLocation="odf.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:opendocument:xmlns:xsl-fo-compatible:1.0" schemaLocation="ns1.xsd"/>
  <xs:element name="animate">
    <xs:complexType>
      <xs:attribute ref="ns11:targetElement"/>
      <xs:attribute name="sub-item" form="qualified" type="xs:string"/>
      <xs:attribute ref="ns11:attributeName" use="required"/>
      <xs:attribute ref="ns11:values"/>
      <xs:attribute name="formula" form="qualified" type="xs:string"/>
      <xs:attribute ref="ns11:to"/>
      <xs:attribute ref="ns11:from"/>
      <xs:attribute ref="ns11:by"/>
      <xs:attribute ref="ns11:calcMode"/>
      <xs:attribute ref="ns11:keyTimes"/>
      <xs:attribute ref="ns11:keySplines"/>
      <xs:attribute ref="ns11:repeatDur"/>
      <xs:attribute ref="ns11:repeatCount"/>
      <xs:attribute ref="ns11:fill"/>
      <xs:attribute ref="ns11:accumulate"/>
      <xs:attribute ref="ns11:additive"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="set">
    <xs:complexType>
      <xs:attribute ref="ns11:targetElement"/>
      <xs:attribute name="sub-item" form="qualified" type="xs:string"/>
      <xs:attribute ref="ns11:attributeName" use="required"/>
      <xs:attribute ref="ns11:to"/>
      <xs:attribute ref="ns11:fill"/>
      <xs:attribute ref="ns11:accumulate"/>
      <xs:attribute ref="ns11:additive"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="animateMotion">
    <xs:complexType>
      <xs:attribute ref="ns12:path"/>
      <xs:attribute ref="ns12:origin"/>
      <xs:attribute ref="ns11:calcMode"/>
      <xs:attribute ref="ns11:targetElement"/>
      <xs:attribute name="sub-item" form="qualified" type="xs:string"/>
      <xs:attribute ref="ns11:attributeName" use="required"/>
      <xs:attribute ref="ns11:accumulate"/>
      <xs:attribute ref="ns11:additive"/>
      <xs:attribute ref="ns11:values"/>
      <xs:attribute name="formula" form="qualified" type="xs:string"/>
      <xs:attribute ref="ns11:to"/>
      <xs:attribute ref="ns11:from"/>
      <xs:attribute ref="ns11:by"/>
      <xs:attribute ref="ns11:fill"/>
      <xs:attribute ref="ns11:keyTimes"/>
      <xs:attribute ref="ns11:keySplines"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="animateColor">
    <xs:complexType>
      <xs:attribute ref="ns11:targetElement"/>
      <xs:attribute name="sub-item" form="qualified" type="xs:string"/>
      <xs:attribute ref="ns11:attributeName" use="required"/>
      <xs:attribute ref="ns11:accumulate"/>
      <xs:attribute ref="ns11:additive"/>
      <xs:attribute ref="ns11:values"/>
      <xs:attribute name="formula" form="qualified" type="xs:string"/>
      <xs:attribute ref="ns11:to"/>
      <xs:attribute ref="ns11:from"/>
      <xs:attribute ref="ns11:by"/>
      <xs:attribute ref="ns11:calcMode"/>
      <xs:attribute ref="ns11:keyTimes"/>
      <xs:attribute ref="ns11:keySplines"/>
      <xs:attribute name="color-interpolation" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="rgb"/>
            <xs:enumeration value="hsl"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="color-interpolation-direction" form="qualified">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="clockwise"/>
            <xs:enumeration value="counter-clockwise"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="ns11:fill"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="animateTransform">
    <xs:complexType>
      <xs:attribute ref="ns11:targetElement"/>
      <xs:attribute name="sub-item" form="qualified" type="xs:string"/>
      <xs:attribute ref="ns11:attributeName" use="required"/>
      <xs:attribute ref="ns11:accumulate"/>
      <xs:attribute ref="ns11:additive"/>
      <xs:attribute ref="ns11:values"/>
      <xs:attribute name="formula" form="qualified" type="xs:string"/>
      <xs:attribute ref="ns11:to"/>
      <xs:attribute ref="ns11:from"/>
      <xs:attribute ref="ns11:by"/>
      <xs:attribute ref="ns12:type" use="required"/>
      <xs:attribute ref="ns11:fill"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="transitionFilter">
    <xs:complexType>
      <xs:attribute ref="ns11:targetElement"/>
      <xs:attribute name="sub-item" form="qualified" type="xs:string"/>
      <xs:attribute ref="ns11:accumulate"/>
      <xs:attribute ref="ns11:additive"/>
      <xs:attribute ref="ns11:values"/>
      <xs:attribute name="formula" form="qualified" type="xs:string"/>
      <xs:attribute ref="ns11:to"/>
      <xs:attribute ref="ns11:from"/>
      <xs:attribute ref="ns11:by"/>
      <xs:attribute ref="ns11:calcMode"/>
      <xs:attribute ref="ns11:type" use="required"/>
      <xs:attribute ref="ns11:subtype"/>
      <xs:attribute ref="ns11:direction"/>
      <xs:attribute ref="ns11:fadeColor"/>
      <xs:attribute ref="ns11:mode"/>
      <xs:attribute ref="ns11:fill"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="par">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns9:animate"/>
        <xs:element ref="ns9:set"/>
        <xs:element ref="ns9:animateMotion"/>
        <xs:element ref="ns9:animateColor"/>
        <xs:element ref="ns9:animateTransform"/>
        <xs:element ref="ns9:transitionFilter"/>
        <xs:element ref="ns9:par"/>
        <xs:element ref="ns9:seq"/>
        <xs:element ref="ns9:iterate"/>
        <xs:element ref="ns9:audio"/>
        <xs:element ref="ns9:command"/>
      </xs:choice>
      <xs:attribute ref="ns10:node-type"/>
      <xs:attribute ref="ns10:preset-id"/>
      <xs:attribute ref="ns10:preset-sub-type"/>
      <xs:attribute ref="ns10:preset-class"/>
      <xs:attribute ref="ns10:master-element"/>
      <xs:attribute ref="ns10:group-id"/>
      <xs:attribute name="id" form="qualified" type="xs:ID"/>
      <xs:attribute ref="ns11:begin"/>
      <xs:attribute ref="ns11:end"/>
      <xs:attribute ref="ns11:dur"/>
      <xs:attribute ref="ns11:repeatDur"/>
      <xs:attribute ref="ns11:repeatCount"/>
      <xs:attribute ref="ns11:restart"/>
      <xs:attribute ref="ns11:restartDefault"/>
      <xs:attribute ref="ns11:fill"/>
      <xs:attribute ref="ns11:fillDefault"/>
      <xs:attribute ref="ns11:accelerate"/>
      <xs:attribute ref="ns11:decelerate"/>
      <xs:attribute ref="ns11:autoReverse"/>
      <xs:attribute ref="ns11:endsync"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="seq">
    <xs:complexType>
      <xs:attribute ref="ns10:node-type"/>
      <xs:attribute ref="ns10:preset-id"/>
      <xs:attribute ref="ns10:preset-sub-type"/>
      <xs:attribute ref="ns10:preset-class"/>
      <xs:attribute ref="ns10:master-element"/>
      <xs:attribute ref="ns10:group-id"/>
      <xs:attribute name="id" form="qualified" type="xs:ID"/>
      <xs:attribute ref="ns11:endsync"/>
      <xs:attribute ref="ns11:begin"/>
      <xs:attribute ref="ns11:end"/>
      <xs:attribute ref="ns11:dur"/>
      <xs:attribute ref="ns11:repeatDur"/>
      <xs:attribute ref="ns11:repeatCount"/>
      <xs:attribute ref="ns11:restart"/>
      <xs:attribute ref="ns11:restartDefault"/>
      <xs:attribute ref="ns11:fill"/>
      <xs:attribute ref="ns11:fillDefault"/>
      <xs:attribute ref="ns11:accelerate"/>
      <xs:attribute ref="ns11:decelerate"/>
      <xs:attribute ref="ns11:autoReverse"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="iterate">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns9:animate"/>
        <xs:element ref="ns9:set"/>
        <xs:element ref="ns9:animateMotion"/>
        <xs:element ref="ns9:animateColor"/>
        <xs:element ref="ns9:animateTransform"/>
        <xs:element ref="ns9:transitionFilter"/>
        <xs:element ref="ns9:par"/>
        <xs:element ref="ns9:seq"/>
        <xs:element ref="ns9:iterate"/>
        <xs:element ref="ns9:audio"/>
        <xs:element ref="ns9:command"/>
      </xs:choice>
      <xs:attribute ref="ns10:node-type"/>
      <xs:attribute ref="ns10:preset-id"/>
      <xs:attribute ref="ns10:preset-sub-type"/>
      <xs:attribute ref="ns10:preset-class"/>
      <xs:attribute ref="ns10:master-element"/>
      <xs:attribute ref="ns10:group-id"/>
      <xs:attribute name="id" form="qualified" type="xs:ID"/>
      <xs:attribute ref="ns11:targetElement"/>
      <xs:attribute name="iterate-type" form="qualified" type="xs:string"/>
      <xs:attribute name="iterate-interval" form="qualified" type="xs:duration"/>
      <xs:attribute ref="ns11:begin"/>
      <xs:attribute ref="ns11:end"/>
      <xs:attribute ref="ns11:dur"/>
      <xs:attribute ref="ns11:repeatDur"/>
      <xs:attribute ref="ns11:repeatCount"/>
      <xs:attribute ref="ns11:restart"/>
      <xs:attribute ref="ns11:restartDefault"/>
      <xs:attribute ref="ns11:fill"/>
      <xs:attribute ref="ns11:fillDefault"/>
      <xs:attribute ref="ns11:accelerate"/>
      <xs:attribute ref="ns11:decelerate"/>
      <xs:attribute ref="ns11:autoReverse"/>
      <xs:attribute ref="ns11:endsync"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="audio">
    <xs:complexType>
      <xs:attribute ref="ns10:node-type"/>
      <xs:attribute ref="ns10:preset-id"/>
      <xs:attribute ref="ns10:preset-sub-type"/>
      <xs:attribute ref="ns10:preset-class"/>
      <xs:attribute ref="ns10:master-element"/>
      <xs:attribute ref="ns10:group-id"/>
      <xs:attribute name="id" form="qualified" type="xs:ID"/>
      <xs:attribute ref="xlink:href"/>
      <xs:attribute name="audio-level" form="qualified" type="xs:double"/>
      <xs:attribute ref="ns11:begin"/>
      <xs:attribute ref="ns11:end"/>
      <xs:attribute ref="ns11:dur"/>
      <xs:attribute ref="ns11:repeatDur"/>
      <xs:attribute ref="ns11:repeatCount"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="command">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns9:param"/>
      </xs:sequence>
      <xs:attribute ref="ns10:node-type"/>
      <xs:attribute ref="ns10:preset-id"/>
      <xs:attribute ref="ns10:preset-sub-type"/>
      <xs:attribute ref="ns10:preset-class"/>
      <xs:attribute ref="ns10:master-element"/>
      <xs:attribute ref="ns10:group-id"/>
      <xs:attribute name="id" form="qualified" type="xs:ID"/>
      <xs:attribute name="command" use="required" form="qualified" type="xs:string"/>
      <xs:attribute ref="ns11:begin"/>
      <xs:attribute ref="ns11:end"/>
      <xs:attribute ref="ns11:targetElement"/>
      <xs:attribute name="sub-item" form="qualified" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="param">
    <xs:complexType>
      <xs:attribute name="name" use="required" form="qualified"/>
      <xs:attribute name="value" use="required" form="qualified"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
