data/FixML-4.4/schema/fixml-collateral-base-4-4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Revision: FIXML 4.4 Schema Version - 20040109
    Copyright 2003,2004 FIX Protocol Limited.  All rights reserved.

    This Schema represents FIXML vocabulary based on version 4.4 of the FIX Protocol

    Comments should be posted on the FIX protocol web-site
    www.fixprotocol.org
-->
<xs:schema targetNamespace="http://www.fixprotocol.org/FIXML-4-4" xmlns="http://www.fixprotocol.org/FIXML-4-4" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="fixml-components-impl-4-4.xsd"/>


	<xs:group name="CollateralRequestElements">
		<xs:sequence>		
		<xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="CollExc" type="ExecCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="TrdColl" type="TrdCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" />
		<xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0" />
		<xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="UndColl" type="UndInstrmtCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="TrdRegTS" type="TrdRegTimestamps_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="MiscFees" type="MiscFeesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0" />
		<xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="CollateralRequestAttributes">
		<xs:attribute name="ReqID" type="CollReqID_t" use="required"/>
		<xs:attribute name="AsgnRsn" type="CollAsgnReason_t" use="required"/>
		<xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
		<xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
		<xs:attribute name="Acct" type="Account_t" use="optional"/>
		<xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
		<xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
		<xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
		<xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
		<xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
		<xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
		<xs:attribute name="Qty" type="Quantity_t" use="optional"/>
		<xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
		<xs:attribute name="Ccy" type="Currency_t" use="optional"/>
		<xs:attribute name="MgnExcess" type="MarginExcess_t" use="optional"/>
		<xs:attribute name="TotNetValu" type="TotalNetValue_t" use="optional"/>
		<xs:attribute name="CshOutstanding" type="CashOutstanding_t" use="optional"/>
		<xs:attribute name="Side" type="Side_t" use="optional"/>
		<xs:attribute name="Px" type="Price_t" use="optional"/>
		<xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
		<xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
		<xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
		<xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
		<xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
		<xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
		<xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
		<xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
		<xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
		<xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
		<xs:attribute name="Txt" type="Text_t" use="optional"/>
		<xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
		<xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>

</xs:attributeGroup>
	
	<xs:complexType name="CollateralRequest_message_t" final="#all">
	<xs:annotation>
		<xs:documentation xml:lang="en">CollateralRequest can be found in Volume5 of the specification
		</xs:documentation>
		<xs:appinfo xmlns:x="http://www.fixprotocol.org/fixml/metadata.xsd">
			<xs:Xref Protocol="FIX" name="CollateralRequest" ComponentType="Message"/>
			<xs:Xref Protocol="ISO_15022_XML"/>
		</xs:appinfo>
	</xs:annotation>	
	<xs:complexContent>
			<xs:extension base="Abstract_message_t">
				<xs:sequence>
					<xs:group ref="CollateralRequestElements"/>
				</xs:sequence>
				<xs:attributeGroup ref="CollateralRequestAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
<xs:element name="CollReq" type="CollateralRequest_message_t" substitutionGroup="Message" final="#all"/>

	<xs:group name="CollateralAssignmentElements">
		<xs:sequence>		
		<xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="CollExc" type="ExecCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="TrdColl" type="TrdCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" />
		<xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0" />
		<xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="UndColl" type="UndInstrmtCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="TrdRegTS" type="TrdRegTimestamps_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="MiscFees" type="MiscFeesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0" />
		<xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="SetInstr" type="SettlInstructionsData_Block_t" minOccurs="0" />
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="CollateralAssignmentAttributes">
		<xs:attribute name="ID" type="CollAsgnID_t" use="required"/>
		<xs:attribute name="ReqID" type="CollReqID_t" use="optional"/>
		<xs:attribute name="AsgnRsn" type="CollAsgnReason_t" use="required"/>
		<xs:attribute name="TransTyp" type="CollAsgnTransType_t" use="required"/>
		<xs:attribute name="RefID" type="CollAsgnRefID_t" use="optional"/>
		<xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
		<xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
		<xs:attribute name="Acct" type="Account_t" use="optional"/>
		<xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
		<xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
		<xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
		<xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
		<xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
		<xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
		<xs:attribute name="Qty" type="Quantity_t" use="optional"/>
		<xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
		<xs:attribute name="Ccy" type="Currency_t" use="optional"/>
		<xs:attribute name="MgnExcess" type="MarginExcess_t" use="optional"/>
		<xs:attribute name="TotNetValu" type="TotalNetValue_t" use="optional"/>
		<xs:attribute name="CshOutstanding" type="CashOutstanding_t" use="optional"/>
		<xs:attribute name="Side" type="Side_t" use="optional"/>
		<xs:attribute name="Px" type="Price_t" use="optional"/>
		<xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
		<xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
		<xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
		<xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
		<xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
		<xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
		<xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
		<xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
		<xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
		<xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
		<xs:attribute name="Txt" type="Text_t" use="optional"/>
		<xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
		<xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>

</xs:attributeGroup>
	
	<xs:complexType name="CollateralAssignment_message_t" final="#all">
	<xs:annotation>
		<xs:documentation xml:lang="en">CollateralAssignment can be found in Volume5 of the specification
		</xs:documentation>
		<xs:appinfo xmlns:x="http://www.fixprotocol.org/fixml/metadata.xsd">
			<xs:Xref Protocol="FIX" name="CollateralAssignment" ComponentType="Message"/>
			<xs:Xref Protocol="ISO_15022_XML"/>
		</xs:appinfo>
	</xs:annotation>	
	<xs:complexContent>
			<xs:extension base="Abstract_message_t">
				<xs:sequence>
					<xs:group ref="CollateralAssignmentElements"/>
				</xs:sequence>
				<xs:attributeGroup ref="CollateralAssignmentAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
<xs:element name="CollAsgn" type="CollateralAssignment_message_t" substitutionGroup="Message" final="#all"/>

	<xs:group name="CollateralResponseElements">
		<xs:sequence>		
		<xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="CollExc" type="ExecCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="TrdColl" type="TrdCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" />
		<xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0" />
		<xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="UndColl" type="UndInstrmtCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="TrdRegTS" type="TrdRegTimestamps_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="MiscFees" type="MiscFeesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0" />
		<xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="CollateralResponseAttributes">
		<xs:attribute name="RespID" type="CollRespID_t" use="required"/>
		<xs:attribute name="ID" type="CollAsgnID_t" use="required"/>
		<xs:attribute name="ReqID" type="CollReqID_t" use="optional"/>
		<xs:attribute name="AsgnRsn" type="CollAsgnReason_t" use="required"/>
		<xs:attribute name="TransTyp" type="CollAsgnTransType_t" use="optional"/>
		<xs:attribute name="RespTyp" type="CollAsgnRespType_t" use="required"/>
		<xs:attribute name="RejRsn" type="CollAsgnRejectReason_t" use="optional"/>
		<xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
		<xs:attribute name="Acct" type="Account_t" use="optional"/>
		<xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
		<xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
		<xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
		<xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
		<xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
		<xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
		<xs:attribute name="Qty" type="Quantity_t" use="optional"/>
		<xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
		<xs:attribute name="Ccy" type="Currency_t" use="optional"/>
		<xs:attribute name="MgnExcess" type="MarginExcess_t" use="optional"/>
		<xs:attribute name="TotNetValu" type="TotalNetValue_t" use="optional"/>
		<xs:attribute name="CshOutstanding" type="CashOutstanding_t" use="optional"/>
		<xs:attribute name="Side" type="Side_t" use="optional"/>
		<xs:attribute name="Px" type="Price_t" use="optional"/>
		<xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
		<xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
		<xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
		<xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
		<xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
		<xs:attribute name="Txt" type="Text_t" use="optional"/>
		<xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
		<xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>

</xs:attributeGroup>
	
	<xs:complexType name="CollateralResponse_message_t" final="#all">
	<xs:annotation>
		<xs:documentation xml:lang="en">CollateralResponse can be found in Volume5 of the specification
		</xs:documentation>
		<xs:appinfo xmlns:x="http://www.fixprotocol.org/fixml/metadata.xsd">
			<xs:Xref Protocol="FIX" name="CollateralResponse" ComponentType="Message"/>
			<xs:Xref Protocol="ISO_15022_XML"/>
		</xs:appinfo>
	</xs:annotation>	
	<xs:complexContent>
			<xs:extension base="Abstract_message_t">
				<xs:sequence>
					<xs:group ref="CollateralResponseElements"/>
				</xs:sequence>
				<xs:attributeGroup ref="CollateralResponseAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
<xs:element name="CollRsp" type="CollateralResponse_message_t" substitutionGroup="Message" final="#all"/>

	<xs:group name="CollateralReportElements">
		<xs:sequence>		
		<xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="CollExc" type="ExecCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="TrdColl" type="TrdCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" />
		<xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0" />
		<xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="TrdRegTS" type="TrdRegTimestamps_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="MiscFees" type="MiscFeesGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0" />
		<xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="SetInstr" type="SettlInstructionsData_Block_t" minOccurs="0" />
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="CollateralReportAttributes">
		<xs:attribute name="RptID" type="CollRptID_t" use="required"/>
		<xs:attribute name="ID" type="CollInquiryID_t" use="optional"/>
		<xs:attribute name="Stat" type="CollStatus_t" use="required"/>
		<xs:attribute name="TotNumRpts" type="TotNumReports_t" use="optional"/>
		<xs:attribute name="LastRptReqed" type="LastRptRequested_t" use="optional"/>
		<xs:attribute name="Acct" type="Account_t" use="optional"/>
		<xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
		<xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
		<xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
		<xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
		<xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
		<xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
		<xs:attribute name="Qty" type="Quantity_t" use="optional"/>
		<xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
		<xs:attribute name="Ccy" type="Currency_t" use="optional"/>
		<xs:attribute name="MgnExcess" type="MarginExcess_t" use="optional"/>
		<xs:attribute name="TotNetValu" type="TotalNetValue_t" use="optional"/>
		<xs:attribute name="CshOutstanding" type="CashOutstanding_t" use="optional"/>
		<xs:attribute name="Side" type="Side_t" use="optional"/>
		<xs:attribute name="Px" type="Price_t" use="optional"/>
		<xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
		<xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
		<xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
		<xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
		<xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
		<xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
		<xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
		<xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
		<xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
		<xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
		<xs:attribute name="Txt" type="Text_t" use="optional"/>
		<xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
		<xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>

</xs:attributeGroup>
	
	<xs:complexType name="CollateralReport_message_t" final="#all">
	<xs:annotation>
		<xs:documentation xml:lang="en">CollateralReport can be found in Volume5 of the specification
		</xs:documentation>
		<xs:appinfo xmlns:x="http://www.fixprotocol.org/fixml/metadata.xsd">
			<xs:Xref Protocol="FIX" name="CollateralReport" ComponentType="Message"/>
			<xs:Xref Protocol="ISO_15022_XML"/>
		</xs:appinfo>
	</xs:annotation>	
	<xs:complexContent>
			<xs:extension base="Abstract_message_t">
				<xs:sequence>
					<xs:group ref="CollateralReportElements"/>
				</xs:sequence>
				<xs:attributeGroup ref="CollateralReportAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
<xs:element name="CollRpt" type="CollateralReport_message_t" substitutionGroup="Message" final="#all"/>

	<xs:group name="CollateralInquiryElements">
		<xs:sequence>		
		<xs:element name="Qual" type="CollInqQualGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="CollExc" type="ExecCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="TrdColl" type="TrdCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" />
		<xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0" />
		<xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="TrdRegTS" type="TrdRegTimestamps_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="SprdBnchmkCurve" type="SpreadOrBenchmarkCurveData_Block_t" minOccurs="0" />
		<xs:element name="Stip" type="Stipulations_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="SetInstr" type="SettlInstructionsData_Block_t" minOccurs="0" />
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="CollateralInquiryAttributes">
		<xs:attribute name="ID" type="CollInquiryID_t" use="optional"/>
		<xs:attribute name="SubReqTyp" type="SubscriptionRequestType_t" use="optional"/>
		<xs:attribute name="RspTransportTyp" type="ResponseTransportType_t" use="optional"/>
		<xs:attribute name="RspDest" type="ResponseDestination_t" use="optional"/>
		<xs:attribute name="Acct" type="Account_t" use="optional"/>
		<xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
		<xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
		<xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
		<xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
		<xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
		<xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
		<xs:attribute name="Qty" type="Quantity_t" use="optional"/>
		<xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
		<xs:attribute name="Ccy" type="Currency_t" use="optional"/>
		<xs:attribute name="MgnExcess" type="MarginExcess_t" use="optional"/>
		<xs:attribute name="TotNetValu" type="TotalNetValue_t" use="optional"/>
		<xs:attribute name="CshOutstanding" type="CashOutstanding_t" use="optional"/>
		<xs:attribute name="Side" type="Side_t" use="optional"/>
		<xs:attribute name="Px" type="Price_t" use="optional"/>
		<xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
		<xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
		<xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
		<xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
		<xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
		<xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
		<xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
		<xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
		<xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
		<xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
		<xs:attribute name="Txt" type="Text_t" use="optional"/>
		<xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
		<xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>

</xs:attributeGroup>
	
	<xs:complexType name="CollateralInquiry_message_t" final="#all">
	<xs:annotation>
		<xs:documentation xml:lang="en">CollateralInquiry can be found in Volume5 of the specification
		</xs:documentation>
		<xs:appinfo xmlns:x="http://www.fixprotocol.org/fixml/metadata.xsd">
			<xs:Xref Protocol="FIX" name="CollateralInquiry" ComponentType="Message"/>
			<xs:Xref Protocol="ISO_15022_XML"/>
		</xs:appinfo>
	</xs:annotation>	
	<xs:complexContent>
			<xs:extension base="Abstract_message_t">
				<xs:sequence>
					<xs:group ref="CollateralInquiryElements"/>
				</xs:sequence>
				<xs:attributeGroup ref="CollateralInquiryAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
<xs:element name="CollInq" type="CollateralInquiry_message_t" substitutionGroup="Message" final="#all"/>

	<xs:group name="CollateralInquiryAckElements">
		<xs:sequence>		
		<xs:element name="Qual" type="CollInqQualGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="CollExc" type="ExecCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="TrdColl" type="TrdCollGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" />
		<xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0" />
		<xs:element name="Leg" type="InstrmtLegGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element name="Undly" type="UndInstrmtGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="CollateralInquiryAckAttributes">
		<xs:attribute name="ID" type="CollInquiryID_t" use="required"/>
		<xs:attribute name="Stat" type="CollInquiryStatus_t" use="required"/>
		<xs:attribute name="Rslt" type="CollInquiryResult_t" use="optional"/>
		<xs:attribute name="TotNumRpts" type="TotNumReports_t" use="optional"/>
		<xs:attribute name="Acct" type="Account_t" use="optional"/>
		<xs:attribute name="AcctTyp" type="AccountType_t" use="optional"/>
		<xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
		<xs:attribute name="OrdID" type="OrderID_t" use="optional"/>
		<xs:attribute name="OrdID2" type="SecondaryOrderID_t" use="optional"/>
		<xs:attribute name="ClOrdID2" type="SecondaryClOrdID_t" use="optional"/>
		<xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
		<xs:attribute name="Qty" type="Quantity_t" use="optional"/>
		<xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
		<xs:attribute name="Ccy" type="Currency_t" use="optional"/>
		<xs:attribute name="SesID" type="TradingSessionID_t" use="optional"/>
		<xs:attribute name="SesSub" type="TradingSessionSubID_t" use="optional"/>
		<xs:attribute name="SetSesID" type="SettlSessID_t" use="optional"/>
		<xs:attribute name="SetSesSub" type="SettlSessSubID_t" use="optional"/>
		<xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
		<xs:attribute name="RspTransportTyp" type="ResponseTransportType_t" use="optional"/>
		<xs:attribute name="RspDest" type="ResponseDestination_t" use="optional"/>
		<xs:attribute name="Txt" type="Text_t" use="optional"/>
		<xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
		<xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>

</xs:attributeGroup>
	
	<xs:complexType name="CollateralInquiryAck_message_t" final="#all">
	<xs:annotation>
		<xs:documentation xml:lang="en">CollateralInquiryAck can be found in Volume5 of the specification
		</xs:documentation>
		<xs:appinfo xmlns:x="http://www.fixprotocol.org/fixml/metadata.xsd">
			<xs:Xref Protocol="FIX" name="CollateralInquiryAck" ComponentType="Message"/>
			<xs:Xref Protocol="ISO_15022_XML"/>
		</xs:appinfo>
	</xs:annotation>	
	<xs:complexContent>
			<xs:extension base="Abstract_message_t">
				<xs:sequence>
					<xs:group ref="CollateralInquiryAckElements"/>
				</xs:sequence>
				<xs:attributeGroup ref="CollateralInquiryAckAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
<xs:element name="CollInqAck" type="CollateralInquiryAck_message_t" substitutionGroup="Message" final="#all"/>

	<xs:group name="CollInqQualGrpElements">
		<xs:sequence/>
	</xs:group>
	<xs:attributeGroup name="CollInqQualGrpAttributes">
		<xs:attribute name="Qual" type="CollInquiryQualifier_t" use="optional"/>

</xs:attributeGroup>

	<xs:complexType name="CollInqQualGrp_Block_t" final="#all">
	<xs:annotation>
		<xs:documentation xml:lang="en">CollInqQualGrp is a component
		</xs:documentation>
		<xs:appinfo xmlns:x="http://www.fixprotocol.org/fixml/metadata.xsd">
			<xs:Xref Protocol="FIX" name="CollInqQualGrp" ComponentType="ImplicitBlockRepeating"/>
			<xs:Xref Protocol="ISO_15022_XML"/>
		</xs:appinfo>
	</xs:annotation>
		<xs:sequence>
			<xs:group ref="CollInqQualGrpElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="CollInqQualGrpAttributes"/>
	</xs:complexType>
	<xs:group name="ExecCollGrpElements">
		<xs:sequence/>
	</xs:group>
	<xs:attributeGroup name="ExecCollGrpAttributes">
		<xs:attribute name="ExecID" type="ExecID_t" use="optional"/>

</xs:attributeGroup>

	<xs:complexType name="ExecCollGrp_Block_t" final="#all">
	<xs:annotation>
		<xs:documentation xml:lang="en">ExecCollGrp is a component
		</xs:documentation>
		<xs:appinfo xmlns:x="http://www.fixprotocol.org/fixml/metadata.xsd">
			<xs:Xref Protocol="FIX" name="ExecCollGrp" ComponentType="ImplicitBlockRepeating"/>
			<xs:Xref Protocol="ISO_15022_XML"/>
		</xs:appinfo>
	</xs:annotation>
		<xs:sequence>
			<xs:group ref="ExecCollGrpElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="ExecCollGrpAttributes"/>
	</xs:complexType>
	<xs:group name="UndInstrmtCollGrpElements">
		<xs:sequence>		
		<xs:element name="Undly" type="UnderlyingInstrument_Block_t" minOccurs="0" />
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="UndInstrmtCollGrpAttributes">
		<xs:attribute name="Actn" type="CollAction_t" use="optional"/>

</xs:attributeGroup>

	<xs:complexType name="UndInstrmtCollGrp_Block_t" final="#all">
	<xs:annotation>
		<xs:documentation xml:lang="en">UndInstrmtCollGrp is a component
		</xs:documentation>
		<xs:appinfo xmlns:x="http://www.fixprotocol.org/fixml/metadata.xsd">
			<xs:Xref Protocol="FIX" name="UndInstrmtCollGrp" ComponentType="ImplicitBlockRepeating"/>
			<xs:Xref Protocol="ISO_15022_XML"/>
		</xs:appinfo>
	</xs:annotation>
		<xs:sequence>
			<xs:group ref="UndInstrmtCollGrpElements"/>
		</xs:sequence>
		<xs:attributeGroup ref="UndInstrmtCollGrpAttributes"/>
	</xs:complexType>

</xs:schema>

