data/interop/datatypes/rcs/xmlschema/Additional_w3c.xml.patterns.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:xsdt="http://www.w3.org/XML/2004/xml-schema-test-suite/"
   xmlns:japex="http://www.sun.com/japex/testSuite">
   <xs:element name="pattern">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="pattern1">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\d{3}-[A-Z]{2}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern2">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern
                        value="(\.//)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.)(/(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*(\|(\.//)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.)(/(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*)*"
                     />
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern3">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern
                        value="(\.//)?((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)/)*((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*))))(\|(\.//)?((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)/)*((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*)))))*"
                     />
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern4">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\d{3}-[A-Z]{2}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern5">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\p{IsCJKRadicalsSupplement}*"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern6">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\p{IsCJKUnifiedIdeographsExtensionA}*"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern7">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\p{IsCJKSymbolsandPunctuation}*"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern8">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="[A-C]{0,2}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern9">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="[A-C]{0,2}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern10">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="[A-C]{0,2}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern11">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\d{6}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern12">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\\c"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern13">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\\c"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern14">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="[\C]+"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern15">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="(\n|\s)+b"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern16">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="[A-C]{0,2}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern17">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="[A-C]{0,2}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern18">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="[A-C]{0,2}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern19">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern
                        value="(\.//)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.)(/(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*(\|(\.//)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.)(/(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*)*"
                     />
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern20">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern
                        value="(\.//)?((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)/)*((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*))))(\|(\.//)?((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)/)*((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*)))))*"
                     />
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern21">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\p{IsLatin-1Supplement}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern22">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\p{IsLatinExtended-A}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern23">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\p{IsLatinExtended-A}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern24">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="[0-2][0-9]:[0-5][0-9]:[0-5][0-9].[0-9][0-9][0-9]"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern25">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="[0-2][0-9]:[0-5][0-9]:[0-5][0-9]"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern26">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="T529H72b7opQKe3MedjI8"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern27">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\d{3}-[A-Z]{2}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern28">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\d{3}-[A-Z]{2}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern29">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern
                        value="(\.//)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.)(/(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*(\|(\.//)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.)(/(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*)*"
                     />
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern30">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern
                        value="(\.//)?((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)/)*((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*))))(\|(\.//)?((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)/)*((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*)))))*"
                     />
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern31">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="[a-zA-Z]{1,8}(-[a-zA-Z0-9]{1,8})*"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern32">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\c+"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern33">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\i\c*"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern34">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern35">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="[\-+]?[0-9]+"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern36">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\d{3}-[A-Z]{2}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
            <xs:element name="pattern37">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:pattern value="\d{3}-[A-Z]{2}"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
