data/LocationSightings/LocationSightings.xsd


<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://berjon.com/ns/dahut-sighting"
        elementFormDefault="qualified">


  <element name='dahut-sighting'>
    <complexType>
      <attribute name='id'   type='ID'/>
      <attribute name='long' type='float'/>
      <attribute name='lat'  type='float'/>
    </complexType>
  </element>

</schema>
